<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MAMA: Acknowledgments - Dev.Opera</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="L7q_7GF5c9d7ZAUYdfaTiRaB6sTAGv_cRz3nq5DsabM">
    <meta name="description" content="Dev.Opera is the ultimate source of distilled knowledge for web developers, covering the latest open web technologies and techniques including HTML5, CSS3, JavaScript, SVG, optimizing content for mobiles, tablets and TVs, and creating add-ons such as extensions and themes for the Opera browser.">
    <meta name="keywords" content="Opera, web, HTML5, HTML, CSS3, CSS, JavaScript, SVG, Geolocation, Widgets, Extensions, Unite, Mini, Mobile, web development, design, web design, tutorials, articles, examples, demos, web standards, open standards, open web, video, audio, getusermedia, accessibility, wai-aria, transitions, translations, microformats, microdata, dataset, media queries, viewport, @viewport, transparency, opacity, gradients, box-shadow, text-shadow, web fonts, appcache, websql, local storage, ajax, json, games, userjs, webgl, tv, tablet, emulator, skinning, themes, skins, drasgonfly, mathml, web sockets, operawatir">
    <link rel="icon" href="../../../../static.myopera.com/dev/img/speed_dial-icon.png" type="image/png">
    <link rel="apple-touch-icon" href="../../../../static.myopera.com/dev/img/touch-icon.png" type="image/png">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/devopera.css" type="text/css">
    <!--[if IE 6]><link rel="stylesheet" href="/css/browsers/ie6.css" type="text/css"><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/css/browsers/ie7.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="/css/browsers/ie8.css" type="text/css"><![endif]-->
    <!--[if lte IE 8]><script type="text/javascript" src="/js/ie.js"></script><![endif]-->
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/articles.css">
    <link rel="stylesheet" media="print" href="../../../../static.myopera.com/dev/css/print.css">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/github.css">
    <link rel="alternate" type="application/rss+xml" title="Recent articles - RSS 2.0 Feed" href="../../../feeds/rss/articles">
    <link rel="alternate" type="application/atom+xml" title="Recent articles - Atom 1.0 Feed" href="../../../feeds/atom/articles">
    <link rel="alternate" type="application/rss+xml" title="Recent articles in Web - RSS 2.0 Feed" href="../../../feeds/rss/articles/web">
    <link rel="alternate" type="application/atom+xml" title="Recent articles in Web - Atom 1.0 Feed" href="../../../feeds/atom/articles/web">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../../../static.myopera.com/dev/js/menu.js"></script>
    <noscript>
      <style type="text/css">
.collection ul li ul {
    display: inherit !important;
}
      </style>
    </noscript>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-4118503-4']);
_gaq.push(['_gat._anonymizeIp']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
    </script>

  </head>
  <body class="web">
    <header role="banner"  class="article-view" >
      <div>
        <a href="../../../index.html" id="logo">Dev.Opera</a>
        <form action="http://dev.opera.com/search" role="search">
          <fieldset>
            <label class="hidden" for="q">Search</label>
            <input type="text" name="q" maxlength="256" value="" id="q" required>
            <input type="submit" id="q-submit" value="Search" title="Search">
          </fieldset>
        </form>
        <p id="login">
          <a href="../../../../../https/dev.opera.com/login/index.html" accesskey="L" title="Log in">Log in</a>
        </p>
        <nav id="nav">
          <ul role="menu">

            <li role="menuitem"  class="selected">
              <a href="../../../web.html">Web</a>
            </li>
            <li role="menuitem" >
              <a href="../../../addons.1.html">Add-ons</a>
            </li>
            <li role="menuitem" >
              <a href="../../../mobile.html">Mobile</a>
            </li>
            <li role="menuitem" >
              <a href="../../../tv.html">TV</a>
            </li>
            <li role="menuitem" >
              <a href="../../../labs.html">Labs</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
<section id="content" role="main" class="asideleft">
  <section class="main">
    <article lang="en">
      <h1>MAMA: Acknowledgments</h1>
      <p class="print author">By Brian Wilson</p>

      <ul class="seriesNav">
<li class="prev"><a href="../mama-the-url-set/index.html" rel="prev" title="link to the previous article in the series">Previous article&#8212;MAMA: The URL set</a></li>
<li><a href="../mama/index.html#tableofcontents" rel="index">Table of contents</a></li>
</ul>

<p>I could not have have gotten MAMA to where it is now without a lot of help. 
The following people get many thanks for their numerous contributions. Despite 
the best efforts of the following esteemed personages, any errors that remain 
are entirely my fault.</p>

<ul>
    <li><strong>My managers at Opera: Anthony Nichols, Ola Peter Kleiven, and Snorre Grimsby</strong><br />
        (And by proxy others in the Opera command chain) for giving me the freedom (and especially the time) 
        to grow this project to its current state.</li>
    <li><strong>Rene Saarsoo, Ian Hickson, and Dagfinn Parnas</strong><br /> 
        For having done something like this before. Extra special thanks to Rene Saarsoo for his input and discussions on 
        many of the issues involved. Extra, extra special thanks to Ian Hickson for always providing an ear when I had 
        an idea or three to bounce around.</li>
    <li><strong>Thomas Pike</strong><br />
        For being my go-to MySQL kung-fu master, physical hands in Oslo, and &quot;mama to the MAMA machine&quot;. I have learned and 
        continue to learn oodles from you in many areas.</li>
    <li><strong>Bj&#xF8;rn Vermo, Christer Mjellem Strand, Joen P. Olsen, Jesper Noehr</strong><br />
        For providing machine resources and other assistance at all hours.</li>
    <li><strong>Kazunori Otomo, Tim Altman, Jonny Axelsson, Mark Wilton-Jones, Hallvord R. M. Steen, Sigbj&#xF8;rn Vik,
        Falguni Bhuta, Susan Britt Nichols, and Chris Mills</strong><br />
        For important and critical feedback when necessary, and for the patience when I would bug them about little 
        bits and pieces of the write-up as things progressed.</li>
    <li><strong>Charles McCathieNevile, Herman Robak, Lars Erik Bolstad, Lars Thomas Hansen, Yngve N. Pettersen</strong><br />
        And the countless others at Opera I have pestered at Opera over the years looking for feature requests.</li>
    <li><strong>Olivier Th&#xE9;reaux, Karl Dubost, and Philip (author of the <a href="http://nikitathespider.com/">Nikita 
        the Spider</a> tool)</strong><br />
        For key discussions and commentary on the W3C markup validator.</li>
    <li><strong>Christopher Diggins</strong><br />
        Who wrote a simple, public-domain <a href="http://www.cdiggins.com/tokenizer.html">JavaScript tokenizer</a>
        that I stumbled across. I hacked it apart, mangled it, destroyed it, and subsequently re-wrote it in Perl to add a crude-ish, 
        first-generation JavaScript grokking mechanism to MAMA.</li> 
    <li><strong>Family and friends</strong><br />
        For doing initial rough editing even if they sometimes did not understand what I was talking about. =)</li>
    <li><strong>And my amazing wife</strong><br />
        For the love, patience, and cookies (the yummy kind) that fill my life to overflowing.</li>
</ul>

<ul class="seriesNav">
<li class="prev"><a href="../mama-the-url-set/index.html" rel="prev" title="link to the previous article in the series">Previous article&#8212;MAMA: The URL set</a></li>
<li><a href="../mama/index.html#tableofcontents" rel="index">Table of contents</a></li>
</ul>

      <p id="license" class="info">This article is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/" rel="license">Creative Commons Attribution, Non Commercial - Share Alike 2.5</a> license.</p>

    </article>
<section id="comments">
  <h2>Comments</h2>
      <p class="info">The forum archive of this article is still available on <a href="http://my.opera.com/community/forums/topic.dml?id=253355">My Opera</a>.</p>
  <ul>
  </ul>
No new comments accepted.
</section>

  </section>

  <aside>
    <section class="info">
      <p class="author"><strong>Author</strong> <a href="../../../author/blooberry.html" rel="author">Brian Wilson</a></p>
      <p>
        <strong>Date</strong>
        Wednesday, October 15, 2008
      </p>

    </section>
  </aside>




</section>
<script type="text/javascript" src="../../../../static.myopera.com/dev/js/highlight.pack.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

    <footer>
      <section role="contentinfo">
        <ul>
          <li><a href="../../../help.html">Help/<abbr>FAQ</abbr></a>
          <li><a href="http://my.opera.com/community/terms-of-service/?utm_source=devopera&amp;utm_medium=footer&amp;utm_campaign=devlinks">Terms of service</a>
          <li><a href="../../../privacy.html">Privacy</a>
        </ul>
      </section>
    </footer>
  </body>
</html>
