<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Opera 18+ ve Temalar - Dev.Opera</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="L7q_7GF5c9d7ZAUYdfaTiRaB6sTAGv_cRz3nq5DsabM">
    <meta name="description" content="Dev.Opera is the ultimate source of distilled knowledge for web developers, covering the latest open web technologies and techniques including HTML5, CSS3, JavaScript, SVG, optimizing content for mobiles, tablets and TVs, and creating add-ons such as extensions and themes for the Opera browser.">
    <meta name="keywords" content="Opera, web, HTML5, HTML, CSS3, CSS, JavaScript, SVG, Geolocation, Widgets, Extensions, Unite, Mini, Mobile, web development, design, web design, tutorials, articles, examples, demos, web standards, open standards, open web, video, audio, getusermedia, accessibility, wai-aria, transitions, translations, microformats, microdata, dataset, media queries, viewport, @viewport, transparency, opacity, gradients, box-shadow, text-shadow, web fonts, appcache, websql, local storage, ajax, json, games, userjs, webgl, tv, tablet, emulator, skinning, themes, skins, drasgonfly, mathml, web sockets, operawatir">
    <link rel="icon" href="../../../../static.myopera.com/dev/img/speed_dial-icon.png" type="image/png">
    <link rel="apple-touch-icon" href="../../../../static.myopera.com/dev/img/touch-icon.png" type="image/png">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/devopera.css" type="text/css">
    <!--[if IE 6]><link rel="stylesheet" href="/css/browsers/ie6.css" type="text/css"><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/css/browsers/ie7.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="/css/browsers/ie8.css" type="text/css"><![endif]-->
    <!--[if lte IE 8]><script type="text/javascript" src="/js/ie.js"></script><![endif]-->
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/articles.css">
    <link rel="stylesheet" media="print" href="../../../../static.myopera.com/dev/css/print.css">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/github.css">
    <link rel="alternate" type="application/rss+xml" title="Recent articles - RSS 2.0 Feed" href="../../../feeds/rss/articles">
    <link rel="alternate" type="application/atom+xml" title="Recent articles - Atom 1.0 Feed" href="../../../feeds/atom/articles">
    <link rel="alternate" type="application/rss+xml" title="Recent articles in Add-ons - RSS 2.0 Feed" href="../../../feeds/rss/articles/addons">
    <link rel="alternate" type="application/atom+xml" title="Recent articles in Add-ons - Atom 1.0 Feed" href="../../../feeds/atom/articles/addons">
    <link rel="alternate" type="application/rss+xml" title="Recent articles in Themes - RSS 2.0 Feed" href="../../../feeds/rss/articles/addons/themes">
    <link rel="alternate" type="application/atom+xml" title="Recent articles in Themes - Atom 1.0 Feed" href="../../../feeds/atom/articles/addons/themes">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../../../static.myopera.com/dev/js/menu.js"></script>
    <noscript>
      <style type="text/css">
.collection ul li ul {
    display: inherit !important;
}
      </style>
    </noscript>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-4118503-4']);
_gaq.push(['_gat._anonymizeIp']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
    </script>

  </head>
  <body class="themes">
    <header role="banner"  class="article-view" >
      <div>
        <a href="../../../index.html" id="logo">Dev.Opera</a>
        <form action="http://dev.opera.com/search" role="search">
          <fieldset>
            <label class="hidden" for="q">Search</label>
            <input type="text" name="q" maxlength="256" value="" id="q" required>
            <input type="submit" id="q-submit" value="Search" title="Search">
          </fieldset>
        </form>
        <p id="login">
          <a href="../../../../../https/dev.opera.com/login/index.html" accesskey="L" title="Log in">Log in</a>
        </p>
        <nav id="nav">
          <ul role="menu">

            <li role="menuitem" >
              <a href="../../../web.html">Web</a>
            </li>
            <li role="menuitem"  class="selected">
              <a href="../../../addons.1.html">Add-ons</a>
            </li>
            <li role="menuitem" >
              <a href="../../../mobile.html">Mobile</a>
            </li>
            <li role="menuitem" >
              <a href="../../../tv.html">TV</a>
            </li>
            <li role="menuitem" >
              <a href="../../../labs.html">Labs</a>
            </li>
          </ul>
        </nav>
      </div>
      <nav id="subnav">
        <ul role="menu">
            <li role="menuitem" >
              <a href="../../../addons/extensions/index.html">Opera 11-12 extensions</a>
            </li>
            <li role="menuitem" >
              <a href="../../../extension-docs/index.html">Opera 15+ extensions</a>
            </li>
            <li role="menuitem"  class="selected">
              <a href="../../../addons/themes.html">Themes</a>
            </li>
        </ul>
      </nav>
    </header>
<section id="content" role="main" class="asideleft">
  <section class="main">
    <article lang="tr">
      <h1>Opera 18+ ve Temalar</h1>
      <p class="print author">By Mağruf Çolakoğlu</p>

      <p>Son zamanlardaki yapmış olduğumuz temel mimarı yapıdaki değişiklere bağlı olarak, Chromium/Blink temelli ilk Opera tarayıcı sürümlerinde (15., 16. ve 17. sürümler) tema desteği bulunmuyordu. Ancak, Opera 18 ve sonraki sürümlerde, temalara yeniden desteklenme! Bu makale Opera 18+ için nasıl tema oluşturacağını anlatmaktadır. </p>

<h2>Nasıl</h2>

<p>Kısaca, aşağıdaki adımları izleyerek tema oluşturabilirsiniz:</p>
<ol>
	<li>Kullanmak istediğiniz iki resim bulun ve bir klasör içerisine koyun — Ben <a href="http://unsplash.com">Unsplash</a> sitesinde iki tane hoş resim buldum.</li>
	<li>Bir metin editörü kullanarak bir persona.ini dosyası oluşturun ve gerekli meta verilerini girin.</li>
	<li>Klasörü .zip dosyası olarak sıkıştırın/arşivleyin.</li>
	<li>Dosyayı opera:themes sayfasına sürükleyerek, çalışıp çalışmadığını test edin.</li>
	<li>Daha sonra temayı <a href="https://addons.opera.com/en/themes/">eklenti kataloğumuza</a> yükleyin.</li>
</ol>

<p>Ben üzerinde oynayabilmek için bir <a href="http://dev.opera.com/articles/view/opera-18-temalari/yellow_sf.zip">test teması</a> hazırladım. Bu dosyayı indirerek, arşivden çıakrın ve içerisinde ne olduğunu inceleyin. Aşağıda bölümlerde detaylı olarak içerikleri bulabilirsiniz.</p>

<img src="../../../../devfiles.myopera.com/articles/12262/yellow_sf.jpg" alt="screenshot of Opera 18 with Yellow SF theme" title="Opera 18&#39;de çalışan Yellow SF teması" style="margin-top: 10px;" />

<h2>Resimler</h2> 
<p>İki tane resim seçmeniz gerekecek: bir tanesi Hızlı Erişim arka planı için, diğeri ise dahili sayfalar için kullanılacak. opera:extensions, opera:settings, opera:about, v.b.</p>
<p>Seçtiğiniz resmin verimli bir şekilde kullanılabileceğinden emin olun zira farklı ekran çözünürlüklerinde kullanılacağı unutmayın. Resim boyutunu mümkün olduğunca ,kaliteden ödün vermeden, azaltabilmek ve gereksiz PNG ve JPG verilerinden arındırabilmek için  <a href="http://imageoptim.com">ImageOptima</a> tarzı kaliteli bir araç kullanabilirsiniz.

<h2>Persona.ini detayları</h2>

<p>Persona.ini dosya içeriği aşağıdaki gibidir:</p>

<pre class="no-highlight"><code>
[Info]
Name               = Yellow SF
Author             = Andreas Bovens
Author URL         = http://bovens.net/
Version            = 2

[Start Page]
Background         = 01.jpg
Position           = center bottom
Title Text Color   = #ffffff
Title Text Shadow  = #261712

[Web UI Pages] 
Background         = 02.jpg
Position           = center top

; images by Charlie Foster, found on http://unsplash.com
</code></pre>

<p>TBurası mümkün oldunca açıklayıcı olmalıdır, fakat gerekiyorsa, detayları satır satır aşağıda bulabilirsiniz:
<ul>
	<li><strong>[Info]</strong>:bilgi bölümü
		<ul>
			<li><strong>Name</strong>: Tema ismi</li>
			<li><strong>Author</strong>: Yazar ismi</li>
			<li><strong>Author URL</strong>:Yazarın web sayfası ya da e-posta adresini belirten bir bağlantı adresi. Geçerli kısaltmalar: http, https, ve mailto</li>
			<li><strong>Version</strong>: Opera+ temalarını içeren 2. versiyon</li>
		</ul>
	</li>
	<li><strong>[Start Page]</strong>: Hızlı erişim ayarları bölümü
		<ul>
			<li><strong>Background</strong>: Hızlı erişim arka planı olarak kullanılacak resmin ismi.</li>
			<li><strong>Position</strong>: Başlangıç sayfası resminin pozisyonu — opsiyoneldir, herhangi bir CSS pozisyon etiketi (left, top, right, bottom, center) kullanılabilir.</li>
			<li><strong>Title Text Color</strong>: Metin rengi — opsiyonel, HEX işareti(alfasız olarak)</li>
			<li><strong>Title Text Shadow</strong>: Metin gölgelendirme rengi — opsiyonel. Eğer uygulanacaksa; text-shadow: 1px 1px 1px &#39;Title Text Shadow değeri&#39; şeklinde kullanılmalı.</li>
		</ul>
	</li>
	<li><strong>[Web UI Pages]</strong>: opera:settings, opera:about, vb. dahili sayfa ayarları bölümü.
		<ul>
			<li><strong>Background</strong>: Sayfaların arka planı olarak kullanılan resim ismi.</li>
			<li><strong>Position</strong>: Konumlandırma ile ilgili detaylar yukarıdaki gibidir.</li>
		</ul>
	</li>
</ul>
<p>Dosyanın sonuna da bir yorum ekledim. İstediğiniz herhangi bir yere istediğiniz bir yorum ekleyebilirsiniz. Sadece bu ayrı bir satırda olmalı ve noktalı virgül (;) ile başlamalıdır. Örneğin bunu kullanacağınız fotoğrafların fotoğrafçısının ya da tasarımcının ismini belirtmek için kullanabilirsiniz.</p>

<h2>Sıkıştırma, test etme ve yükleme</h2>

<p>Sıkıştırdığınız (.zip) klasörünü içinde gereksiz bir veri olmadığından (grafik veri dosyaları, .git klasörleri ya da .DS_Store dosyaları gibi) emin olun.</p>

<p>Temayı test etmek için; tarayıcınızın opera:themes sayfasını açın ve ZIP dosyasını bu sayfaya sürükleyin. Eğer her şey yolunda gittiyse temanız tema yöneticisinin tenim temalarım bölümünde görünecektir.</p>

<p>Temayı kataloğa yüklemek için ise; <a href="https://addons.opera.com/">Opera Eklenti kataloğuna</a> giriş yaparak, sağ üstteki <a href="https://addons.opera.com/en/developer/">Yüklemelerim</a> bağlantısını tıklayın ve Eklenti gönder düğmesine basarak temanızı yükleyin.</p>

<h2>Önceki tema formatı ve mevcut özellikler</h2>

<p>Opera 12 ve 12.1 için yapılan temalar Opera 18+ içinde de çalışmaktadır fakat tüm görsel efektleri içermemektedir. Tema sekmelerin olduğu bölüme kadar uygulanmayacak ve ayrıca &quot;Tint Color&quot; ayarı da artık desteklenmeyecektir.</p>

<h2>Özet</h2>
<p>Gördüğünüz gibi, Opera için tema yapmak çok kolay. Kendiniz deneyin!</p></p></p>

      <section id="author-info">
        <h1><a href="../../../author/ZAHEK.html" rel="author">Mağruf Çolakoğlu</a></h1>
        <a href="../../../author/ZAHEK.html" rel="author"><img src="../../../../../https/static.myopera.com/avatars/pool1/bf/04e/8bfaf8f99ebfaab5ff190d4569fd669c15f.jpg" alt=""/></a>
        <p>Director at Opera Turkey | <a href="http://www.operaturkiye.net" target="_blank">http://www.operaturkiye.net</a><br/>Personel Blog | <a href="http://my.opera.com/zahek" target="_blank">http://my.opera.com/zahek</a></p>
        <br class="clear" />
      </section>
      <p id="license" class="info">This article is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/" rel="license">Creative Commons Attribution 3.0 Unported</a> license.</p>

    </article>
<section id="comments">
  <h2>Comments</h2>
  <ul>
  </ul>
No new comments accepted.
</section>

  </section>

  <aside>
    <section class="info">
      <p class="author"><strong>Author</strong> <a href="../../../author/andreasbovens.html" rel="author">Andreas Bovens</a></p>
      <p class="author"><strong>Translator</strong> <a href="../../../author/ZAHEK.html" rel="author">Mağruf Çolakoğlu</a></p>
      <p>
        <strong>Date</strong>
        Wednesday, December 4, 2013
      </p>

      <p class="tags"><strong>Tags</strong></p>
      <ul class="tags">
        <li><a href="../../tags/opera.html" rel="tag">opera</a></li>
        <li><a href="../../tags/tema.html" rel="tag">tema</a></li>
        <li><a href="../../tags/themes.html" rel="tag">themes</a></li>
      </ul>
      <p><strong>Languages</strong>
        <a href="../themes-in-opera-18-and-higher/index.html">English</a>
      </p>
    </section>
  </aside>




</section>
<script type="text/javascript" src="../../../../static.myopera.com/dev/js/highlight.pack.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

    <footer>
      <section role="contentinfo">
        <ul>
          <li><a href="../../../help.html">Help/<abbr>FAQ</abbr></a>
          <li><a href="http://my.opera.com/community/terms-of-service/?utm_source=devopera&amp;utm_medium=footer&amp;utm_campaign=devlinks">Terms of service</a>
          <li><a href="../../../privacy.html">Privacy</a>
        </ul>
      </section>
    </footer>
  </body>
</html>
