/* Various adjustments to Cosmo bootswatch theme */

body {
	font-family: Helvetica, Arial, sans-serif !important;
	font-weight: 400;
}

.span8 *:not(h1) {
	line-height: 1.7 !important;
}

code {
	color: #666;
	border: 0 !important;
	border-radius: 0 !important;
	background-color: #eee !important;
	white-space: normal;
}

.container-fluid {
	max-width: 1300px !important;
}

#sidebar, .hero-unit {
	margin-top: 60px;
}
h1 {
	line-height: 1.1em;
}
:not(li)>h2 {
	font-size: 1.7em;
	margin-top: -42px !important;
}
h3 {
	font-size: 1.4em;
	margin-top: -42px !important;
}
h4 {
	font-size: 1.1em;
	font-weight: bold;
	margin-top: -47px !important;	
}
h5 {
	font-size: 1em;
	font-weight: bold;
}
img {
	margin-bottom: 1em;
}
pre.prettyprint {
	padding: 1em !important;
	border: 0 !important;
	background-color: #eee !important;
}
dt {
	margin-left: 1em;
	font-style: italic; 
}
dd {
	margin: 0.5em 0 0.5em 1em;
}
dd dd {
	margin-left: 2em;
}

.summary {
	background-color: #DBEBFE;
	padding: 1em !important;
	margin: 1em 0 1em 0;
}
.summary code {
	background: transparent !important;
	border: 0;
}
.description {
	margin-left: 2em;
}
/* / Various adjustments to Cosmo bootswatch theme */

/* table layout fix */
td {
	border: 1px solid #ddd;
	padding: 4px;
}
#___gcse_0 td {
	border: 0 !important;
	padding: 0 !important;
}
/* / table layout fix */

/* Hidden subtitle anchor fix; issue caused by navbar-fixed-top */
:not(li)>h2, h3, h4 {
	padding-top: 52px; 
}
dd+h4 {
	padding-top: 50px;
}
/* / hidden subtitle anchor fix */

/* Fixes for search results */
.gs-title {
	height: 1.4em !important;
}
.gs-bidi-start-align.gs-snippet {
	padding-left: 8px;
}
/* / Fixes for search box */

/* responsive stylesheet fix */
.navbar-search {
	border: 0 !important;
}

/* Sticky footer styles from http://twitter.github.com/bootstrap/examples/sticky-footer-navbar.html */
html, body {
	height: 100%;
	color: #444444;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}
#push {
	height: 60px;
}
footer {
	background-color: #f5f5f5;
	box-sizing: border-box; 
	padding: 10px;
	border-top: 1px solid #ccc;
	margin-top: 2em;
	height: auto;
}
@media (max-width: 767px) {
	footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media (min-width: 980px) {
	#wrap > .container-fluid {
		padding-top: 60px;
	}
}
/* /sticky footer */
