<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lekkie motywy Opery - Dev.Opera</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="L7q_7GF5c9d7ZAUYdfaTiRaB6sTAGv_cRz3nq5DsabM">
    <meta name="description" content="Dev.Opera is the ultimate source of distilled knowledge for web developers, covering the latest open web technologies and techniques including HTML5, CSS3, JavaScript, SVG, optimizing content for mobiles, tablets and TVs, and creating add-ons such as extensions and themes for the Opera browser.">
    <meta name="keywords" content="Opera, web, HTML5, HTML, CSS3, CSS, JavaScript, SVG, Geolocation, Widgets, Extensions, Unite, Mini, Mobile, web development, design, web design, tutorials, articles, examples, demos, web standards, open standards, open web, video, audio, getusermedia, accessibility, wai-aria, transitions, translations, microformats, microdata, dataset, media queries, viewport, @viewport, transparency, opacity, gradients, box-shadow, text-shadow, web fonts, appcache, websql, local storage, ajax, json, games, userjs, webgl, tv, tablet, emulator, skinning, themes, skins, drasgonfly, mathml, web sockets, operawatir">
    <link rel="icon" href="../../../../static.myopera.com/dev/img/speed_dial-icon.png" type="image/png">
    <link rel="apple-touch-icon" href="../../../../static.myopera.com/dev/img/touch-icon.png" type="image/png">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/devopera.css" type="text/css">
    <!--[if IE 6]><link rel="stylesheet" href="/css/browsers/ie6.css" type="text/css"><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/css/browsers/ie7.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="/css/browsers/ie8.css" type="text/css"><![endif]-->
    <!--[if lte IE 8]><script type="text/javascript" src="/js/ie.js"></script><![endif]-->
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/articles.css">
    <link rel="stylesheet" media="print" href="../../../../static.myopera.com/dev/css/print.css">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/github.css">
    <link rel="alternate" type="application/rss+xml" title="Recent articles - RSS 2.0 Feed" href="../../../feeds/rss/articles">
    <link rel="alternate" type="application/atom+xml" title="Recent articles - Atom 1.0 Feed" href="../../../feeds/atom/articles">
    <link rel="alternate" type="application/rss+xml" title="Recent articles in Add-ons - RSS 2.0 Feed" href="../../../feeds/rss/articles/addons">
    <link rel="alternate" type="application/atom+xml" title="Recent articles in Add-ons - Atom 1.0 Feed" href="../../../feeds/atom/articles/addons">
    <link rel="alternate" type="application/rss+xml" title="Recent articles in Themes - RSS 2.0 Feed" href="../../../feeds/rss/articles/addons/themes">
    <link rel="alternate" type="application/atom+xml" title="Recent articles in Themes - Atom 1.0 Feed" href="../../../feeds/atom/articles/addons/themes">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../../../static.myopera.com/dev/js/menu.js"></script>
    <noscript>
      <style type="text/css">
.collection ul li ul {
    display: inherit !important;
}
      </style>
    </noscript>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-4118503-4']);
_gaq.push(['_gat._anonymizeIp']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
    </script>

  </head>
  <body class="themes">
    <header role="banner"  class="article-view" >
      <div>
        <a href="../../../index.html" id="logo">Dev.Opera</a>
        <form action="http://dev.opera.com/search" role="search">
          <fieldset>
            <label class="hidden" for="q">Search</label>
            <input type="text" name="q" maxlength="256" value="" id="q" required>
            <input type="submit" id="q-submit" value="Search" title="Search">
          </fieldset>
        </form>
        <p id="login">
          <a href="../../../../../https/dev.opera.com/login/index.html" accesskey="L" title="Log in">Log in</a>
        </p>
        <nav id="nav">
          <ul role="menu">

            <li role="menuitem" >
              <a href="../../../web.html">Web</a>
            </li>
            <li role="menuitem"  class="selected">
              <a href="../../../addons.1.html">Add-ons</a>
            </li>
            <li role="menuitem" >
              <a href="../../../mobile.html">Mobile</a>
            </li>
            <li role="menuitem" >
              <a href="../../../tv.html">TV</a>
            </li>
            <li role="menuitem" >
              <a href="../../../labs.html">Labs</a>
            </li>
          </ul>
        </nav>
      </div>
      <nav id="subnav">
        <ul role="menu">
            <li role="menuitem" >
              <a href="../../../addons/extensions/index.html">Opera 11-12 extensions</a>
            </li>
            <li role="menuitem" >
              <a href="../../../extension-docs/index.html">Opera 15+ extensions</a>
            </li>
            <li role="menuitem"  class="selected">
              <a href="../../../addons/themes.html">Themes</a>
            </li>
        </ul>
      </nav>
    </header>
<section id="content" role="main" class="asideleft">
  <section class="main">
    <article lang="pl">
      <h1>Lekkie motywy Opery</h1>
      <p class="print author">By matti141</p>

      <h2>Wprowadzenie</h2>
	
<p>Opera 12 wprowadza wiele usprawnień w tym aktualizację systemu skórek. Na początek przemianowaliśmy nazwę z skórki na <strong>motywy</strong>. Jest to nowy, lekki system, który oparty jest na standardowym motywie Opery. W tym artykule przyjrzymy się jak te lekkie motywy działają.</p>

<h2>Jak to działa?</h2>

<p>Te nowe, lekkie motywy działają w ten sam sposób co istniejący już system skórek - są one spakowane w pliku ZIP i zawierają dwie rzeczy: obrazek, który chcesz wykorzystać w swoim motywie i plik persona.ini. Ten plik powoduje, że Opera rozpoznaje plik ZIP jako motyw i kiedy napotka taki (np. przez link do niego), automatycznie go zainstaluje: ładny, prosty proces. Motywy są oparte na standardowym motywie Opery dla każdego systemu operacyjnego.</p>

<p>Plik persona.ini zawiera pewną ilość sekcji, a każda z nich znajduje się w nawiasie kwadratowym np. [Options]. Każda z sekcji zawiera informacje odnośnie danej części motywy, takie jak niestandardowy obraz tła itp. Kluczem jest tu prostota - nadal można stosować stary, ciężki system, by w pełni dostosować wygląd Opery, ale wiele osób chce zrobić coś prostego, a przy tym nie troszczyć się niebezpieczeństwem zniszczenia wyglądu swojej przeglądarki. Lekki system jest dużo łatwiejszy w obsłudze. W <a href="http://www.opera.com/browser/next/">Operze 12</a>, motywy pozwalają dostosować jedynie obraz tła i kolory paneli. Więcej opcji może pojawić się w przyszłości.</p>

<p>W następnej części zostanie pokazane, krok po kroku, jak działają motywy.</p>

<h2>Idąc po przykład</h2>

<p>Aby wypróbować motyw, zainstaluj <a href="http://www.opera.com/browser/next/">Operę 12</a> i wejdź na <a href="https://addons.opera.com/themes/">stronę motywów Opery</a>. Spróbuj kliknąć na jeden z motywów, a zauważysz, że twoja przeglądarka zmieniła wygląd i teraz prezentuje się tak:</p>

<p><img src="../../../../devfiles.myopera.com/articles/9312/theme1.jpg" alt="Lekki motyw Opery 12" /></p>
<p class="comment">Rysunek 1: Motyw w działaniu.</p>

<p class="note">Wszystkie zainstalowane motywy znajdziesz w <em> Opera &gt; Wygląd...</em>. Możesz tam zmienić motyw, lub go usunąć. Możesz nimi zarządzać w katalogu <em>skórek (ang. skin)</em> w twoim profilu Opery. Możesz go znaleźć w: <em>[home folder]/Library/Opera</em> w systemie Mac OS X i Linux, oraz w <em>C:\users\[user]\AppData\Roaming\Opera\Opera</em> w systemie Windows.</p>

<p>Jeśli zapiszesz <a href="../../../../devfiles.myopera.com/articles/9312/natural_history_of_norway.zip">ten motyw</a> (Prawy przycisk myszy &gt; Zapisz element docelowy jako...) i rozpakujesz plik ZIP znajdziesz obrazek tła i plik persona.ini, który zawiera następujące sekcje:
<pre><code># This file describes a test persona for the Opera browser. Not meant for redistribution.</code></pre>

<p>W tym polu, autor pozostawia komentarz dający podstawowe informacje na temat motywu Opery. Możesz swoje uwagi wstawić w dowolnym miejscu w pliku o ile jest w osobnej linii i poprzedzony znakiem krzyżyka (#)</p>

<pre><code>[Info]
Name                          = The Natural History of Norway
Author                        = Opera Software
Version                       = 1
Preview Image                 =</code></pre>

<p>Sekcja <code>[Info]</code> zawiera podstawowe informacje na temat motywu. <code>Name</code> powinien zawierać nazwę motywu, który będzie wyświetlany w <em> Opera &gt; Wygląd...</em> i na stronie z motywami Opery. <code>Author</code> zawierać ma autora motywu, a <code>Version</code> powinno być ustawione na 1 (co oznacza: &quot;Pierwsza wersja lekkiego motywu&quot;). <code>Preview Image</code> ma zapewnić podgląd folderów, ale nie jest obecnie używany.</p>

<pre><code>[Options]
Tint Color                = #3e6da9</code></pre>

<p>Sekcja opcjonalna <code>Tint Color</code>, jeśli nie jest zaznaczone inaczej, to koloryzuje panele w Operze na podany odcień. Niektóre motywy po zainstalowaniu zmienią zabarwienie paneli.</p>

<p class="note"><code>Tint Color</code> zastąpiło <code>Colorize Color</code> (Kolor Kolorowania) ponieważ, nazwa <code>Tint Color</code> jest bardziej intuicyjna (oznacza ona: Odcień Koloru)</p>

<pre><code>[Window Image]
Type                          = BestFit
Background                = Kraken.jpg
Colorize                      = 0</code></pre>

<p>Sekcja <code>[Window Image]</code> kontroluje ustawienia całego okna przeglądarki. <code>Type</code> ustawiony jest na <code>BestFit</code> co oznacza, że Opera będzie dostosowywała obraz tła do okna przeglądarki. Innym możliwym ustawieniem jest: <code>BoxTile</code>. W <code>Background</code> powinna znaleźć się ścieżka do obrazka, który będzie używany jako tło. <code>Colorize = 0</code> jest ustawione na 0 jeśli nie chcesz, by obraz tła był kolorowany kolorem wybranym w <code>Tint Color</code>. Jeśli chcesz ustaw tą opcję na <code>1</code>.</p>

<pre><code>[Clear elements]
Speed Dial Widget Blank Skin  = 1
Speed Dial Widget Skin        = 1
Window Skin                   = 1
Document Window Skin          = 1</code></pre>

<p>Wszystkie te opcje ustawione na <code>1</code> spowoduję, że obraz tła będzie prześwitywał przez Szybkie Wybieranie. Ustaw na <code>0</code> jeśli nie chcesz.</p>

<p>Nie można nic więcej zrobić w nowym systemie motywów, ale w przyszłości mogą zostać wprowadzone nowe możliwości. To brzmi jako ograniczenie, ale jest zastosowane celowo - motywy są do zastosowania niewielkich zmian. Jeśli chcesz wprowadzić większe zmiany, nadal będziesz mógł korzystać z pełnego systemu <code>Skórek</code>. Nowy system lekkich motywów jest prostszy w napisaniu i stosowaniu.</p>

<h2>Instalowanie i udostępnianie motywów</h2>

<p>Kiedy stworzyłeś swój motyw, będziesz chciał go udostępnić, by każdy mógł zobaczyć twoje dzieło. Najlepszym sposobem będzie wysłanie go do naszego działu z dodatkami. — żeby to zrobić skorzystaj z <a href="https://addons.opera.com/pl/developer/upload/">strony udostępniania Dodatków Opery.</a> By to zrobić, będziesz potrzebował konta użytkownika na <a href="http://my.opera.com/community/">my.opera.com</a>. Udostępnione motywy będą łatwe do wyszukania, a zespół Opery Software będzie dokładnie wyszukiwał błędy przed upublicznieniem motywu.</p>

<p>Jeśli zamierzasz udostępnić motyw na własnym serwerze, upewnij się, że ma odpowiedni typ <code>mime</code>, ponieważ może zostać nie zainstalowany. Aby to zrobić umieść następujący kod wewnątrz <code>.htaccess</code> w tym samym katalogu (oczywiście dla serwrów opartych na Apache — inne typy będą potrzebowały odpowiednich dla siebie poprawek):</p>

<pre><code>&lt;files *.zip&gt;
  ForceType application/x-opera-configuration-skin
&lt;/files&gt;</code></pre>

<h2>Podsumowując</h2>

<p>Mamy nadzieję, że ten artykuł przybliżył wam nowe, lekkie motywy Opery. Podzielcie się swoimi opiniami!</p></p>

      <p id="license" class="info">This article is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/" rel="license">Creative Commons Attribution 3.0 Unported</a> license.</p>

    </article>
<section id="comments">
  <h2>Comments</h2>
  <ul>
  </ul>
No new comments accepted.
</section>

  </section>

  <aside>
    <section class="info">
      <p class="author"><strong>Author</strong> <a href="../../../author/chrismills.html" rel="author">Chris Mills</a></p>
      <p class="author"><strong>Translator</strong> <a href="../../../author/matti141.html" rel="author">matti141</a></p>
      <p>
        <strong>Date</strong>
        Monday, May 21, 2012
      </p>

      <p class="tags"><strong>Tags</strong></p>
      <ul class="tags">
        <li><a href="../../tags/customise.html" rel="tag">customise</a></li>
        <li><a href="../../tags/customize.html" rel="tag">customize</a></li>
        <li><a href="../../tags/opera.html" rel="tag">opera</a></li>
        <li><a href="../../tags/persona.html" rel="tag">persona</a></li>
        <li><a href="../../tags/skin.html" rel="tag">skin</a></li>
        <li><a href="../../tags/theme.html" rel="tag">theme</a></li>
      </ul>
      <p><strong>Languages</strong>
        <a href="../operas-lightweight-themes-zh-tw/index.html">Chinese Traditional</a>,
        <a href="../operas-lightweight-themes/index.html">English</a>,
        <a href="../operas-lightweight-themes-de/index.html">German</a>,
        <a href="../temas-ligeros-opera/index.html">Spanish</a>,
        <a href="../operanin-hafif-temalari/index.html">Turkish</a>
      </p>
    </section>
  </aside>




</section>
<script type="text/javascript" src="../../../../static.myopera.com/dev/js/highlight.pack.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

    <footer>
      <section role="contentinfo">
        <ul>
          <li><a href="../../../help.html">Help/<abbr>FAQ</abbr></a>
          <li><a href="http://my.opera.com/community/terms-of-service/?utm_source=devopera&amp;utm_medium=footer&amp;utm_campaign=devlinks">Terms of service</a>
          <li><a href="../../../privacy.html">Privacy</a>
        </ul>
      </section>
    </footer>
  </body>
</html>
