<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Extension developer interview: coffee with the Adblock Plus team - Dev.Opera</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="L7q_7GF5c9d7ZAUYdfaTiRaB6sTAGv_cRz3nq5DsabM">
    <meta name="description" content="Dev.Opera is the ultimate source of distilled knowledge for web developers, covering the latest open web technologies and techniques including HTML5, CSS3, JavaScript, SVG, optimizing content for mobiles, tablets and TVs, and creating add-ons such as extensions and themes for the Opera browser.">
    <meta name="keywords" content="Opera, web, HTML5, HTML, CSS3, CSS, JavaScript, SVG, Geolocation, Widgets, Extensions, Unite, Mini, Mobile, web development, design, web design, tutorials, articles, examples, demos, web standards, open standards, open web, video, audio, getusermedia, accessibility, wai-aria, transitions, translations, microformats, microdata, dataset, media queries, viewport, @viewport, transparency, opacity, gradients, box-shadow, text-shadow, web fonts, appcache, websql, local storage, ajax, json, games, userjs, webgl, tv, tablet, emulator, skinning, themes, skins, drasgonfly, mathml, web sockets, operawatir">
    <link rel="icon" href="../../../../static.myopera.com/dev/img/speed_dial-icon.png" type="image/png">
    <link rel="apple-touch-icon" href="../../../../static.myopera.com/dev/img/touch-icon.png" type="image/png">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/devopera.css" type="text/css">
    <!--[if IE 6]><link rel="stylesheet" href="/css/browsers/ie6.css" type="text/css"><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/css/browsers/ie7.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="/css/browsers/ie8.css" type="text/css"><![endif]-->
    <!--[if lte IE 8]><script type="text/javascript" src="/js/ie.js"></script><![endif]-->
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/articles.css">
    <link rel="stylesheet" media="print" href="../../../../static.myopera.com/dev/css/print.css">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/github.css">
    <link rel="alternate" type="application/rss+xml" title="Recent articles - RSS 2.0 Feed" href="../../../feeds/rss/articles">
    <link rel="alternate" type="application/atom+xml" title="Recent articles - Atom 1.0 Feed" href="../../../feeds/atom/articles">
    <link rel="alternate" type="application/rss+xml" title="Recent articles in Add-ons - RSS 2.0 Feed" href="../../../feeds/rss/articles/addons">
    <link rel="alternate" type="application/atom+xml" title="Recent articles in Add-ons - Atom 1.0 Feed" href="../../../feeds/atom/articles/addons">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../../../static.myopera.com/dev/js/menu.js"></script>
    <noscript>
      <style type="text/css">
.collection ul li ul {
    display: inherit !important;
}
      </style>
    </noscript>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-4118503-4']);
_gaq.push(['_gat._anonymizeIp']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
    </script>

  </head>
  <body class="addons">
    <header role="banner"  class="article-view" >
      <div>
        <a href="../../../index.html" id="logo">Dev.Opera</a>
        <form action="http://dev.opera.com/search" role="search">
          <fieldset>
            <label class="hidden" for="q">Search</label>
            <input type="text" name="q" maxlength="256" value="" id="q" required>
            <input type="submit" id="q-submit" value="Search" title="Search">
          </fieldset>
        </form>
        <p id="login">
          <a href="../../../../../https/dev.opera.com/login/index.html" accesskey="L" title="Log in">Log in</a>
        </p>
        <nav id="nav">
          <ul role="menu">

            <li role="menuitem" >
              <a href="../../../web.html">Web</a>
            </li>
            <li role="menuitem"  class="selected">
              <a href="../../../addons.1.html">Add-ons</a>
            </li>
            <li role="menuitem" >
              <a href="../../../mobile.html">Mobile</a>
            </li>
            <li role="menuitem" >
              <a href="../../../tv.html">TV</a>
            </li>
            <li role="menuitem" >
              <a href="../../../labs.html">Labs</a>
            </li>
          </ul>
        </nav>
      </div>
      <nav id="subnav">
        <ul role="menu">
            <li role="menuitem" >
              <a href="../../../addons/extensions/index.html">Opera 11-12 extensions</a>
            </li>
            <li role="menuitem" >
              <a href="http://dev.opera.com/extension-docs/">Opera 15+ extensions</a>
            </li>
            <li role="menuitem" >
              <a href="../../../addons/themes.html">Themes</a>
            </li>
        </ul>
      </nav>
    </header>
<section id="content" role="main" class="asideleft">
  <section class="main">
    <article lang="en">
      <h1>Extension developer interview: coffee with the Adblock Plus team</h1>
      <p class="print author">By Andreas Bovens</p>

      <p class="note">This is the fourth article in a <a href="../../tags/extension&#32;interview.html">series of interviews</a> with Opera extension developers. We want to shed a light on what drives them, what their workflow is like, which tools they use, what their plans for future extension versions are, and so on. For this interview, we sat down with Ben Williams from <a href="http://adblockplus.org/">Adblock Plus</a>, which is the company behind the popular <a href="https://addons.opera.com/en/extensions/details/opera-adblock/">extension with the same name</a>, and asked him some questions over a (virtual) coffee.</p>

<p><strong>What is Adblock Plus?</strong></p>

<p>Adblock Plus is an open source project that blocks annoying ads on the web. Since its creation in 2006, it has been the most downloaded, most used extension almost continuously. Adblock Plus itself has no functionality. A set of filter lists, which are basically just rules, informs Adblock Plus which elements on a page it should block. Two filter lists are enabled by default: an adblocking list based on your language and the Acceptable Ads exception list. You can keep or discard these, add others, add your own or whitelist certain domains. You can also choose certain lists that block tracking and malware.</p>

<p><strong>How many people work on Adblock Plus? Where are you based?</strong></p>
<p>We have 19 employees. Of those, 15 are based in Germany, one in Utah and one in the Ukraine. Roughly two-thirds of us work in the office in Cologne, the rest remotely.</p>

<div style="width: 665px; margin: 1em 0 0 0;">
<img src="../../../../devfiles.myopera.com/articles/12292/adblockplus-665.jpg" alt="Adblock Plus team" />
<p class="caption">The Adblock Plus team</p>
</div>

<p><strong>How did you come up with the idea for Adblock Plus? How did it start?</strong></p>
<p>Adblock Plus is an open source project that Wladimir Palant created in 2006. The Adblock extension already existed at that point, but was badly maintained. Wladimir originally intended to help out with Adblock to make sure that the users who want to block ads get a good solution. After this didn’t work out he decided to start his own project called Adblock Plus. The original Adblock project went dead shortly after that.</p>

<p>In 2011 Wladimir met Till Faida, a guy who had conducted research on Adblock Plus in college and had experience in online marketing. They agreed that Internet advertising was broken, but felt that there should be a compromise available for sites that depend on advertising. That agreement was the foundation for our Acceptable Ads initiative, which established strict criteria for a new type of non-annoying ad that Adblock Plus would show to its users — at least those who did not opt out. Once a site has applied to Acceptable Ads, their proposed ads go to our community for discussion. If no legitimate objection comes, their ads are whitelisted.</p>

<p>The key to Acceptable Ads and our stance in general is that it’s a compromise that still leaves all control in users’ hands.</p>

<p><strong>How is Adblock Plus different from other adblocking solutions?</strong></p>
<p>Most importantly, we&#39;re different because of Acceptable Ads. We&#39;re the only adblocker that is not destructive to the web. Adblock Plus gives sites an incentive to move to non-annoying ad forms, hopefully changing the whole industry for the better in the long term. At the same time, we&#39;re involving our community in determining which ads are acceptable, and we&#39;ll always give every user the option to block even those.</p>

<p>Other things that make us different are continuous development and that we manage the filter download infrastructure used by most other adblockers. Plus, we won’t be trying to get any ads in Times Square or on the Super Bowl in an attempt to kill ads with ads anytime soon ;) </p>

<p><strong>How come Adblock Plus is free? How do you make money?</strong></p>
<p>Adblock Plus will always remain free and open source. We currently monetize from a fee we charge larger companies that take part in Acceptable Ads. We also received startup capital from a few investors who believe in the initiative.</p>

<p><strong>Back in 2010, Ars Technica published <a href="http://arstechnica.com/business/2010/03/why-ad-blocking-is-devastating-to-the-sites-you-love/">Why Ad Blocking is devastating to the sites you love</a> and similar articles have appeared in other places too — what is your view on this?</strong></p>
<p>The author&#39;s point is clearly legitimate: adblocking hurts websites that depend on ads. This is the main reason we started Acceptable Ads — and we’re the only adblocker that has made any sort of an effort to reach a middle ground.</p>

<p>What the author does not mention is that users are sick of bad ads, and advertisers are trading users’ concerns for short-term interests. The challenge is finding a sustainable way to advertise while preserving user control. Some sites have taken notice, and we applaud their efforts. As an adblocker, we have a responsibility to our users, just like Ars Technica or The Next Web do to their readers; but we also believe that our initiative can be part of the solution to a broken online advertising scene.</p>

<p><strong>What can we expect in the next version of Adblock Plus? Where do you see the extension evolve?</strong></p>
<p>Regarding Adblock Plus for Opera, we&#39;re planning to completely revamp the UI, making it much easier for the user to influence what Adblock Plus blocks and what it lets through. We&#39;re also working on significant performance improvements.</p>

<p><strong>What is your idea-to-development workflow? What&#39;s your UX process like?</strong></p>
<p>We typically discuss ideas either in the public forum or in our internal forum, then create a bunch of mock-ups. The whole team does this, but non-developers need to go the extra mile and get a developer interested, who will then implement it. Every change we push makes it into the development builds, which are tested by a few thousand users who then give valuable feedback. But we still feel the need to get feedback from users faster, especially when revamping the UI; so we&#39;re working on a mechanism that&#39;ll allow us to test features with a small number of users and measure the effects while still maintaining their privacy.</p>

<p><strong>Which tool has been particularly useful when developing Adblock Plus?</strong></p>
<p>The most valuable tools for us are the browsers that we are developing for and the APIs and development tools that they provide.</p>

<p><strong>Thanks for this interview, Ben!</strong></p>



      <section id="author-info">
        <h1><a href="../../../author/andreasbovens.html" rel="author">Andreas Bovens</a></h1>
        <a href="../../../author/andreasbovens.html" rel="author"><img src="../../../../../https/static.myopera.com/avatars/pool1/c0/c93/83b9a906e6ee77ac0410e7056fbe0013388.jpg" alt=""/></a>
        <p>Andreas is based in Oslo, where he works for Opera Software as Extensions Product Manager + Developer Relations.</p>
        <br class="clear" />
      </section>
      <p id="license" class="info">This article is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/" rel="license">Creative Commons Attribution 3.0 Unported</a> license.</p>

    </article>
<section id="comments">
  <h2>Comments</h2>
  <ul>
  </ul>
No new comments accepted.
</section>

  </section>

  <aside>
    <section class="info">
      <p class="author"><strong>Author</strong> <a href="../../../author/andreasbovens.html" rel="author">Andreas Bovens</a></p>
      <p>
        <strong>Date</strong>
        Wednesday, October 23, 2013
      </p>

      <p class="tags"><strong>Tags</strong></p>
      <ul class="tags">
        <li><a href="../../tags/adblockplus.html" rel="tag">adblockplus</a></li>
        <li><a href="../../tags/extension&#32;interview.html" rel="tag">extension interview</a></li>
        <li><a href="../../tags/extensions.html" rel="tag">extensions</a></li>
        <li><a href="../../tags/opera.html" rel="tag">opera</a></li>
      </ul>
    </section>
  </aside>




</section>
<script type="text/javascript" src="../../../../static.myopera.com/dev/js/highlight.pack.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

    <footer>
      <section role="contentinfo">
        <ul>
          <li><a href="../../../help.html">Help/<abbr>FAQ</abbr></a>
          <li><a href="http://my.opera.com/community/terms-of-service/?utm_source=devopera&amp;utm_medium=footer&amp;utm_campaign=devlinks">Terms of service</a>
          <li><a href="../../../privacy.html">Privacy</a>
        </ul>
      </section>
    </footer>
  </body>
</html>
