<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Widgets Runtime: WAC 1.0-supporting Alpha for Android - Dev.Opera</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="L7q_7GF5c9d7ZAUYdfaTiRaB6sTAGv_cRz3nq5DsabM">
    <meta name="description" content="Dev.Opera is the ultimate source of distilled knowledge for web developers, covering the latest open web technologies and techniques including HTML5, CSS3, JavaScript, SVG, optimizing content for mobiles, tablets and TVs, and creating add-ons such as extensions and themes for the Opera browser.">
    <meta name="keywords" content="Opera, web, HTML5, HTML, CSS3, CSS, JavaScript, SVG, Geolocation, Widgets, Extensions, Unite, Mini, Mobile, web development, design, web design, tutorials, articles, examples, demos, web standards, open standards, open web, video, audio, getusermedia, accessibility, wai-aria, transitions, translations, microformats, microdata, dataset, media queries, viewport, @viewport, transparency, opacity, gradients, box-shadow, text-shadow, web fonts, appcache, websql, local storage, ajax, json, games, userjs, webgl, tv, tablet, emulator, skinning, themes, skins, drasgonfly, mathml, web sockets, operawatir">
    <link rel="icon" href="../../../../static.myopera.com/dev/img/speed_dial-icon.png" type="image/png">
    <link rel="apple-touch-icon" href="../../../../static.myopera.com/dev/img/touch-icon.png" type="image/png">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/devopera.css" type="text/css">
    <!--[if IE 6]><link rel="stylesheet" href="/css/browsers/ie6.css" type="text/css"><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/css/browsers/ie7.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="/css/browsers/ie8.css" type="text/css"><![endif]-->
    <!--[if lte IE 8]><script type="text/javascript" src="/js/ie.js"></script><![endif]-->
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/articles.css">
    <link rel="stylesheet" media="print" href="../../../../static.myopera.com/dev/css/print.css">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/github.css">
    <link rel="alternate" type="application/rss+xml" title="Recent articles - RSS 2.0 Feed" href="../../../feeds/rss/articles">
    <link rel="alternate" type="application/atom+xml" title="Recent articles - Atom 1.0 Feed" href="../../../feeds/atom/articles">
    <link rel="alternate" type="application/rss+xml" title="Recent articles in Labs - RSS 2.0 Feed" href="../../../feeds/rss/articles/labs">
    <link rel="alternate" type="application/atom+xml" title="Recent articles in Labs - Atom 1.0 Feed" href="../../../feeds/atom/articles/labs">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../../../static.myopera.com/dev/js/menu.js"></script>
    <noscript>
      <style type="text/css">
.collection ul li ul {
    display: inherit !important;
}
      </style>
    </noscript>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-4118503-4']);
_gaq.push(['_gat._anonymizeIp']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
    </script>

  </head>
  <body class="labs">
    <header role="banner"  class="article-view" >
      <div>
        <a href="../../../index.html" id="logo">Dev.Opera</a>
        <form action="http://dev.opera.com/search" role="search">
          <fieldset>
            <label class="hidden" for="q">Search</label>
            <input type="text" name="q" maxlength="256" value="" id="q" required>
            <input type="submit" id="q-submit" value="Search" title="Search">
          </fieldset>
        </form>
        <p id="login">
          <a href="../../../../../https/dev.opera.com/login/index.html" accesskey="L" title="Log in">Log in</a>
        </p>
        <nav id="nav">
          <ul role="menu">

            <li role="menuitem" >
              <a href="../../../web.html">Web</a>
            </li>
            <li role="menuitem" >
              <a href="../../../addons.1.html">Add-ons</a>
            </li>
            <li role="menuitem" >
              <a href="../../../mobile.html">Mobile</a>
            </li>
            <li role="menuitem" >
              <a href="../../../tv.html">TV</a>
            </li>
            <li role="menuitem"  class="selected">
              <a href="../../../labs.html">Labs</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
<section id="content" role="main" class="asideleft">
  <section class="main">
    <article lang="en">
      <h1>Widgets Runtime: WAC 1.0-supporting Alpha for Android</h1>
      <p class="print author">By Pavel Fokin</p>

      <p>
 Howdy folks, in these short days of the year – &quot;vintersolverv&quot; in Norwegian – Opera Software has prepared something to lighten things up: the alpha release of our mobile widget manager for Android with support for WAC 1.0 APIs!
</p>
<p>
 This build can be run on any Android 2.1+ device, and it allows widgets to access and use device features, such as accelerometer, GPS, camera and more.
</p>
<p>
 To get started, grab the
 <a href="http://www.opera.com/download/get.pl?sub=++++&amp;amp;id=33389&amp;amp;location=270&amp;amp;nothanks=yes">
  Android build
 </a>
 . The build comes with the following widgets preinstalled:
</p>
<ul>
 <li>
  Chicken Quake (WAC 1.0, Accelerometer API)
 </li>
 <li>
  Level Tool (WAC 1.0, Accelerometer API)
 </li>
 <li>
  Sun &amp; Moon
 </li>
 <li>
  River IQ Game
 </li>
 <li>
  Google Translator
 </li>
</ul>
<p>
 For widget developers, we have prepared two articles that explain how to build a WAC 1.0 widget and make it independent from the device&#39;s screen resolution, so it looks good on any device:
</p>
<ul>
 <li>
  <a href="../widget-handset-apis-wac/index.html">
   Introduction to Widget Handset APIs in WAC 1.0
  </a>
 </li>
 <li>
  <a href="../building-a-widget-with-wac/index.html">
   Building a spirit level widget using WAC 1.0
  </a>
 </li>
</ul>
<p>
 There are demo widgets created by Opera for each WAC 1.0 API group. Each widget demonstrates the basic functionality, displays returned values in real time and provides short introduction how to use respective APIs. Refer to installation instructions on how/where to get them.
</p>
<p>
 For more details on how to develop WAC 1.0 widgets, we refer to the
 <a href="http://www.wacapps.net/">
  WAC 1.0 specification
 </a>
 .
</p>
<p>
 This build supports remote debugging via
 <a href="http://www.opera.com/dragonfly/">
  Opera Dragonfly
 </a>
 ; please refer to
 <a href="../remote-debugging-of-widgets-on-mobile-devices/index.html">
  Dev.Opera
 </a>
 for more instructions.
</p>
<p>
 Play with the build, try to create your own WAC 1.0 widgets and let us know what you think on the
 <a href="http://my.opera.com/community/forums/forum.dml?id=1296">
  Opera Widgets forum
 </a>
 .
</p>
<p>
 Please note that this build is just alpha quality, meaning there are known issues. Some of them are as serious as crashes and freezes, so please read the disclaimer in the installation document before you work with it.
</p>
<p>
 Also, we&#39;d like to share our intended roadmap with you: we plan to release a build of better quality in January 2011, and a WAC 1.0 emulator for desktop computers with support for WAC APIs, so widget developers will have more handy tools. Stay tuned!
</p>
<p>
 There is a press release available as well:
 <a href="http://www.opera.com/press/releases/2010/12/22/">
  Opera releases WAC-ready widget runtime for Android
 </a>
</p>
<p>
 Finally, we&#39;d like to thank all the Opera teams who contributed to this release – you guys rock!
</p>



    </article>
<section id="comments">
  <h2>Comments</h2>
  <ul>
  </ul>
No new comments accepted.
</section>

  </section>

  <aside>
    <section class="info">
      <p class="author"><strong>Author</strong> <a href="../../../author/pfokin.html" rel="author">Pavel Fokin</a></p>
      <p>
        <strong>Date</strong>
        Wednesday, December 22, 2010
      </p>

    </section>
  </aside>




</section>
<script type="text/javascript" src="../../../../static.myopera.com/dev/js/highlight.pack.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

    <footer>
      <section role="contentinfo">
        <ul>
          <li><a href="../../../help.html">Help/<abbr>FAQ</abbr></a>
          <li><a href="http://my.opera.com/community/terms-of-service/?utm_source=devopera&amp;utm_medium=footer&amp;utm_campaign=devlinks">Terms of service</a>
          <li><a href="../../../privacy.html">Privacy</a>
        </ul>
      </section>
    </footer>
  </body>
</html>
