<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MAMA: Code comments - Dev.Opera</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="L7q_7GF5c9d7ZAUYdfaTiRaB6sTAGv_cRz3nq5DsabM">
    <meta name="description" content="Dev.Opera is the ultimate source of distilled knowledge for web developers, covering the latest open web technologies and techniques including HTML5, CSS3, JavaScript, SVG, optimizing content for mobiles, tablets and TVs, and creating add-ons such as extensions and themes for the Opera browser.">
    <meta name="keywords" content="Opera, web, HTML5, HTML, CSS3, CSS, JavaScript, SVG, Geolocation, Widgets, Extensions, Unite, Mini, Mobile, web development, design, web design, tutorials, articles, examples, demos, web standards, open standards, open web, video, audio, getusermedia, accessibility, wai-aria, transitions, translations, microformats, microdata, dataset, media queries, viewport, @viewport, transparency, opacity, gradients, box-shadow, text-shadow, web fonts, appcache, websql, local storage, ajax, json, games, userjs, webgl, tv, tablet, emulator, skinning, themes, skins, drasgonfly, mathml, web sockets, operawatir">
    <link rel="icon" href="../../../../static.myopera.com/dev/img/speed_dial-icon.png" type="image/png">
    <link rel="apple-touch-icon" href="../../../../static.myopera.com/dev/img/touch-icon.png" type="image/png">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/devopera.css" type="text/css">
    <!--[if IE 6]><link rel="stylesheet" href="/css/browsers/ie6.css" type="text/css"><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/css/browsers/ie7.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="/css/browsers/ie8.css" type="text/css"><![endif]-->
    <!--[if lte IE 8]><script type="text/javascript" src="/js/ie.js"></script><![endif]-->
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/articles.css">
    <link rel="stylesheet" media="print" href="../../../../static.myopera.com/dev/css/print.css">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/github.css">
    <link rel="alternate" type="application/rss+xml" title="Recent articles - RSS 2.0 Feed" href="../../../feeds/rss/articles">
    <link rel="alternate" type="application/atom+xml" title="Recent articles - Atom 1.0 Feed" href="../../../feeds/atom/articles">
    <link rel="alternate" type="application/rss+xml" title="Recent articles in Web - RSS 2.0 Feed" href="../../../feeds/rss/articles/web">
    <link rel="alternate" type="application/atom+xml" title="Recent articles in Web - Atom 1.0 Feed" href="../../../feeds/atom/articles/web">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../../../static.myopera.com/dev/js/menu.js"></script>
    <noscript>
      <style type="text/css">
.collection ul li ul {
    display: inherit !important;
}
      </style>
    </noscript>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-4118503-4']);
_gaq.push(['_gat._anonymizeIp']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
    </script>

  </head>
  <body class="web">
    <header role="banner"  class="article-view" >
      <div>
        <a href="../../../index.html" id="logo">Dev.Opera</a>
        <form action="http://dev.opera.com/search" role="search">
          <fieldset>
            <label class="hidden" for="q">Search</label>
            <input type="text" name="q" maxlength="256" value="" id="q" required>
            <input type="submit" id="q-submit" value="Search" title="Search">
          </fieldset>
        </form>
        <p id="login">
          <a href="../../../../../https/dev.opera.com/login/index.html" accesskey="L" title="Log in">Log in</a>
        </p>
        <nav id="nav">
          <ul role="menu">

            <li role="menuitem"  class="selected">
              <a href="../../../web.html">Web</a>
            </li>
            <li role="menuitem" >
              <a href="../../../addons.1.html">Add-ons</a>
            </li>
            <li role="menuitem" >
              <a href="../../../mobile.html">Mobile</a>
            </li>
            <li role="menuitem" >
              <a href="../../../tv.html">TV</a>
            </li>
            <li role="menuitem" >
              <a href="../../../labs.html">Labs</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
<section id="content" role="main" class="asideleft">
  <section class="main">
    <article lang="en">
      <h1>MAMA: Code comments</h1>
      <p class="print author">By Brian Wilson</p>

      <ul class="seriesNav">
<li class="prev"><a href="../mama-character-entities/index.html" rel="prev" title="link to the previous article in the series">Previous article&#8212;MAMA: Character entities</a></li>
<li class="next"><a href="../mama-common-attributes/index.html" rel="next" alt="link to the next article in the series">Next article&#8212;MAMA: Common attributes</a></li>
<li><a href="../mama/index.html#tableofcontents" rel="index">Table of contents</a></li>
</ul>

<p><strong>Index:</strong></p>
<ol>
    <li><a href="index.html#intro">Introduction</a></li>
    <li><a href="index.html#commentqtys">Comment quantities</a></li>
    <li><a href="index.html#commentsizes">Overall comment sizes</a></li>
</ol>

<h2 id="intro">Introduction</h2>
<p>In another section of this research, we looked at the sizes of documents and 
   their components. When considering this, one has to remember that SGML/XML 
   comments can be present in content and this also affects these sizes. Browsers 
   do not care about comments and neither do users/readers of Web pages&#8212;so why 
   should MAMA? To MAMA, comments are just &quot;extraneous fluff&quot; that only serve to 
   bulk up the overall size of a document and increase its loading time. However, comments deserve at least a cursory overview in our discussion to expose just how much 
   &quot;extraneous fluff&quot; is out there in the wild.</p>

<p>Where might large quantities of comments be encountered? Longer documents and 
   auto-generated content are definitely the leading candidates. We will 
   look at how many comments documents have as well as how much data is contained 
   in those comments.</p>

<h2 id="commentqtys">Comment quantities</h2>
<p>MAMA used a MySQL SMALLINT data type (max. value: 65,535) to store the quantity 
   of comments on a page. Surprisingly, in the most extreme cases this was not big 
   enough. Only 1 URL was found to exceed this in MAMA&#39;s URL set, but plausible 
   automated page creation scenarios could conceivably recreate these conditions 
   with regularity. The lone URL with the copious comments was 
   <a href="http://genforum.genealogy.com/ny/all.html">http://genforum.genealogy.com/ny/all.html</a>.
   MAMA stored its maximum value of 65,535, but a live analysis showed 146,376 
   comments in a 9.2MB HTML file!</p>

<table cellspacing="0" cellpadding="3">
<caption class="comment" style="caption-side: bottom"><strong>Fig 2-1:</strong> 
   URLs with the most SGML/XML comments</caption>
   <tr valign="bottom">
     <th>URL</th>
     <th>Comment<br />quantity</th>
   </tr>
   <tr class="r1">
     <td><a href="http://genforum.genealogy.com/ny/all.html">http://genforum.genealogy.com/ny/all.html</a></td>
     <td class="num">146,376</td>
   </tr>
   <tr class="r2">
     <td><a href="http://jollyroger.com/zz/yna3d/WilliamJameshall/shakespeare1.html">http://jollyroger.com/zz/yna3d/WilliamJameshall/shakespeare1.html</a></td>
     <td class="num">42,166</td>
   </tr>
   <tr class="r1">
     <td><a href="http://www.olawsky.de/schlesien/forum.html">http://www.olawsky.de/schlesien/forum.html</a></td>
     <td class="num">24,196</td>
   </tr>
   <tr class="r2">
     <td><a href="http://www.driverforum.com/bios/">http://www.driverforum.com/bios/</a></td>
     <td class="num">20,407</td>
   </tr>
</table>

<p>In all, 2,840,900 URLs contained at least 1 comment&#8212;80.96% of the overall total URLs 
   analyzed. When comments are present in a document, they have an average quantity 
   of 12.4. The most popular number of comments for a page to have is 1 (448,326 
   times). The <a href="../../../../devfiles.myopera.com/articles/568/commentqty-url.htm">full frequency table</a> for comment 
   quantities monotonically decreases&#8212;each additional comment sees a corresponding 
   drop in frequency, at least out past the 20th position.</p>

<h2 id="commentsizes">Overall comment sizes</h2>
<p>In the original sample, the maximum overall comment size was 4,980,813 characters, 
   but comment size seems to vary a lot. The URL originally reporting this comment 
   size is much lower at the time of writing, but other cases have been found to be 
   as big as or even far exceeding MAMA&#39;s recorded maxmimum size. In the original URL 
   sampling, the average comment size, when comments are present, was 2,252 characters. 
   In any case, a number of URLs have comments that are several megabytes in size. There 
   does seem to be a big contributor to this problem of burgeoning comments: &quot;Conditional 
   Comments&quot; syntax. Hands down, code produced by Microsoft&#39;s Publisher and Word products 
   creates huge amounts of content in conditional comments on sites such as 
   <a href="http://www.rodontinipasquale.it/">http://www.rodontinipasquale.it/</a> and 
   <a href="http://www.norman.k12.ok.us/160/">http://www.norman.k12.ok.us/160/</a>.</p>

<ul class="seriesNav">
<li class="prev"><a href="../mama-character-entities/index.html" rel="prev" title="link to the previous article in the series">Previous article&#8212;MAMA: Character entities</a></li>
<li class="next"><a href="../mama-common-attributes/index.html" rel="next" alt="link to the next article in the series">Next article&#8212;MAMA: Common attributes</a></li>
<li><a href="../mama/index.html#tableofcontents" rel="index">Table of contents</a></li>
</ul>

      <p id="license" class="info">This article is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/" rel="license">Creative Commons Attribution, Non Commercial - Share Alike 2.5</a> license.</p>

    </article>
<section id="comments">
  <h2>Comments</h2>
      <p class="info">The forum archive of this article is still available on <a href="http://my.opera.com/community/forums/topic.dml?id=256029">My Opera</a>.</p>
  <ul>
  </ul>
No new comments accepted.
</section>

  </section>

  <aside>
    <section class="info">
      <p class="author"><strong>Author</strong> <a href="../../../author/blooberry.html" rel="author">Brian Wilson</a></p>
      <p>
        <strong>Date</strong>
        Friday, November 7, 2008
      </p>

      <p class="tags"><strong>Tags</strong></p>
      <ul class="tags">
        <li><a href="../../tags/conditional.html" rel="tag">conditional</a></li>
        <li><a href="../../tags/mama.html" rel="tag">mama</a></li>
        <li><a href="../../tags/number.html" rel="tag">number</a></li>
        <li><a href="../../tags/publisher.html" rel="tag">publisher</a></li>
        <li><a href="../../tags/size.html" rel="tag">size</a></li>
      </ul>
    </section>
  </aside>




</section>
<script type="text/javascript" src="../../../../static.myopera.com/dev/js/highlight.pack.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

    <footer>
      <section role="contentinfo">
        <ul>
          <li><a href="../../../help.html">Help/<abbr>FAQ</abbr></a>
          <li><a href="http://my.opera.com/community/terms-of-service/?utm_source=devopera&amp;utm_medium=footer&amp;utm_campaign=devlinks">Terms of service</a>
          <li><a href="../../../privacy.html">Privacy</a>
        </ul>
      </section>
    </footer>
  </body>
</html>
