<!DOCTYPE html>
<html lang="en">
  <head>
    <title>A call for video on the web - Opera &lt;video&gt; release on Labs - Dev.Opera</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="L7q_7GF5c9d7ZAUYdfaTiRaB6sTAGv_cRz3nq5DsabM">
    <meta name="description" content="Dev.Opera is the ultimate source of distilled knowledge for web developers, covering the latest open web technologies and techniques including HTML5, CSS3, JavaScript, SVG, optimizing content for mobiles, tablets and TVs, and creating add-ons such as extensions and themes for the Opera browser.">
    <meta name="keywords" content="Opera, web, HTML5, HTML, CSS3, CSS, JavaScript, SVG, Geolocation, Widgets, Extensions, Unite, Mini, Mobile, web development, design, web design, tutorials, articles, examples, demos, web standards, open standards, open web, video, audio, getusermedia, accessibility, wai-aria, transitions, translations, microformats, microdata, dataset, media queries, viewport, @viewport, transparency, opacity, gradients, box-shadow, text-shadow, web fonts, appcache, websql, local storage, ajax, json, games, userjs, webgl, tv, tablet, emulator, skinning, themes, skins, drasgonfly, mathml, web sockets, operawatir">
    <link rel="icon" href="../../../../static.myopera.com/dev/img/speed_dial-icon.png" type="image/png">
    <link rel="apple-touch-icon" href="../../../../static.myopera.com/dev/img/touch-icon.png" type="image/png">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/devopera.css" type="text/css">
    <!--[if IE 6]><link rel="stylesheet" href="/css/browsers/ie6.css" type="text/css"><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/css/browsers/ie7.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="/css/browsers/ie8.css" type="text/css"><![endif]-->
    <!--[if lte IE 8]><script type="text/javascript" src="/js/ie.js"></script><![endif]-->
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/articles.css">
    <link rel="stylesheet" media="print" href="../../../../static.myopera.com/dev/css/print.css">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/github.css">
    <link rel="alternate" type="application/rss+xml" title="Recent articles - RSS 2.0 Feed" href="../../../feeds/rss/articles">
    <link rel="alternate" type="application/atom+xml" title="Recent articles - Atom 1.0 Feed" href="../../../feeds/atom/articles">
    <link rel="alternate" type="application/rss+xml" title="Recent articles in Web - RSS 2.0 Feed" href="../../../feeds/rss/articles/web">
    <link rel="alternate" type="application/atom+xml" title="Recent articles in Web - Atom 1.0 Feed" href="../../../feeds/atom/articles/web">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../../../static.myopera.com/dev/js/menu.js"></script>
    <noscript>
      <style type="text/css">
.collection ul li ul {
    display: inherit !important;
}
      </style>
    </noscript>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-4118503-4']);
_gaq.push(['_gat._anonymizeIp']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
    </script>

  </head>
  <body class="web">
    <header role="banner"  class="article-view" >
      <div>
        <a href="../../../index.html" id="logo">Dev.Opera</a>
        <form action="http://dev.opera.com/search" role="search">
          <fieldset>
            <label class="hidden" for="q">Search</label>
            <input type="text" name="q" maxlength="256" value="" id="q" required>
            <input type="submit" id="q-submit" value="Search" title="Search">
          </fieldset>
        </form>
        <p id="login">
          <a href="../../../../../https/dev.opera.com/login/index.html" accesskey="L" title="Log in">Log in</a>
        </p>
        <nav id="nav">
          <ul role="menu">

            <li role="menuitem"  class="selected">
              <a href="../../../web.html">Web</a>
            </li>
            <li role="menuitem" >
              <a href="../../../addons.1.html">Add-ons</a>
            </li>
            <li role="menuitem" >
              <a href="../../../mobile.html">Mobile</a>
            </li>
            <li role="menuitem" >
              <a href="../../../tv.html">TV</a>
            </li>
            <li role="menuitem" >
              <a href="../../../labs.html">Labs</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
<section id="content" role="main" class="asideleft">
  <section class="main">
    <article lang="en">
      <h1>A call for video on the web - Opera &lt;video&gt; release on Labs</h1>
      <p class="print author">By Opera Software</p>

      <h2>Introduction</h2>

<p>Video is one of the hottest things on the Web today, with several solutions available to create video effects and embed it in your web pages (for example Flash and Quicktime,) and much improved hardware available - these days we web users have web-enabled video cameras in our pockets and the bandwidth available to transfer more clips and streams than we can watch.</p>

<p>Something however is still not quite there about web video. The video solutions mentioned above are proprietary closed solutions that rely on plugins to display in a web page - what we need to make video a first-class web citizen is an easy, open solution to integrate video into web pages, and native support for video in browsers.</p>

<p>In short, we need a <code>&lt;video&gt;</code> element in HTML, and we must also agree on a baseline video format that will be universally supported, just like the GIF, JPEG and PNG image formats are universally supported for images. It&#39;s important that the video format we choose can be supported by a wide range of devices and that it&#39;s royalty-free (RF). RF is a well-established principle for W3C standards. The Ogg Theora format is a promising candidate, which has been chosen by Wikipedia.</p>

<h2>The good news</h2>

<p>The <code>&lt;video&gt;</code> element has already been proposed in the <a href="http://www.whatwg.org/specs/web-apps/current-work/#video" alt="The HTML5 working draft video element section">HTML5 working draft</a>, and here at Opera, we have created an experimental build of our browser for Windows, Mac and Linux with (amongst other things*) support for the <code>&lt;video&gt;</code> element/Ogg Theora built in. Even better is that we have made it downloadable for you to play with:</p>

<ul>
<li><a href="http://snapshot.opera.com/unix/snapshot_io_video_3d-2069/">Opera 9.52 preview for Linux/UNIX</a></li>
<li><a href="http://snapshot.opera.com/windows/o952s_io_video_3d_10093m.exe">Opera 9.52 preview for Windows</a> (MSI installer)</li>
<li><a href="http://snapshot.opera.com/windows/o952s_io_video_3d_10093.exe">Opera 9.52 preview for Windows</a> (Classic installer)</li>
<li><a href="http://snapshot.opera.com/mac/o952s_io_video_3d_4899.dmg">Opera 9.52 preview for Mac</a></li>
</ul>

<p>we have included several examples for you to check out below.</p>

<p class="note">* This build of Opera also supports video in SVG, File I/O and the 3d &lt;canvas&gt; - these topics deserve their own articles, which we hope to publish soon, although some of the examples below <a href="index.html#video">include SVG</a>.</p>

The Opera video build is currently at a very experimental stage, so not widely supported as of yet. But this is a start - We&#39;re inviting you to start playing with it and passing the message on to others about how powerful this is!

<h2>How does it work?</h2>

<p>The simplest <code>&lt;video&gt;</code> element just uses a <code>src</code> attribute to point at the video you want to display, and a <code>controls</code> attribute, a boolean that specifies whether the user-agent should should provide controls for the video player (present,) or whether it shouldn&#39;t, as that will be handled by the web developer creating the site (absent):</p>

 <pre>&lt;video controls src=&quot;demo.ogg&quot;&gt;&lt;/video&gt;</pre>

<p>You can expand it slightly to include some text to display if the decoder isn&#39;t available, and an <code>id</code> with which to manipulate the video:</p>

<pre>&lt;video controls src=&quot;demo.ogg&quot; id=&quot;myVideo&quot;&gt;Theora decoder not found&lt;/video&gt;</pre>

<p>From here on in it&#39;s just a matter of using the CSS, SVG and JavaScript that you already know to create working controls and other interface items for your video player - you can even create effects like filters and reflections.</p>

<p>It&#39;s just as easy as Flash, but using an open standard and running right in the browser. Check out the source code of the examples below for more inspiration, and let us know what you come up with!</p>

<h2>Examples</h2>

<p>Here are some pages using the video element:</p>

<ul>
<li><a href="http://people.opera.com/howcome/2007/video/controls.html">native controls</a></li>
<li><a href="http://people.opera.com/howcome/2007/video/simple.html">scripted controls</a></li>
<li><a href="http://people.opera.com/howcome/2007/video/opacity.html">scripted with opacity</a></li>
<li><a href="http://people.opera.com/howcome/2007/video/wikipedia/macaw.html">Wikipedia-based demo on parrots</a></li>
<li><a href="http://people.opera.com/howcome/2007/video/wikipedia/octopus.html">Wikipedia-based demo on octopus</a></li>
</ul>

<p id="video">Here are some pages using the video element in SVG:</p>

<ul>
<li><a href="http://people.opera.com/howcome/2007/video/svg/clip-move.svg">clip-move</a></li>
<li><a href="http://people.opera.com/howcome/2007/video/svg/video-reflect.svg">video-reflect</a></li>
<li><a href="http://people.opera.com/howcome/2007/video/svg/video-filter.svg">video-filter</a></li>
</ul>


      <p id="license" class="info">This article is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/" rel="license">Creative Commons Attribution, Non Commercial - Share Alike 2.5</a> license.</p>

    </article>
<section id="comments">
  <h2>Comments</h2>
      <p class="info">The forum archive of this article is still available on <a href="http://my.opera.com/community/forums/topic.dml?id=212177">My Opera</a>.</p>
  <ul>
  </ul>
No new comments accepted.
</section>

  </section>

  <aside>
    <section class="info">
      <p class="author"><strong>Author</strong> <a href="../../../author/operadev.html" rel="author">Opera Software</a></p>
      <p>
        <strong>Date</strong>
        Wednesday, November 7, 2007
      </p>

      <p class="tags"><strong>Tags</strong></p>
      <ul class="tags">
        <li><a href="../../tags/css.html" rel="tag">css</a></li>
        <li><a href="../../tags/html5.html" rel="tag">html5</a></li>
        <li><a href="../../tags/javascript.html" rel="tag">javascript</a></li>
        <li><a href="../../tags/svg.html" rel="tag">svg</a></li>
        <li><a href="../../tags/video.html" rel="tag">video</a></li>
      </ul>
    </section>
  </aside>




</section>
<script type="text/javascript" src="../../../../static.myopera.com/dev/js/highlight.pack.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

    <footer>
      <section role="contentinfo">
        <ul>
          <li><a href="../../../help.html">Help/<abbr>FAQ</abbr></a>
          <li><a href="http://my.opera.com/community/terms-of-service/?utm_source=devopera&amp;utm_medium=footer&amp;utm_campaign=devlinks">Terms of service</a>
          <li><a href="../../../privacy.html">Privacy</a>
        </ul>
      </section>
    </footer>
  </body>
</html>
