<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MAMA: BODY structure - Dev.Opera</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="L7q_7GF5c9d7ZAUYdfaTiRaB6sTAGv_cRz3nq5DsabM">
    <meta name="description" content="Dev.Opera is the ultimate source of distilled knowledge for web developers, covering the latest open web technologies and techniques including HTML5, CSS3, JavaScript, SVG, optimizing content for mobiles, tablets and TVs, and creating add-ons such as extensions and themes for the Opera browser.">
    <meta name="keywords" content="Opera, web, HTML5, HTML, CSS3, CSS, JavaScript, SVG, Geolocation, Widgets, Extensions, Unite, Mini, Mobile, web development, design, web design, tutorials, articles, examples, demos, web standards, open standards, open web, video, audio, getusermedia, accessibility, wai-aria, transitions, translations, microformats, microdata, dataset, media queries, viewport, @viewport, transparency, opacity, gradients, box-shadow, text-shadow, web fonts, appcache, websql, local storage, ajax, json, games, userjs, webgl, tv, tablet, emulator, skinning, themes, skins, drasgonfly, mathml, web sockets, operawatir">
    <link rel="icon" href="../../../../static.myopera.com/dev/img/speed_dial-icon.png" type="image/png">
    <link rel="apple-touch-icon" href="../../../../static.myopera.com/dev/img/touch-icon.png" type="image/png">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/devopera.css" type="text/css">
    <!--[if IE 6]><link rel="stylesheet" href="/css/browsers/ie6.css" type="text/css"><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/css/browsers/ie7.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="/css/browsers/ie8.css" type="text/css"><![endif]-->
    <!--[if lte IE 8]><script type="text/javascript" src="/js/ie.js"></script><![endif]-->
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/articles.css">
    <link rel="stylesheet" media="print" href="../../../../static.myopera.com/dev/css/print.css">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/github.css">
    <link rel="alternate" type="application/rss+xml" title="Recent articles - RSS 2.0 Feed" href="../../../feeds/rss/articles">
    <link rel="alternate" type="application/atom+xml" title="Recent articles - Atom 1.0 Feed" href="../../../feeds/atom/articles">
    <link rel="alternate" type="application/rss+xml" title="Recent articles in Web - RSS 2.0 Feed" href="../../../feeds/rss/articles/web">
    <link rel="alternate" type="application/atom+xml" title="Recent articles in Web - Atom 1.0 Feed" href="../../../feeds/atom/articles/web">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../../../static.myopera.com/dev/js/menu.js"></script>
    <noscript>
      <style type="text/css">
.collection ul li ul {
    display: inherit !important;
}
      </style>
    </noscript>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-4118503-4']);
_gaq.push(['_gat._anonymizeIp']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
    </script>

  </head>
  <body class="web">
    <header role="banner"  class="article-view" >
      <div>
        <a href="../../../index.html" id="logo">Dev.Opera</a>
        <form action="http://dev.opera.com/search" role="search">
          <fieldset>
            <label class="hidden" for="q">Search</label>
            <input type="text" name="q" maxlength="256" value="" id="q" required>
            <input type="submit" id="q-submit" value="Search" title="Search">
          </fieldset>
        </form>
        <p id="login">
          <a href="../../../../../https/dev.opera.com/login/index.html" accesskey="L" title="Log in">Log in</a>
        </p>
        <nav id="nav">
          <ul role="menu">

            <li role="menuitem"  class="selected">
              <a href="../../../web.html">Web</a>
            </li>
            <li role="menuitem" >
              <a href="../../../addons.1.html">Add-ons</a>
            </li>
            <li role="menuitem" >
              <a href="../../../mobile.html">Mobile</a>
            </li>
            <li role="menuitem" >
              <a href="../../../tv.html">TV</a>
            </li>
            <li role="menuitem" >
              <a href="../../../labs.html">Labs</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
<section id="content" role="main" class="asideleft">
  <section class="main">
    <article lang="en">
      <h1>MAMA: BODY structure</h1>
      <p class="print author">By Brian Wilson</p>

      <ul class="seriesNav">
<li class="prev"><a href="../mama-head-structure/index.html" rel="prev" title="link to the previous article in the series">Previous article&#8212;MAMA: HEAD structure</a></li>
<li class="next"><a href="../mama-hyperlinks/index.html" rel="next" alt="link to the next article in the series">Next article&#8212;MAMA: Hyperlinks</a></li>
<li><a href="../mama/index.html#tableofcontents" rel="index">Table of contents</a></li>
</ul>

<p><strong>Index:</strong></p>
<ol>
    <li><a href="index.html#intro">Introduction</a></li>
    <li><a href="index.html#elemattrs">BODY element and attributes</a></li>
    <li><a href="index.html#common">Common and proprietary attributes</a></li>
</ol>

<h2 id="intro">Introduction</h2>
<p><code class="elem">BODY</code> ranks as the 4th most popular element overall. Most people would expect 
   this near-ubiquity, but the opening and closing tags for the <code class="elem">BODY</code> 
   element are actually <strong>optional</strong>. A natural result of relaxed 
   specification requirements is decreased usage, and it is interesting to see
   the way HTML evolved&#8212;some other elements such as <code class="elem">LI</code> and 
   <code class="elem">P</code> also have closing tags that were optional, and many 
   authors omit closers for them. However, the <code class="elem">BODY</code> element has 
   always been treated with a bit more sanctity than the other elements with optional 
   components. Every generic HTML authoring template will include the <code class="elem">BODY</code>, 
   and every beginner&#39;s class in HTML will admonish its students if they forget to 
   include a <code class="elem">BODY</code> element.</p>

<h2 id="elemattrs"><code class="elem">BODY</code> element and attributes</h2>
<p>Of the URLs that had a <code class="elem">BODY</code> element, 799,002 of 
   them (23.14%) did not use any attributes. In the remaining group, two-thirds of 
   the URLs used the <code class="att">Bgcolor</code> attribute.</p>

<p><code class="att">Marginheight</code> and 
   <code class="att">Marginwidth</code> are attributes that share a similar 
   purpose and will often be used together. The same can also be said of the 
   <code class="att">Link</code>/<code class="att">Text</code>/<code class="att">Vlink</code>/<code class="att">Alink</code> 
   attributes. This explains the proximities of the attributes in the frequency 
   tables. Strangely, this even holds true for totally invalid attributes such as 
   <code class="att">Vspace</code> and <code class="att">Hspace</code>, which 
   have almost identical usage numbers&#8212;they are used 4,215 and 4,214 times 
   respectively, and 4,107 of those times are in the same document.</p>

<p>We can compare the overall attribute frequency results to Hickson&#39;s 
   <a href="http://code.google.com/webstats/2005-12/element-body.html">Google 
   research</a> and find a high correlation&#8212;except for an odd switch. 
   In Hickson&#39;s URL set research, the margin appearance attributes 
   (<code class="att">Marginheight</code>/<code class="att">Marginwidth</code>) 
   both have higher frequency than the text and link color appearance attributes 
   (<code class="att">Link</code>/<code class="att">Text</code>/<code class="att">Vlink</code>/<code class="att">Alink</code>). 
   In MAMA&#39;s research, the relative popularity of these two groups is reversed; 
   there doesn&#39;t seem to be any obvious explanation for the swap.</p> 
 
<table cellspacing="0" cellpadding="3">
<caption class="comment" style="caption-side: bottom"><strong>Fig 2-1:</strong> BODY element/attribute frequency</caption>
   <tr valign="bottom"><th>ELEMENT/Attribute</th><th>Frequency</th><th rowspan="10">&#xA0;</th>
        <th>ELEMENT/Attribute</th><th>Frequency</th><th rowspan="10">&#xA0;</th><th>ELEMENT/Attribute</th><th>Frequency</th></tr>
   <tr class="r1"><td><code class="elem">BODY</code></td><td class="num">3,452,907</td><td>&#xA0;&#xA0;&#xA0;<code class="att">Alink</code></td>
        <td class="num">700,028</td><td>&#xA0;&#xA0;&#xA0;<code class="att">Align</code></td><td class="num">5,478</td></tr>
   <tr class="r2"><td>&#xA0;&#xA0;&#xA0;<code class="att">Bgcolor</code></td><td class="num">1,769,135</td><td>&#xA0;&#xA0;&#xA0;<code class="att">Background</code></td>
        <td class="num">634,617</td><td>&#xA0;&#xA0;&#xA0;<code class="att">Border</code></td><td class="num">4,884</td></tr>
   <tr class="r1"><td>&#xA0;&#xA0;&#xA0;<code class="att">Topmargin</code></td><td class="num">1,111,967</td><td>&#xA0;&#xA0;&#xA0;<code class="att">Rightmargin</code></td>
        <td class="num">177,579</td><td>&#xA0;&#xA0;&#xA0;<code class="att">Vspace</code></td><td class="num">4,215</td></tr>
   <tr class="r2"><td>&#xA0;&#xA0;&#xA0;<code class="att">Leftmargin</code></td><td class="num">1,055,657</td><td>&#xA0;&#xA0;&#xA0;<code class="att">Bottommargin</code></td>
        <td class="num">137,443</td><td>&#xA0;&#xA0;&#xA0;<code class="att">Hspace</code></td><td class="num">4,214</td></tr>
   <tr class="r1"><td>&#xA0;&#xA0;&#xA0;<code class="att">Link</code></td><td class="num">923,425</td><td>&#xA0;&#xA0;&#xA0;<code class="att">Bgproperties</code></td>
        <td class="num">51,550</td><td>&#xA0;&#xA0;&#xA0;<code class="att">Width</code></td><td class="num">4,111</td></tr>
   <tr class="r2"><td>&#xA0;&#xA0;&#xA0;<code class="att">Vlink</code></td><td class="num">903,271</td><td>&#xA0;&#xA0;&#xA0;<code class="att">Scroll</code></td>
        <td class="num">27,026</td><td>&#xA0;&#xA0;&#xA0;<code class="att">Nosave</code></td><td class="num">3,451</td></tr>
   <tr class="r1"><td>&#xA0;&#xA0;&#xA0;<code class="att">Text</code></td><td class="num">840,383</td><td>&#xA0;&#xA0;&#xA0;<code class="att">Nof</code></td>
        <td class="num">21,835</td><td>&#xA0;&#xA0;&#xA0;<code class="att">Height</code></td><td class="num">2,639</td></tr>
   <tr class="r2"><td>&#xA0;&#xA0;&#xA0;<code class="att">Marginheight</code></td><td class="num">823,090</td><td>&#xA0;&#xA0;&#xA0;<code class="att">Ms_positioning</code></td>
        <td class="num">9,499</td><td>&#xA0;&#xA0;&#xA0;<code class="att">Marginleft</code></td><td class="num">2,292</td></tr>
   <tr class="r1"><td>&#xA0;&#xA0;&#xA0;<code class="att">Marginwidth</code></td><td class="num">816,162</td><td>&#xA0;&#xA0;&#xA0;<code class="att">Stylesrc</code></td>
        <td class="num">6,707</td><td>&#xA0;&#xA0;&#xA0;<code class="att">Margin</code></td><td class="num">2,119</td></tr>
</table>

<h2 id="common">Common and proprietary attributes</h2>
<p>The attribute list for the <code class="att">BODY</code> element above 
   (Fig 2-1) does not include many of the attributes that Hickson&#39;s study did, 
   namely all of the generic attributes 
   (<a href="../mama-common-attributes/index.html#style"><code class="att">Style</code></a>, 
   <a href="../mama-common-attributes/index.html#class"><code class="att">Class</code></a>, 
   <a href="../mama-common-attributes/index.html#id"><code class="att">Id</code></a>, 
   <a href="../mama-common-attributes/index.html#lang"><code class="att">Lang</code></a> and event handlers); those are discussed in 
   other sections. Other semi-popular attributes find a place in this usage list, 
   even though they are not valid by any of the popular markup standards. 
   Attributes such as <code class="att">Ms_positioning</code> and <code class="att">Scroll</code> 
   are MSIE-only browser extensions, while others are created by Web page editors 
   as part of their creation process (such as <code class="att">Nof</code> from 
   Netobjects Fusion and <code class="att">Stylesrc</code> from Microsoft FrontPage).</p>

<ul class="seriesNav">
<li class="prev"><a href="../mama-head-structure/index.html" rel="prev" title="link to the previous article in the series">Previous article&#8212;MAMA: HEAD structure</a></li>
<li class="next"><a href="../mama-hyperlinks/index.html" rel="next" alt="link to the next article in the series">Next article&#8212;MAMA: Hyperlinks</a></li>
<li><a href="../mama/index.html#tableofcontents" rel="index">Table of contents</a></li>
</ul>

      <p id="license" class="info">This article is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/" rel="license">Creative Commons Attribution, Non Commercial - Share Alike 2.5</a> license.</p>

    </article>
<section id="comments">
  <h2>Comments</h2>
      <p class="info">The forum archive of this article is still available on <a href="http://my.opera.com/community/forums/topic.dml?id=257441">My Opera</a>.</p>
  <ul>
  </ul>
No new comments accepted.
</section>

  </section>

  <aside>
    <section class="info">
      <p class="author"><strong>Author</strong> <a href="../../../author/blooberry.html" rel="author">Brian Wilson</a></p>
      <p>
        <strong>Date</strong>
        Friday, November 21, 2008
      </p>

      <p class="tags"><strong>Tags</strong></p>
      <ul class="tags">
        <li><a href="../../tags/bgcolor.html" rel="tag">bgcolor</a></li>
        <li><a href="../../tags/class.html" rel="tag">class</a></li>
        <li><a href="../../tags/id.html" rel="tag">id</a></li>
        <li><a href="../../tags/mama.html" rel="tag">mama</a></li>
        <li><a href="../../tags/style.html" rel="tag">style</a></li>
      </ul>
    </section>
  </aside>




</section>
<script type="text/javascript" src="../../../../static.myopera.com/dev/js/highlight.pack.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

    <footer>
      <section role="contentinfo">
        <ul>
          <li><a href="../../../help.html">Help/<abbr>FAQ</abbr></a>
          <li><a href="http://my.opera.com/community/terms-of-service/?utm_source=devopera&amp;utm_medium=footer&amp;utm_campaign=devlinks">Terms of service</a>
          <li><a href="../../../privacy.html">Privacy</a>
        </ul>
      </section>
    </footer>
  </body>
</html>
