@media all and (max-width: 1152px) {
	.campaign > div > h1 {
		position: absolute;
		right: 20px;
	}

	.mobile .campaign > div > h1,
	.tv .campaign > div > h1,
	.labs .campaign > div > h1 {
		left: 0;
	}

	.tv .campaign > div > h1 {
		margin-top: 260px;
	}
}

@media all and (max-width: 960px) {

h1 {
	font-size:22px;
	margin-bottom:10px;
	}

.floatright {
	max-width:45%;
	height:auto;
	}

.floatleft {
	max-width:45%;
	height:auto;
	}

.img {
	max-width: 28%;
	padding: 1%;
	}

.main, #content > aside { float: none !important; width: 98% !important; }
.wrap, #content, footer {
	width: 98% !important;
	box-sizing: border-box;
	padding:1%;
	margin: 10px auto;
	}

.wrap {
	min-width:128px;
	margin:0 auto;
	padding:10px 0 0 0;
	}


/* Author pages */
.authorinfo>aside>ul, .authorinfo>aside>img {
	float: left;
	margin: 0 10px 0 0;
}

.authorinfo>aside {
	clear: both;
	width: 100%;
	max-width: none;
}

.authorinfo>ul, .authorinfo>h3 {
	width: 100%;
	margin: 0 10px 1em 10px;
}

.articlelist > li > h2,
.articlelist > li > p,
.articlelist > li > a.readmore {
	float: right;
	width: 66% !important;
}

.articlelist > li > .img {
	float: left;
	width: 28%;
	margin-right: 2%;
}

.articlelist.sp2 > li > h2,
.articlelist.sp2 > li > p,
.articlelist.sp2 > li > a.readmore {
	float: left;
	width: 100% !important;
}

/* HEADER */

#userinfo a, #login a, #userinfo-name {
	font-size: 11px;
}

#login, #login > a {
	text-align: left;
	height: 30px;
}

#login {
	padding: 27px 0 10px 0;
}

#login > a{
	padding: 0;
}

#userinfo ul {
	margin: 0;
	width: 100%;
	border: none;
	position: absolute;
	clear: none;
}

header fieldset input {
	height: 2em !important;
}

header fieldset input[type="submit"] {
	margin: 0 0 0 -3px !important;
}

.campaign > div > h1 {
	background-image: none !important;
	margin: 360px 0 0 0 !important;
	left: 0;
	right: 0;
	width: 100% !important;
	font-size: 1.5em;
	padding: .5em 0 !important;
}
.campaign > div > h1:before {
	content: '';
	margin-right: .3em;
}

.labs .campaign > div > h1 {
	margin: 250px 0 0 0 !important;
}

#topic-intro {
	width: 95%;
}

} /* END @media all and (max-width: 960px) */

@media all and (max-width: 840px) {
p > a {
	text-decoration: underline !important;
}

a.com {
	text-decoration: none !important;
}

body {
	position: absolute;
	left: 0; /* overrides Mini's width stuff */
	right: 0;
	padding:0;
}

section#author-info > p {
	margin-left: 70px;
	width: auto;
}


.main, aside, header {
	float:none;
  width: 100%;
  max-width:100%;
}

#content {
	padding:5px 0;
	}

footer {
	padding:0 5px;
	}

.main, aside {
	box-sizing: border-box;
	padding:0 10px 10px 10px;
	}

header #nav {
	margin:0;
	}

select,
object,
input,
img {
	max-width: 100% !important;
	height: auto !important;
}

.hide-narrow {
	display: none;
}
header div {
	height: auto;
	overflow: hidden;
	margin: 0;
	padding: 0;
	clear: both;
	background-image: none;
	border-radius: 0;
	font-size: 11px;
}

header #nav {
	margin:0;
	height:auto;
	}

form[role=search] {
	white-space:nowrap;
	width:62%;
	box-sizing: border-box;
	padding:5px;
	margin:0;
	}

form[role=search] input[type=search] {
	width:65%;
	}

#logo {
	height:auto;
	margin:10px 0 5px 10px;
	}

header div fieldset {
	margin: 10px;
}

#nav {
	clear:both;
	width:100%;
}

#userinfo-name:after,
#login a:after {
	margin: 0 0 7px 0;
	float: left;
}

#nav li {
	width:50%;
	}

header div ul {
	margin:0;
	border-top:1px solid #000;
	}

#nav {
	clear:none;
	}

#nav a,
#login > a,
#userinfo-name {
	display:block;
	box-sizing: border-box;
	border:1px solid #000;
	border-width:1px 0 0 1px;
	line-height:1;
	height:auto;
	text-align:left;
	font-weight: bold;
	padding:7px 10px;
	font-size:11px;
	color:#fff;
	margin: 0;
}

#login, #userinfo {
	clear:both;
	box-sizing: border-box;
	width:50%;
	float:left;
	margin:0;
	height: auto;
	padding: 0;
	max-height: 20px;
	}

#userinfo ul {
	position:relative;
	top: 0;
	}

#login > a:after, #userinfo > a:after {
	margin-top: -2px;
	padding-right: 5px;
}

#userinfo:hover {
	max-height: none;
}

#userinfo:hover #userinfo-options li {
	border-left: 1px solid #000;
}

#userinfo:hover #userinfo-options li a,
#userinfo:hover #userinfo-options li button {
	padding: 6px 0 0 10px;
}

#userinfo:hover #userinfo-options form {
	padding-bottom: 6px;
}

#userinfo a {
	height: 28px;
}

header div li:hover a:after, header .selected a:after {
  display: none !important;
	}

h1 {
	font-size:18px;
	}

.articlelist p {
	margin-left:0px;
	}

.floatright, .floatleft {
	max-width:100% !important;
	float:none;
	margin:0;
	}

section .sp2 li {
	clear:both;
	float:left;
	width:100%;
	box-sizing: border-box;
	max-width:100%;
	}

} /* END @media all and (max-width: 840px) */

@media all and (max-width: 640px) {

#username {
	margin-right:10px;
	}

#userinfo {
	float:left;
	}

.campaign > div > h1 {
	font-size: 1.3em !important;
	margin: 390px 0 0 0 !important;
}

.addons .campaign > div > h1 {
	margin: 370px 0 0 0 !important;
}

.labs .campaign > div > h1 {
	margin: 270px 0 0 0 !important;
}

} /* END @media all and (max-width: 640px) */

@media all and (max-width: 480px) {
	.tv .campaign > div > h1 {
		font-size: 1em !important;
		margin-top: 400px !important;
	}

	.tv .campaign > div {
		background-position: 70% 50%;
	}

	#topic-intro {
		padding: 0;
		width: 87%;
	}
}

@media all and (max-width: 440px) {
#nav li, #login, #userinfo {
	width:100%;
	height: auto;
	max-height: 28px;
	}

#userinfo-options li {
	border-left: none !important;
}

form[role=search] fieldset {
	width: 50%;
}

#q-submit {
	margin: 0 0 0 -10px !important;
}

#login a, #userinfo-name {
	border:1px solid #000;
	border-width:1px 0 1px 0;
	}

#userinfo:hover #userinfo-name {
	border-width:1px 0 0 0;
}

#userinfo:hover #userinfo-options li a {
	border: none;
}

#userinfo ul {
	border-bottom: 1px solid #000;
}

#nav li a {
	border-width:0 0 1px 0;
	text-align:left;
}

.img {
	float:none;
	width:100%;
	max-width:100%;
	margin:0 0 10px 0;
	}

#logo {
	margin:10px 0 5px 5px;
	}

header div fieldset {
	margin: 10px;
	position: absolute;
	top: 8px;
	right: 10px;
}

#subnav ul li a {
	padding: 0 10px;
}

.campaign > div {
	height: 230px !important;
}

.labs .campaign > div {
	background-position: 60% 100%;
}

.campaign > div > h1,
.web .campaign > div > h1,
.addons .campaign > div > h1,
.mobile .campaign > div > h1,
.tv .campaign > div > h1,
.labs .campaign > div > h1 {
	margin: 185px 0 0 0 !important;
}

.mobile .campaign > div {
	background-position: 70% 80%;
}

.campaign > div > h1 {
	font-size: 1em !important;
}

.tv .campaign > div {
	background-position: 80% 5%;
}

.articlelist h2 {
	font-size:15px;
	line-height:1.2;
	font-weight:bold;
	}

.articlelist li {
	margin-bottom:15px;
	}

article dl dd {
	margin: 5px 0;
	width: 100%;
	word-wrap: break-word;
}

article dt {
	margin: 10px 0 0 0;
}

article dl {
	margin: 0 0 20px 0;
	width: 100%;
}

} /* END @media all and (max-width: 440px) */

@media all and (max-width: 320px) {
	form[role="search"] label {
		display: block;
	}

	form[role="search"],
	form[role="search"] fieldset {
		width: 30%;
	}

	#q {
		width: 90%;
	}

	.right {
		max-width: 100%;
	}

	article img {
		max-width: 100%;
	}

	#topic-intro {
		margin: 5px auto;
	}
}


@media all and (max-width: 280px) {
	aside section {
		background:transparent;
		border:none;
		padding:0;
	}

	form[role=search] {
		width:100%;
		clear:both;
		text-align:left;
	}

	/* Hide campaigns on small screens */
	.campaign {
		display: none;
	}

	#subnav ul li {
		width:112px;
		background: #000;
		border-bottom: 1px solid #fff;
	}

	#subnav ul li:nth-child(2n) {
		border-left: 1px solid #fff;
	}

	#subnav ul li:hover a:after {
		display: none;
	}

	.articlelist li a.img {
		display: none;
	}

	.articlelist > li > h2,
	.articlelist > li > p,
	.articlelist > li > a.readmore {
		float: left;
		width: 100% !important;
	}

} /* END @media all and (max-width: 280px) */

@media all and (max-width: 239px) {
	body {
		min-width: 108px;
		font: 11px/1.4 'helvetica neue', 'helvetica-neue', helvetica, arial, sans-serif;
	}

	#logo {
		clear: both;
		margin: 5px auto 0 auto !important;
		text-align: center;
		padding: 5% 0;
		width: 100%;
	}

	header fieldset {
		clear: both;
		position: relative !important;
		margin: 0 auto 10px auto !important;
		width: 90% !important;
	}

	#q {
		width: 98% !important;
	}

	#q-submit {
		margin: 0 0 0 -5px !important;
	}

	#login a,
	#userinfo-name,
	#userinfo li button.logout,
	#userinfo li a,
	#nav a,
	.articlelist li p,
	.articlelist li p a,
	.tools a,
	code,
	article li,
	.commentdate,
	.commentcontent,
	.pagination li,
	.tools ul li {
		font-size:10px !important;
	}

	a.readmore {
		margin: 5px 0 10px 0;
	}

	aside section h2,
	.tools h2,
	.commenter a,
	#comments form fieldset input[type="submit"] {
		font-size: 11px;
	}

	.articlelist li h2 {
		font-size: 12px;
		margin: 0;
	}

	.articlelist li p {
		margin: 0;
	}

	#content > section {
		padding: 3px !important;
	}

	pre {
		padding: 5px;
		font-size: 10px;
	}

	pre code {
		padding: 0 !important;
	}

	#license,
	.info,
	.note {
		font-size: 10px;
		padding: 5px !important;
		background-image: none;
	}

	section[role="contentinfo"] {
		font-size: 10px;
		padding: 0 !important;
	}

	.asideleft aside {
		padding: 0 !important;
	}

	#resources a img {
		width: 24px;
	}

	article h1 {
		font-size: 13px !important;
	}

	article h2,
	#comments h2 {
		font-size: 12px !important;
	}

	article h3 {
		font-size: 11px !important;
	}

	article p {
		font-size: 10px;
	}

	#subnav ul li {
		width:100%;
		font-size: 10px;
		background: #000;
		border: 0 !important;
	}

	#subnav ul li a {
		padding: 0 0 0 10px !important;
		text-align: left !important;
	}

	img.avatar {
		width: 32px;
		margin: 3px 5px 20px 0;
	}

	.commenter {
		line-height: 1;
	}

	.active, .next a, .prev a {
		padding: 2px 4px !important;
	}

	#userinfo-name:after {
		display: none;
	}

	#userinfo-name {
		border-bottom: none;
	}

	#userinfo {
		max-height: none !important;
	}

	#userinfo-options {
		height: auto !important;
		display: block !important;
	}

	#userinfo-options li a,
	#userinfo-options li button {
		padding: 6px 0 0 10px !important;
	}

	#userinfo-options li a:before,
	#userinfo-options li button:before {
		content: "Â»" !important;
		padding-right: 5px;
		font-size: 12px;
	}

	#userinfo-options form {
		padding-bottom: 6px;
	}

	#topic-intro {
		padding: 0;
		border: none;
		width: 100%;
	}

	.main+aside,
	.tools {
		padding: 0;
	}

	.tools h2 {
		padding: 0;
		text-align: center;
		width: 100%;
		margin: 0 auto;
	}
}
