<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MenuItem.targetURLPatterns - Dev.Opera</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="L7q_7GF5c9d7ZAUYdfaTiRaB6sTAGv_cRz3nq5DsabM">
    <meta name="description" content="Dev.Opera is the ultimate source of distilled knowledge for web developers, covering the latest open web technologies and techniques including HTML5, CSS3, JavaScript, SVG, optimizing content for mobiles, tablets and TVs, and creating add-ons such as extensions and themes for the Opera browser.">
    <meta name="keywords" content="Opera, web, HTML5, HTML, CSS3, CSS, JavaScript, SVG, Geolocation, Widgets, Extensions, Unite, Mini, Mobile, web development, design, web design, tutorials, articles, examples, demos, web standards, open standards, open web, video, audio, getusermedia, accessibility, wai-aria, transitions, translations, microformats, microdata, dataset, media queries, viewport, @viewport, transparency, opacity, gradients, box-shadow, text-shadow, web fonts, appcache, websql, local storage, ajax, json, games, userjs, webgl, tv, tablet, emulator, skinning, themes, skins, drasgonfly, mathml, web sockets, operawatir">
    <link rel="icon" href="http://dev.opera.com/static.myopera.com/dev/img/speed_dial-icon.png" type="image/png">
    <link rel="apple-touch-icon" href="http://dev.opera.com/static.myopera.com/dev/img/touch-icon.png" type="image/png">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://dev.opera.com/static.myopera.com/dev/css/devopera.css" type="text/css">
    <!--[if IE 6]><link rel="stylesheet" href="/css/browsers/ie6.css" type="text/css"><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/css/browsers/ie7.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="/css/browsers/ie8.css" type="text/css"><![endif]-->
    <!--[if lte IE 8]><script type="text/javascript" src="/js/ie.js"></script><![endif]-->
    <link rel="stylesheet" href="http://dev.opera.com/static.myopera.com/dev/css/articles.css">
    <link rel="stylesheet" media="print" href="http://dev.opera.com/static.myopera.com/dev/css/print.css">
    <link rel="stylesheet" href="http://dev.opera.com/static.myopera.com/dev/css/github.css">
    <link rel="alternate" type="application/rss+xml" title="Recent articles - RSS 2.0 Feed" href="../../../feeds/rss/articles">
    <link rel="alternate" type="application/atom+xml" title="Recent articles - Atom 1.0 Feed" href="../../../feeds/atom/articles">
    <link rel="alternate" type="application/rss+xml" title="Recent articles in Add-ons - RSS 2.0 Feed" href="../../../feeds/rss/articles/addons">
    <link rel="alternate" type="application/atom+xml" title="Recent articles in Add-ons - Atom 1.0 Feed" href="../../../feeds/atom/articles/addons">
    <link rel="alternate" type="application/rss+xml" title="Recent articles in Opera 11-12 extensions - RSS 2.0 Feed" href="../../../feeds/rss/articles/addons/extensions">
    <link rel="alternate" type="application/atom+xml" title="Recent articles in Opera 11-12 extensions - Atom 1.0 Feed" href="../../../feeds/atom/articles/addons/extensions">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://dev.opera.com/static.myopera.com/dev/js/menu.js"></script>
    <noscript>
      <style type="text/css">
.collection ul li ul {
    display: inherit !important;
}
      </style>
    </noscript>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-4118503-4']);
_gaq.push(['_gat._anonymizeIp']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
    </script>

  </head>
  <body class="extensions">
    <header role="banner"  class="article-view" >
      <div>
        <a href="http://dev.opera.com/index.html" id="logo">Dev.Opera</a>
        <form action="http://dev.opera.com/search" role="search">
          <fieldset>
            <label class="hidden" for="q">Search</label>
            <input type="text" name="q" maxlength="256" value="" id="q" required>
            <input type="submit" id="q-submit" value="Search" title="Search">
          </fieldset>
        </form>
        <p id="login">
          <a href="http://dev.opera.com/https/dev.opera.com/login/index.html" accesskey="L" title="Log in">Log in</a>
        </p>
        <nav id="nav">
          <ul role="menu">

            <li role="menuitem" >
              <a href="http://dev.opera.com/web.html">Web</a>
            </li>
            <li role="menuitem"  class="selected">
              <a href="http://dev.opera.com/addons.1.html">Add-ons</a>
            </li>
            <li role="menuitem" >
              <a href="http://dev.opera.com/mobile.html">Mobile</a>
            </li>
            <li role="menuitem" >
              <a href="http://dev.opera.com/tv.html">TV</a>
            </li>
            <li role="menuitem" >
              <a href="http://dev.opera.com/labs.html">Labs</a>
            </li>
          </ul>
        </nav>
      </div>
      <nav id="subnav">
        <ul role="menu">
            <li role="menuitem"  class="selected">
              <a href="http://dev.opera.com/addons/extensions/index.html">Opera 11-12 extensions</a>
            </li>
            <li role="menuitem" >
              <a href="../../../extension-docs/index.html">Opera 15+ extensions</a>
            </li>
            <li role="menuitem" >
              <a href="http://dev.opera.com/addons/themes.html">Themes</a>
            </li>
        </ul>
      </nav>
    </header>
<section id="content" role="main" class="asideleft">
  <section class="main">
    <article lang="en">
      <h1>MenuItem.targetURLPatterns</h1>
      <p class="print author">By Opera Software</p>

      <p class="note">
From Opera 15 onward, Opera 11 &amp; 12’s extension format is no longer supported, and instead, we’ve switched to Chromium’s extension model. <strong>Check out <a href="../../../extension-docs/index.html">our new documentation for developing extensions for Opera 15 and higher</a></strong> and start building your own extensions.
</p>

<h2>Description:</h2>

<p>The <code>targetURLPatterns</code> attribute is an array of rules specifying which link target domains a menu item should be visible for. This attribute is only effective when the context menu is activated on a link, in other words, only when the item&#39;s <code>contexts</code> array contains <code>link</code> or <code>all</code>. If this attribute is null (default) or an empty array then the menu item will appear for all target domains. Note that <code>*</code> can be used as a wildcard.</p>

<h2>Syntax:</h2>

<p><code>DOMString[] targetURLPatterns</code></p>

<h2>Example:</h2>

<p>The following example creates an item in the context menu only for links that link to the opera.com domain.</p>

<pre><code>&lt;!-- 
  The configuration file (&#39;config.xml&#39;).
--&gt;
&lt;?xml version=&#39;1.0&#39; encoding=&#39;utf-8&#39;?&gt;
&lt;widget xmlns=&quot;http://www.w3.org/ns/widgets&quot;&gt;
    ...
    &lt;feature name=&quot;opera:contextmenus&quot;/&gt;
    ...
&lt;/widget&gt;</code></pre>    

<pre><code>//
// The background process (e.g. index.html)
//

if (opera.contexts.menu) {
  var menu = opera.contexts.menu;
  // Create a menu item properties object
  var itemProps = {
    title: &#39;Translate this link&#39;,
    contexts: [&#39;link&#39;],
    targetURLPatterns: [
      &#39;http://opera.com/*&#39;,
      &#39;https://opera.com/*&#39;,
      &#39;http://*.opera.com/*&#39;,
      &#39;https://*.opera.com/*&#39;
    ],
    onclick: function(event) {
      doTranslate(event.linkURL);
    }
  }

  // Create a menu item with the specified properties
  var item = menu.createItem(itemProps);
  // Add the menu item to the context menu
  menu.addItem(item);
}</code></pre>

      <p id="license" class="info">This article is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/" rel="license">Creative Commons Attribution 3.0 Unported</a> license.</p>

    </article>
<section id="comments">
  <h2>Comments</h2>
  <ul>
    <li id="comment-98823532">
      <a href="http://dev.opera.com/author/christoph142.html"><img src="http://dev.opera.com/https/static.myopera.com/avatars/pool1/7a/d36/a1ef2d0ce7edb42a678ee38ac6b298f6819.png" alt="photo" class="avatar"/></a>
      <p class="commenter"><a href="http://dev.opera.com/author/christoph142.html">Christoph</a></p>
      <p class="commentdate">Wednesday, October 31, 2012</p>
      <section class="commentcontent"><span class="bubble-arrow"></span>This is pretty limited. Can we get the possibility to use RegExps?</section>
    </li>
  </ul>
No new comments accepted.
</section>

  </section>

  <aside>
    <section class="info">
      <p class="author"><strong>Author</strong> <a href="http://dev.opera.com/author/operadev.html" rel="author">Opera Software</a></p>
      <p>
        <strong>Date</strong>
        Friday, August 24, 2012
      </p>

      <p class="tags"><strong>Tags</strong></p>
      <ul class="tags">
        <li><a href="http://dev.opera.com/articles/tags/context&#32;menu.html" rel="tag">context menu</a></li>
        <li><a href="http://dev.opera.com/articles/tags/extensions&#32;API.html" rel="tag">extensions API</a></li>
      </ul>
    </section>
  </aside>




<aside>
  <section class="collection">
<h2><a href="http://dev.opera.com/articles/view">Opera extensions docs</a></h2>

<ul >
  <li class="sub-collection parent-collection">
<span ></span>Getting started<ul >
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/opera-extensions-hello-world/index.html" >Saying hello world to Opera extensions!</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/whats-in-an-opera-extension/index.html" >What's in an Opera extension?</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/opera-extensions-developer-workflow/index.html" >Opera extensions developer workflow</a>

</li>
</ul>
</li>
  <li class="sub-collection parent-collection">
<span ></span>API reference<ul >
  <li class="sub-collection parent-collection">

<span ></span><a href="http://dev.opera.com/articles/view/extensions-api-config-xml/index.html" >config.xml</a>

<ul >
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-config-widget/index.html" >widget element</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-config-name/index.html" >name element</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-config-description/index.html" >description element</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-config-author/index.html" >author element</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-config-license/index.html" >license element</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-config-icon/index.html" >icon element</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-config-content/index.html" >content element</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-config-feature/index.html" >feature element</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-config-preference/index.html" >preference element</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-config-access/index.html" >access element</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-config-span/index.html" >span element</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-config-xml-lang/index.html" >xml:lang attribute</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-config-dir/index.html" >dir attribute</a>

</li>
</ul>
</li>
  <li class="sub-collection parent-collection">

<span ></span><a href="http://dev.opera.com/articles/view/extensions-api-widget-object/index.html" >Widget object</a>

<ul >
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-widget-author/index.html" >widget.author</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-widget-authoremail/index.html" >widget.authorEmail</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-widget-authorhref/index.html" >widget.authorHref</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-widget-description/index.html" >widget.description</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-widget-id/index.html" >widget.id</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-widget-name/index.html" >widget.name</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-widget-preferences/index.html" >widget.preferences</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-widget-shortname/index.html" >widget.shortName</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-widget-version/index.html" >widget.version</a>

</li>
</ul>
</li>
  <li class="sub-collection parent-collection">

<span ></span><a href="http://dev.opera.com/articles/view/extensions-api-browser-toolbar/index.html" >Button &amp; Badge API</a>

<ul >
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-toolbar-createitem/index.html" >opera.contexts. toolbar.createItem()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-toolbar-additem/index.html" >opera.contexts. toolbar.addItem()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-toolbar-removeitem/index.html" >opera.contexts. toolbar.removeItem()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-toolbar-length/index.html" >opera.contexts. toolbar.length</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-button-badge/index.html" >Button.badge</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-button-disabled/index.html" >Button.disabled</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-button-icon/index.html" >Button.icon</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-button-onclick/index.html" >Button.onclick</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-button-popup/index.html" >Button.popup</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-button-title/index.html" >Button.title</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-button-addeventlistener/index.html" >Button.addEventListener()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-button-removeeventlistener/index.html" >Button.removeEventListener()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-badge-backgroundcolor/index.html" >Badge.backgroundColor</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-badge-color/index.html" >Badge.color</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-badge-display/index.html" >Badge.display</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-badge-textcontent/index.html" >Badge.textContent</a>

</li>
</ul>
</li>
  <li class="sub-collection parent-collection">

<span ></span><a href="http://dev.opera.com/articles/view/extensions-api-popup/index.html" >Popup API</a>

<ul >
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-popup-height/index.html" >Popup.height</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-popup-href/index.html" >Popup.href</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-popup-width/index.html" >Popup.width</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-popup-onmessage/index.html" >opera.extension.onmessage</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-popup-postmessage/index.html" >opera.extension. postMessage()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-popup-addeventlistener/index.html" >opera.extension. addEventListener()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-popup-removeeventlistener/index.html" >opera.extension. removeEventListener()</a>

</li>
</ul>
</li>
  <li class="sub-collection parent-collection">

<span ></span><a href="http://dev.opera.com/articles/view/extensions-api-windows-tabs/index.html" >Windows &amp; Tabs API</a>

<ul >
  <li class="sub-collection parent-collection">
<span ></span>Windows<ul >
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-windows-create/index.html" >opera.extension. windows.create()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-windows-getall/index.html" >opera.extension. windows.getAll()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-windows-getlastfocused/index.html" >opera.extension. windows.getLastFocused()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-window-insert/index.html" >BrowserWindow.insert()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-window-close/index.html" >BrowserWindow.close()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-window-focus/index.html" >BrowserWindow.focus()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-window-update/index.html" >BrowserWindow.update()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-window-id/index.html" >BrowserWindow.id</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-window-closed/index.html" >BrowserWindow.closed</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-window-focused/index.html" >BrowserWindow.focused</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-window-private/index.html" >BrowserWindow.private</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-window-tabgroups/index.html" >BrowserWindow.tabGroups</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-window-tabs/index.html" >BrowserWindow.tabs</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-window-height/index.html" >BrowserWindow.height</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-window-width/index.html" >BrowserWindow.width</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-window-top/index.html" >BrowserWindow.top</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-window-left/index.html" >BrowserWindow.left</a>

</li>
</ul>
</li>
  <li class="sub-collection parent-collection">
<span ></span>Tab Groups<ul >
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tabgroups-create/index.html" >opera.extension. tabGroups.create()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tabgroups-getall/index.html" >opera.extension. tabGroups.getAll()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tabgroup-close/index.html" >BrowserTabGroup.close()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tabgroup-focus/index.html" >BrowserTabGroup.focus()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tabgroup-insert/index.html" >BrowserTabGroup.insert()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tabgroup-update/index.html" >BrowserTabGroup.update()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tabgroup-id/index.html" >BrowserTabGroup.id</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tabgroup-closed/index.html" >BrowserTabGroup.closed</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tabgroup-collapsed/index.html" >BrowserTabGroup. collapsed</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tabgroup-browserwindow/index.html" >BrowserTabGroup. browserWindow</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tabgroup-tabs/index.html" >BrowserTabGroup.tabs</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tabgroup-position/index.html" >BrowserTabGroup.position</a>

</li>
</ul>
</li>
  <li class="sub-collection parent-collection">
<span ></span>Tabs<ul >
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tabs-create/index.html" >opera.extension. tabs.create()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tabs-getall/index.html" >opera.extension. tabs.getAll()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tabs-getselected/index.html" >opera.extension. tabs.getSelected()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tab-close/index.html" >BrowserTab.close()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tab-focus/index.html" >BrowserTab.focus()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tab-update/index.html" >BrowserTab.update()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tab-id/index.html" >BrowserTab.id</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tab-closed/index.html" >BrowserTab.closed</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tab-locked/index.html" >BrowserTab.locked</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tab-private/index.html" >BrowserTab.private</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tab-selected/index.html" >BrowserTab.selected</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tab-readystate/index.html" >BrowserTab.readyState</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tab-faviconurl/index.html" >BrowserTab.faviconUrl</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tab-title/index.html" >BrowserTab.title</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tab-url/index.html" >BrowserTab.url</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tab-browserwindow/index.html" >BrowserTab.browserWindow</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tab-tabgroup/index.html" >BrowserTab.tabGroup</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tab-position/index.html" >BrowserTab.position</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-tab-focused/index.html" >BrowserTab.focused</a>

</li>
</ul>
</li>
</ul>
</li>
  <li class="sub-collection parent-collection">

<span ></span><a href="http://dev.opera.com/articles/view/extensions-api-injected-scripts/index.html" >Injected scripts</a>

<ul >
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-opera-addeventlistener/index.html" >opera.addEventListener()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-opera-removeeventlistener/index.html" >opera.removeEventListener()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-opera-definemagicfunction/index.html" >opera.defineMagicFunction()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-opera-definemagicvariable/index.html" >opera.defineMagicVariable()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-opera-posterror/index.html" >opera.postError()</a>

</li>
</ul>
</li>
  <li class="sub-collection parent-collection">

<span ></span><a href="http://dev.opera.com/articles/view/extensions-api-urlfilter/index.html" >URL filter API</a>

<ul >
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-urlfilter-block-add/index.html" >opera.extension. urlfilter.block.add()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-urlfilter-block-remove/index.html" >opera.extension. urlfilter.block.remove()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-urlfilter-allow-add/index.html" >opera.extension. urlfilter.allow.add()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-ruleoptions-excludedomains/index.html" >RuleOptions.excludeDomains</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-ruleoptions-includedomains/index.html" >RuleOptions.includeDomains</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-ruleoptions-resources/index.html" >RuleOptions.resources</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-ruleoptions-thirdparty/index.html" >RuleOptions.thirdParty</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-urlfilter-syntax/index.html" >URL Filter syntax</a>

</li>
</ul>
</li>
  <li class="sub-collection parent-collection">

<span ></span><a href="http://dev.opera.com/articles/view/extensions-api-messaging/index.html" >Messaging API</a>

<ul >
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-messaging-bgprocess/index.html" >opera.extension.bgProcess</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-messaging-onconnect/index.html" >opera.extension.onconnect</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-messaging-ondisconnect/index.html" >opera.extension.ondisconnect</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-messaging-onmessage/index.html" >opera.extension.onmessage</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-messaging-addeventlistener/index.html" >opera.extension. addEventListener()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-messaging-removeeventlistener/index.html" >opera.extension. removeEventListener()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-messaging-broadcastmessage/index.html" >opera.extension. broadcastMessage()</a>

</li>
</ul>
</li>
  <li class="sub-collection parent-collection">

<span ></span><a href="http://dev.opera.com/articles/view/extensions-api-speeddial/index.html" >Speed Dial API</a>

<ul >
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-speeddial-viewmodes/index.html" >viewmodes attribute</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-speeddial-feature/index.html" >feature element</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-speeddial-param/index.html" >param element</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-speeddial-title/index.html" >opera.contexts.speeddial.title</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-speeddial-url/index.html" >opera.contexts.speeddial.url</a>

</li>
</ul>
</li>
  <li class="sub-collection parent-collection">

<span ></span><a href="http://dev.opera.com/articles/view/extensions-api-resourceloader/index.html" >Resource Loader API</a>

<ul >
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-resourceloader-getfile/index.html" >opera.extension.getFile()</a>

</li>
</ul>
</li>
  <li class="sub-collection parent-collection">

<span ></span><a href="http://dev.opera.com/articles/view/extensions-api-screenshot/index.html" >Screenshot API</a>

<ul >
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-screenshot-getscreenshot/index.html" >opera.extension.getScreenshot() and BrowserTab.getScreenshot()</a>

</li>
</ul>
</li>
  <li class="sub-collection parent-collection">

<span ></span><a href="http://dev.opera.com/articles/view/extensions-api-contextmenu/index.html" >Context Menu API</a>

<ul >
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-createitem/index.html" >opera.contexts. menu.createItem()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-additem/index.html" >opera.contexts. menu.addItem() and MenuItem.addItem()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-item/index.html" >opera.contexts.menu.item() and MenuItem.item()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-removeitem/index.html" >opera.contexts. menu.removeItem() and MenuItem.removeItem()</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-length/index.html" >opera.contexts.menu.length</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-onclick/index.html" >opera.contexts.menu.onclick and MenuItem.onclick</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-contexts/index.html" >MenuItem.contexts</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-disabled/index.html" >MenuItem.disabled</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-documenturlpatterns/index.html" >MenuItem. documentURLPatterns</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-icon/index.html" >MenuItem.icon</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-id/index.html" >MenuItem.id</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-parent/index.html" >MenuItem.parent</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-targeturlpatterns/index.html"  class="current">MenuItem.targetURLPatterns</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-title/index.html" >MenuItem.title</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-type/index.html" >MenuItem.type</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-documenturl/index.html" >MenuEvent.documentURL</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-iseditable/index.html" >MenuEvent.isEditable</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-linkurl/index.html" >MenuEvent.linkURL</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-mediatype/index.html" >MenuEvent.mediaType</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-pageurl/index.html" >MenuEvent.pageURL</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-selectiontext/index.html" >MenuEvent.selectionText</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-source/index.html" >MenuEvent.source</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-srcelement/index.html" >MenuEvent.srcElement</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-srcurl/index.html" >MenuEvent.srcURL</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/extensions-api-contextmenu-target/index.html" >MenuEvent.target</a>

</li>
</ul>
</li>
</ul>
</li>
  <li class="sub-collection parent-collection">
<span ></span>Extension tutorials<ul >
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/config-xml-howto/index.html" >The ins and outs of config.xml</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/opera-extensions-buttons-badges-and-popups/index.html" >Buttons, badges and popups</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/opera-extensions-messaging/index.html" >Messaging</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/opera-extensions-options-page/index.html" >Options page</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/accessing-an-opera-extensions-background-process/index.html" >Accessing an Opera extension's background process</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/creating-opera-speed-dial-extensions/index.html" >Creating Opera Speed Dial Extensions</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/cookie-sharing-in-opera-extensions/index.html" >Cookie-sharing in Opera extensions</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/site-blocking-with-operas-url-filter-api/index.html" >Site blocking with Opera’s URL Filter API</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/creating-multilingual-extensions/index.html" >Creating multilingual extensions</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/hands-on-building-an-opera-extension/index.html" >Hands-on tutorial: building an Opera extension</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/converting-userjs-to-extensions/index.html" >Converting UserJS to Opera Extensions</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/converting-widgets-to-opera-extensions/index.html" >Converting widgets to Opera Extensions: Things to keep in mind</a>

</li>
</ul>
</li>
  <li class="sub-collection parent-collection">
<span ></span>Templates and code samples<ul >
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/opera-extension-code-examples/index.html" >Opera extension code examples</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/opera-extensions-prototypes-modifying-css/index.html" >Opera extensions prototypes for modifying CSS</a>

</li>
</ul>
</li>
  <li class="sub-collection parent-collection">
<span ></span>UI guidelines and distribution<ul >
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/opera-extensions-publishing-guidelines/index.html" >Publishing guidelines</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/creating-effective-opera-extension-icons/index.html" >Creating effective Opera Extension icons</a>

</li>
  <li class="sub-collection leaf">
<a href="http://dev.opera.com/articles/view/distributing-opera-extensions-and-auto-updates/index.html" >Distributing Opera extensions and auto-updates</a>

</li>
</ul>
</li>
</ul>
  </section>

<script type="text/javascript">
$(document).ready(function() {
    // Add .current to all .sub-collections above the current .current
    $('.sub-collection:has(.current)').addClass('current');

    // Iterate over all .sub-collections
    $('.sub-collection').each(function() {
        var subCollectionUl = $(this).children('ul')
          , subCollectionExpander = $(this).children('span');

        if (subCollectionUl) {
            // Add special CSS rules for parent nodes that should be expandable
            if (!subCollectionUl.hasClass('root') ||
                subCollectionUl.css('display') === 'none') {

                // If the node has the .current class, it is per definition shown
                if ($(this).hasClass('current')) {
                    $(this).addClass('collection-shown');
                }
                // Otherwise, show the node as expandable
                else {
                    subCollectionExpander.toggleClass('expandable');
                    subCollectionUl.css('display', 'none');
                }
            }

            // Add a onclick hook to the expander
            subCollectionExpander.click(function() {
                var currentDisplay = subCollectionUl.css('display');

                // Toggle appropriate classes
                $(this).toggleClass('descendant');
                $(this).toggleClass('expandable');

                // Toggle visibility and appropriate class to parent node
                subCollectionUl.css('display', currentDisplay === 'none' ? 'inherit' : 'none');
                $(this).parent().toggleClass('collection-shown', currentDisplay === 'none');
            });
        }
    });
});
</script>
</aside>
</section>
<script type="text/javascript" src="http://dev.opera.com/static.myopera.com/dev/js/highlight.pack.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

    <footer>
      <section role="contentinfo">
        <ul>
          <li><a href="http://dev.opera.com/help.html">Help/<abbr>FAQ</abbr></a>
          <li><a href="http://my.opera.com/community/terms-of-service/?utm_source=devopera&amp;utm_medium=footer&amp;utm_campaign=devlinks">Terms of service</a>
          <li><a href="http://dev.opera.com/privacy.html">Privacy</a>
        </ul>
      </section>
    </footer>
  </body>
</html>
