<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Simple HTML5 video player with Flash fallback and custom controls - Dev.Opera</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="L7q_7GF5c9d7ZAUYdfaTiRaB6sTAGv_cRz3nq5DsabM">
    <meta name="description" content="Dev.Opera is the ultimate source of distilled knowledge for web developers, covering the latest open web technologies and techniques including HTML5, CSS3, JavaScript, SVG, optimizing content for mobiles, tablets and TVs, and creating add-ons such as extensions and themes for the Opera browser.">
    <meta name="keywords" content="Opera, web, HTML5, HTML, CSS3, CSS, JavaScript, SVG, Geolocation, Widgets, Extensions, Unite, Mini, Mobile, web development, design, web design, tutorials, articles, examples, demos, web standards, open standards, open web, video, audio, getusermedia, accessibility, wai-aria, transitions, translations, microformats, microdata, dataset, media queries, viewport, @viewport, transparency, opacity, gradients, box-shadow, text-shadow, web fonts, appcache, websql, local storage, ajax, json, games, userjs, webgl, tv, tablet, emulator, skinning, themes, skins, drasgonfly, mathml, web sockets, operawatir">
    <link rel="icon" href="../../../../static.myopera.com/dev/img/speed_dial-icon.png" type="image/png">
    <link rel="apple-touch-icon" href="../../../../static.myopera.com/dev/img/touch-icon.png" type="image/png">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/devopera.css" type="text/css">
    <!--[if IE 6]><link rel="stylesheet" href="/css/browsers/ie6.css" type="text/css"><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/css/browsers/ie7.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="/css/browsers/ie8.css" type="text/css"><![endif]-->
    <!--[if lte IE 8]><script type="text/javascript" src="/js/ie.js"></script><![endif]-->
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/articles.css">
    <link rel="stylesheet" media="print" href="../../../../static.myopera.com/dev/css/print.css">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/github.css">
    <link rel="alternate" type="application/rss+xml" title="Recent articles - RSS 2.0 Feed" href="../../../feeds/rss/articles">
    <link rel="alternate" type="application/atom+xml" title="Recent articles - Atom 1.0 Feed" href="../../../feeds/atom/articles">
    <link rel="alternate" type="application/rss+xml" title="Recent articles in Web - RSS 2.0 Feed" href="../../../feeds/rss/articles/web">
    <link rel="alternate" type="application/atom+xml" title="Recent articles in Web - Atom 1.0 Feed" href="../../../feeds/atom/articles/web">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../../../static.myopera.com/dev/js/menu.js"></script>
    <noscript>
      <style type="text/css">
.collection ul li ul {
    display: inherit !important;
}
      </style>
    </noscript>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-4118503-4']);
_gaq.push(['_gat._anonymizeIp']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
    </script>

  </head>
  <body class="web">
    <header role="banner"  class="article-view" >
      <div>
        <a href="../../../index.html" id="logo">Dev.Opera</a>
        <form action="http://dev.opera.com/search" role="search">
          <fieldset>
            <label class="hidden" for="q">Search</label>
            <input type="text" name="q" maxlength="256" value="" id="q" required>
            <input type="submit" id="q-submit" value="Search" title="Search">
          </fieldset>
        </form>
        <p id="login">
          <a href="../../../../../https/dev.opera.com/login/index.html" accesskey="L" title="Log in">Log in</a>
        </p>
        <nav id="nav">
          <ul role="menu">

            <li role="menuitem"  class="selected">
              <a href="../../../web.html">Web</a>
            </li>
            <li role="menuitem" >
              <a href="../../../addons.1.html">Add-ons</a>
            </li>
            <li role="menuitem" >
              <a href="../../../mobile.html">Mobile</a>
            </li>
            <li role="menuitem" >
              <a href="../../../tv.html">TV</a>
            </li>
            <li role="menuitem" >
              <a href="../../../labs.html">Labs</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
<section id="content" role="main" class="asideleft">
  <section class="main">
    <article lang="en">
      <h1>Simple HTML5 video player with Flash fallback and custom controls</h1>
      <p class="print author">By Bruce Lawson, Vadim Makeev</p>

      <p class="note">Article adapted from original published in <a href="http://www.netmag.co.uk/">.net magazine</a> July 2010 issue. Thanks to Dan Oliver and team!</p>

<h2>Introduction</h2>

<p>Want to put video onto your web page? HTML5 enables us to do
this as easily as placing images with an <code>&lt;img&gt;</code> element – and in
this tutorial, we’ll show you how the magic is done.</p>

<h2>Video basics</h2>

<p>Let&#39;s start by looking at a basic example:</p>

<pre><code>&lt;video src=&quot;video.webm&quot; controls poster=&quot;video.jpg&quot; width=&quot;854&quot;
height=&quot;480&quot;&gt;
  &lt;p&gt;Your browser can’t play HTML5 video. &lt;a href=&quot;video.webm&quot;&gt;
Download it&lt;/a&gt; instead.&lt;/p&gt;
&lt;/video&gt;</code></pre>

<p>The <code>src</code> attribute points to the video file and
<code>controls</code> indicates that we want the browser to show control buttons (play/
pause, volume and so on). The value of the optional <code>poster</code> attribute is the
path to the static image that the browser will show while the video is loading
and before a user hits play. It’s a good idea to pick an appealing frame from the video or related image that
will persuade users to view the video. If you don’t use <code>poster</code>, the first frame
of the video will be displayed. The code between the opening and closing
<code>&lt;video&gt;</code> tags is fallback content for browsers that have no HTML5 <code>&lt;video&gt;</code> support.</p>

<p>As you can see, the syntax here is beautifully simple. Well, that’s the theory. To
have real cross-browser video, we need to include two files: one encoded as
WebM (which Opera, Firefox and Chrome supports) and one in H.264 format (supported by Safari and IE9). To specify more than one source for a
video element, we drop the <code>src</code> attribute and instead include all the alternative formats with <code>&lt;source&gt;</code> elements:</p>

<pre><code>&lt;video controls poster=&quot;video.jpg&quot; width=&quot;854&quot; height=&quot;480&quot;&gt;
  &lt;source src=&quot;video.mp4&quot; type=&quot;video/mp4&quot;&gt;
  &lt;source src=&quot;video.webm&quot; type=&quot;video/webm&quot;&gt;
    ...
&lt;/video&gt;</code></pre>

<p class="note">Note: It is advisable to put the MP4 source first, because of an iPad bug that stops it finding the source, if this is not the case.</p>

<p>The <code>type</code> attribute in this case tells the browser about the
container format (and optionally the codec) of the video. See <a href="http://www.w3.org/TR/html5/the-iframe-element.html#the-source-element">the source element specification</a> for more details.</p>

<p class="note"><strong>Creating WebM videos</strong>: For a simple and easy to use application for converting videos to WebM (and many other formats), check out the <a href="http://www.mirovideoconverter.com/">Miro video converter</a>.</p>


<h2>Serving Flash to older browsers</h2>

<p>For extra compatibility with less recent browsers, let’s put
the old-style Flash embedding code inside the <code>&lt;video&gt;</code> element
as fallback, so that if the browser doesn’t know anything about
the beauty of HTML5 native video, it defaults to the Flash fallback content
inside the tags.</p>

<p>Flash supports playback of H.264 video, so all we need is our ready-made
Flash player (inside the same folder), and we’ll pass it the URL for the H.264 version of
our video as a parameter. It’s important to note that the path to the MP4 needs
to be either absolute or relative to the location of the SWF file – for simplicity,
we’ve placed the player and the videos in the same directory.</p>

<pre><code>&lt;object type=&quot;application/x-shockwave-flash&quot; data=&quot;m/player.swf&quot;
width=&quot;854&quot; height=&quot;504&quot;&gt;
  &lt;param name=&quot;allowfullscreen&quot; value=&quot;true&quot;&gt;
  &lt;param name=&quot;allowscriptaccess&quot; value=&quot;always&quot;&gt;
  &lt;param name=&quot;flashvars&quot; value=&quot;file=video.mp4&quot;&gt;
  &lt;!--[if IE]&gt;&lt;param name=&quot;movie&quot; value=&quot;player.swf&quot;&gt;&lt;![endif]--&gt;
  &lt;img src=&quot;video.jpg&quot; width=&quot;854&quot; height=&quot;480&quot; alt=&quot;Video&quot;&gt;
  &lt;p&gt;Your browser can’t play HTML5 video. &lt;a href=&quot;video.webm&quot;&gt;Download
  it&lt;/a&gt; instead.&lt;/p&gt;
&lt;/object&gt;</code></pre>

<p>So, if we combine all of this together, our final code looks like this:</p>

<pre><code>&lt;video controls poster=&quot;video.jpg&quot; width=&quot;854&quot; height=&quot;480&quot;&gt;
  &lt;source src=&quot;video.mp4&quot; type=&quot;video/mp4&quot;&gt;
  &lt;source src=&quot;video.webm&quot; type=&quot;video/webm&quot;&gt;
  &lt;object type=&quot;application/x-shockwave-flash&quot; data=&quot;player.swf&quot;
width=&quot;854&quot; height=&quot;504&quot;&gt;
    &lt;param name=&quot;allowfullscreen&quot; value=&quot;true&quot;&gt;
    &lt;param name=&quot;allowscriptaccess&quot; value=&quot;always&quot;&gt;
    &lt;param name=&quot;flashvars&quot; value=&quot;file=video.mp4&quot;&gt;
    &lt;!--[if IE]&gt;&lt;param name=&quot;movie&quot; value=&quot;player.swf&quot;&gt;&lt;![endif]--&gt;
    &lt;img src=&quot;video.jpg&quot; width=&quot;854&quot; height=&quot;480&quot; alt=&quot;Video&quot;&gt;
    &lt;p&gt;Your browser can’t play HTML5 video. &lt;a href=&quot;video.webm&quot;&gt;
Download it&lt;/a&gt; instead.&lt;/p&gt;
  &lt;/object&gt;
&lt;/video&gt;</code></pre>

<p><img src="../../../../devfiles.myopera.com/articles/4791/html5-video-basic.jpg" alt="video player with WebM and H 264 formats available, and Flash fallback" /></p>
<p class="comment">Figure 1: Our video has been encoded as both WebM and H.264 – with a Flash fallback for good measure – giving it real cross-browser compatibility.</p>

<p><a href="../../../../devfiles.myopera.com/articles/4791/0.htm">See the basic HTML5 video example</a>.</p>

<h2>Make your own controls</h2>

<p>Everything looks fine now: older browsers will show the Flash player, modern
browsers will use their native video capabilities to show whichever format
video they can support. Because our <code>&lt;video&gt;</code> element has the <code>controls</code> attribute
set, browsers with native video will use their default playback controls. For
many people, that will be enough – but it might be a problem that the default
controls look slightly different from browser to browser, or don’t fit in with the
design of your site. So, let’s try to create our own HTML-based controls that can
manipulate the video via JavaScript.</p>

<p>We’ll keep it simple and just include a Play and Mute button. The most
logical choice for these is to use the trusty &lt;button&gt; element with
corresponding text inside. We’ll add these into the DOM using script, so users
without JavaScript won’t be bothered with the functionless buttons that they’d
get if we put these elements in the markup. For a similar reason, we’ll continue
to specify the <code>controls</code> attribute in the markup and remove it with our script, so
native controls remain available for users without scripting capabilities.</p>

<p>There are nine steps to our script:</p>

<ol>
  <li>Check for video support</li>
  <li>Get all video containers on the page</li>
  <li>Get every single video instance</li>
  <li>Get and create all needed elements</li>
  <li>Turn off native video controls</li>
  <li>Customise Play button behaviour</li>
  <li>Customise Mute button behaviour</li>
  <li>Add custom controls to the video container</li>
  <li>Initialise function on page load</li>
</ol>

<pre><code>&lt;script&gt;
function init() {
  // 1. Check for video support
  if( !document.createElement(&#39;video&#39;).canPlayType ) return;
  // 2. Get all video containers on the page
  var videos = document.querySelectorAll( &#39;div.video&#39; ),
  videosLength = videos.length;
  // 3. Get every single video instance
  for( var i=0; i &lt; videosLength; i++ ) {
    var root = videos[i];
    // 4. Get and create all needed elements
    video = root.querySelector( &#39;video&#39; ),
    play = document.createElement( &#39;button&#39; ),
    mute = document.createElement( &#39;button&#39; );
    // 5. Turn off native video controls
    video.controls = false;
    // 6. Customise Play button behaviour
    play.innerHTML = play.title = &#39;Play&#39;;
    play.onclick = function() {
      if( video.paused ) {
        video.play();
        play.innerHTML = play.title = &#39;Pause&#39;;
      } else {
        video.pause();
        play.innerHTML = play.title = &#39;Play&#39;;
      }
    }
    // 7. Customise Mute button behaviour
    mute.innerHTML = mute.title = &#39;Mute&#39;;
    mute.onclick = function() {
      if( video.muted ) {
        video.muted = false;
        mute.innerHTML = mute.title = &#39;Mute&#39;;
      } else {
        video.muted = true;
        mute.innerHTML = mute.title = &#39;Unmute&#39;;
      }
    }
    // 8. Add custom controls to the video container
    root.appendChild( play );
    root.appendChild( mute );
  }
}

// 9. Initialise function on page load
window.onload = init;
&lt;/script&gt;</code></pre>

<p><img src="../../../../devfiles.myopera.com/articles/4791/html5-video-with-js.jpg" alt="custom control buttons for our video added using JavaScript" /></p>
<p class="comment">Figure 2: All it takes to control a video is some straightforward JavaScript. Here we’ve added two basic buttons, one to play the video and one to mute the sound.</p>

<p><a href="../../../../devfiles.myopera.com/articles/4791/1.htm">See the HTML5 video example with JavaScript controls</a>.</p>

<h2>Stay tuned for style</h2>

<p>Now we can control a video with nothing more than some simple JavaScript.
The buttons work fine, but they don’t look much better than the native video
controls. However, before we start doing some styling, let’s add all the
necessary classes to our buttons via JavaScript:</p>

<pre><code>play.className = &#39;video-button video-play&#39;;
play.onclick = function() {
  if( video.paused ) {
      …
    // Additional class names for container and button while playing
    root.className += &#39; video-on&#39;;
    play.className += &#39; video-play-on&#39;;
  } else {
      …
    // Remove additional class names for container and button in paused state
    root.className = root.className.replace( &#39; video-on&#39;, &#39;&#39; );
    play.className = play.className.replace( &#39; video-play-on&#39;, &#39;&#39; );
  }
}</code></pre>

<p>Our buttons will be square but, with some tricky rounded corners (using the
much-loved <code>border-radius</code> property, set to exactly half of the width/height of the square), we’ll style them to look like circles:</p>

<pre><code>.video-play {
  border-radius:25px;
}</code></pre>

<p>Let’s add more dimensions with the box-shadow property, specifying all
necessary values separated by commas, with the help of the inset keyword:</p>

<pre><code>.video-play {
  box-shadow:0 0 50px #FFF,
  inset 5px 5px 20px #444,
  inset 0 -20px 40px #000;
}</code></pre>

<p>Now, let’s place a small icon under every button to show its current state:
Play/Pause and Mute/Unmute. We’ll add it via CSS-generated content placed
after each button with the <code>::after</code> pseudo-element (the double colon is newer syntax; we’ll use a single colon for backwards compatibility):</p>

<pre><code>.video-button:after {
  position:absolute;
  background:url(buttons.png) no-repeat;
  content:&#39;&#39;;
}</code></pre>

<p>To reduce HTTP requests across the network, we’re using CSS sprites: all icons
are put inside a single image, which is placed using <code>background-image</code> and will
be moved by the <code>background-position</code> property according to our needs. But
there’s another niggle: Firefox has a problem with a positioning bug. For some
reason, it thinks the position origin should be in the middle of the element,
while the rest of the browsers are (rightly) basing the positioning coordinates
on the top-left corner. For this reason, we just can’t position our icons correctly
in Firefox – let’s hope this bug gets fixed soon.</p>

<p>So, at the moment there are three browsers that will show our experiment
properly: Opera, Safari and Google Chrome. It’s acceptable in our case because we’re
just trying things out. After all, we don’t need the other visual niceties.</p>

<p>There’s only one thing left to add – more eye candy. For example, we can make
the video semi-transparent in the beginning, less transparent on hover and
completely opaque while playing. The background colour of the container is
the colour our semi-transparent video will be dissolved in.</p>

<pre><code>.video video {
  opacity:.4;
}

.video:hover video {
  opacity:.6;
}

.video-on video,
.video-on:hover video {
  opacity:1;
}</code></pre>

<p>Our experiment wouldn’t be complete without some fancy animations. Let’s
add a couple of properties from the draft CSS3 transforms and transitions
specifications to make our interface and video pop: a smooth increase of the
buttons’ size on hover, and animation of video transparency changes. We’ll
start with the buttons: using the <code>transform:scale(…)</code> property we increase the
button size on hover by an extra 10%. First, we define a button’s default scale:</p>

<pre><code>.video-button {
  transform:scale(1.0);
}</code></pre>

<p>For full compatibility we should repeat this property four times with vendor
prefixes: <code>-o-</code> for Opera, <code>-webkit-</code> for Safari, Chrome and other Webkit-based browsers, <code>-moz-</code> for Firefox
and other Gecko-based browsers, and one property without any prefixes for future
browsers that will support this property. Next, we define the animation itself. We use the <code>transition</code> property to
smoothly animate changes on any of the button properties for 0.2 seconds with linear acceleration.</p>

<pre><code>.video-button {
  transition:all .2s linear;
}</code></pre>

<p>Lastly, we define the property that needs to change when the button is
hovered. In our case, the size increase by 10%:</p>

<pre><code>.video-button:hover {
  transform:scale(1.1);
}</code></pre>

<p>We use a similar approach to define all the different states of video
transparency that we want to display. Now we have luxuriously styled video that reacts nicely to the user’s actions
and is controlled by smoothly animated buttons. And all of this using only pure
HTML, CSS and JavaScript, without any plug-ins (except for the small concession of using a Flash fallback for non-supporting browsers.)</p>

<p><img src="../../../../devfiles.myopera.com/articles/4791/html5-video-with-css_1.jpg" alt="styling our buttons, and using different transparency levels on the video at its default state, and while hovered and playing to make the interface seem more responsive" /><img src="../../../../devfiles.myopera.com/articles/4791/html5-video-with-css_2.jpg" alt="another shot of the styled video controls, showing the increased opacity while the video is playing, and the pause button in place of the play button" /></p>
<p class="comment">Figure 3: We’ve jazzed our buttons up with CSS sprites, border-radius and some outer and inner shadows, ad we&#39;ve used a transparency trick and transitions to make the interface seem more responsive.</p>

<p><a href="../../../../devfiles.myopera.com/articles/4791/2.htm">See the final HTML5 video example with CSS facelift</a>.</p>

<h2>Why support WebM?</h2>

<p>The web that we know and love is built on
free and open standards. Web pages are made
of HTML, CSS, SVG and JavaScript – all open
standards that nobody owns. There are no
royalties to pay and no expensive programs to
buy; anyone can author with software no more sophisticated than a
text editor. That’s vital to the health, continued growth and democratic
tradition of the web. HTML5 is a W3C standard with features that, for
some use cases, can start to compete with proprietary formats such
as Flash or Silverlight. One of these new features is the support for
native audio and video playback, giving browsers the ability to display
multimedia-enriched pages without the need for any kind of plug-in or royalties.</p>

<p>H.264 on the other hand is a royalty-encumbered format licensed by an organisation
called MPEG-LA – two of the licensors are Apple and Microsoft. For a
browser to include decoding software, it must pay the MPEG-LA up to
$5million a year, based on the rates set for 2010. This high, variable cost
is a huge barrier to any new innovative browser entering the market.
So what about web developers: do we have to pay a royalty when
we use a format to put video on the web? With WebM, you don’t: it’s
open. With H.264, you don’t either, if your videos are free for the audience to view (and will always be free). MPEG-LA has announced that
it “will continue not to charge royalties for Internet Video that is free
to end users … during the next License term from January 1, 2011 to
December 31, 2015” (<a href="http://bit.ly/au1DKr">see this MPEG-LA press release from 2010</a>). From 2016, they may continue the
royalty holiday, or they may charge you whatever they want. If people
like us don’t support WebM by including it in our pages – starting now
– and H.264 becomes the de-facto standard for HTML5 video, there’ll be
nothing at all you can do about it. You’ll have to pay.</p>

<p>On to the browsers. Opera, Firefox and Chrome support WebM. Apple’s
Safari and Microsoft IE9 support H.264, with plugins available from Google to help them play WebM. So for the foreseeable future we are looking at a multiple format solution like the one described in this article, at least, until the Flash Player adds support for WebM (Adobe have announced support for VP8, which is the video codec inside WebM, but getting Flash to play Ogg Vorbis, the audio codec inside WebM, is currently a bit tricky).</p>

<h2 id="readmore">Read more...</h2>
<ul>
  <li><a href="../custom-html5-video-player-with-css3-and-jquery/index.html">Building a custom HTML5 video player with CSS3 and jQuery</a></li>
  <li><a href="../introduction-html5-video/index.html">Introduction to HTML5 video</a></li>
</ul>

      <p id="license" class="info">This article is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" rel="license">Creative Commons Attribution-Noncommercial-Share Alike 3.0 Unported</a> license.</p>

    </article>
<section id="comments">
  <h2>Comments</h2>
      <p class="info">The forum archive of this article is still available on <a href="http://my.opera.com/community/forums/topic.dml?id=911621">My Opera</a>.</p>
  <ul>
    <li id="comment-76823382">
      <a href="../../../author/johnprashath.html"><img src="../../../../../https/static.myopera.com/avatars/pool1/87/a87/07a9e1db8ab3eda0795e04b22c4c78d7ae4." alt="photo" class="avatar"/></a>
      <p class="commenter"><a href="../../../author/johnprashath.html">johnprashath</a></p>
      <p class="commentdate">Friday, December 9, 2011</p>
      <section class="commentcontent"><span class="bubble-arrow"></span>Html5 can’t replace adobe at once... so that i love html5 fallback support to flash. Because A rapidly growing number of handheld devices support either Flash or HTML5 for video playback. I use <a href="http://www.hdwebplayer.com"> Flash Video Player</a> of HD Webplayer to my website with html5 fallback support. HD Webplayer does auto-detect which playback mode is supported by a user&#39;s device and select accordingly. It works great for me... </section>
    </li>
    <li id="comment-76853332">
      <a href="../../../author/chrismills.html"><img src="../../../../../https/static.myopera.com/avatars/pool1/49/546/4272683e28ab456dc962e131580e44990be.jpg" alt="photo" class="avatar"/></a>
      <p class="commenter"><a href="../../../author/chrismills.html">Chris Mills</a></p>
      <p class="commentdate">Friday, December 9, 2011</p>
      <section class="commentcontent"><span class="bubble-arrow"></span>Sounds like a good way of doing things, @johnprashath.<br/><br/>I agree that it won&#39;t replace Adobe overnight.</section>
    </li>
  </ul>
No new comments accepted.
</section>

  </section>

  <aside>
    <section class="info">
      <p class="author"><strong>Author</strong> <a href="../../../author/brucelawson.html" rel="author">Bruce Lawson</a></p>
      <p>
        <strong>Date</strong>
        Thursday, February 17, 2011
      </p>

      <p class="author"><strong>Co-authors</strong>
        <a href="../../../author/pepelsbey.html" rel="author">Vadim Makeev</a>
      </p>
      <p class="tags"><strong>Tags</strong></p>
      <ul class="tags">
        <li><a href="../../tags/css.html" rel="tag">css</a></li>
        <li><a href="../../tags/flash.html" rel="tag">flash</a></li>
        <li><a href="../../tags/h.264.html" rel="tag">h.264</a></li>
        <li><a href="../../tags/html5.html" rel="tag">html5</a></li>
        <li><a href="../../tags/video.html" rel="tag">video</a></li>
        <li><a href="../../tags/webm.html" rel="tag">webm</a></li>
      </ul>
    </section>
  </aside>




</section>
<script type="text/javascript" src="../../../../static.myopera.com/dev/js/highlight.pack.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

    <footer>
      <section role="contentinfo">
        <ul>
          <li><a href="../../../help.html">Help/<abbr>FAQ</abbr></a>
          <li><a href="http://my.opera.com/community/terms-of-service/?utm_source=devopera&amp;utm_medium=footer&amp;utm_campaign=devlinks">Terms of service</a>
          <li><a href="../../../privacy.html">Privacy</a>
        </ul>
      </section>
    </footer>
  </body>
</html>
