<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Barcodes: connecting the real-world to the virtual - Dev.Opera</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="L7q_7GF5c9d7ZAUYdfaTiRaB6sTAGv_cRz3nq5DsabM">
    <meta name="description" content="Dev.Opera is the ultimate source of distilled knowledge for web developers, covering the latest open web technologies and techniques including HTML5, CSS3, JavaScript, SVG, optimizing content for mobiles, tablets and TVs, and creating add-ons such as extensions and themes for the Opera browser.">
    <meta name="keywords" content="Opera, web, HTML5, HTML, CSS3, CSS, JavaScript, SVG, Geolocation, Widgets, Extensions, Unite, Mini, Mobile, web development, design, web design, tutorials, articles, examples, demos, web standards, open standards, open web, video, audio, getusermedia, accessibility, wai-aria, transitions, translations, microformats, microdata, dataset, media queries, viewport, @viewport, transparency, opacity, gradients, box-shadow, text-shadow, web fonts, appcache, websql, local storage, ajax, json, games, userjs, webgl, tv, tablet, emulator, skinning, themes, skins, drasgonfly, mathml, web sockets, operawatir">
    <link rel="icon" href="../../../../static.myopera.com/dev/img/speed_dial-icon.png" type="image/png">
    <link rel="apple-touch-icon" href="../../../../static.myopera.com/dev/img/touch-icon.png" type="image/png">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/devopera.css" type="text/css">
    <!--[if IE 6]><link rel="stylesheet" href="/css/browsers/ie6.css" type="text/css"><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/css/browsers/ie7.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="/css/browsers/ie8.css" type="text/css"><![endif]-->
    <!--[if lte IE 8]><script type="text/javascript" src="/js/ie.js"></script><![endif]-->
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/articles.css">
    <link rel="stylesheet" media="print" href="../../../../static.myopera.com/dev/css/print.css">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/github.css">
    <link rel="alternate" type="application/rss+xml" title="Recent articles - RSS 2.0 Feed" href="../../../feeds/rss/articles">
    <link rel="alternate" type="application/atom+xml" title="Recent articles - Atom 1.0 Feed" href="../../../feeds/atom/articles">
    <link rel="alternate" type="application/rss+xml" title="Recent articles in Mobile - RSS 2.0 Feed" href="../../../feeds/rss/articles/mobile">
    <link rel="alternate" type="application/atom+xml" title="Recent articles in Mobile - Atom 1.0 Feed" href="../../../feeds/atom/articles/mobile">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../../../static.myopera.com/dev/js/menu.js"></script>
    <noscript>
      <style type="text/css">
.collection ul li ul {
    display: inherit !important;
}
      </style>
    </noscript>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-4118503-4']);
_gaq.push(['_gat._anonymizeIp']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
    </script>

  </head>
  <body class="mobile">
    <header role="banner"  class="article-view" >
      <div>
        <a href="../../../index.html" id="logo">Dev.Opera</a>
        <form action="http://dev.opera.com/search" role="search">
          <fieldset>
            <label class="hidden" for="q">Search</label>
            <input type="text" name="q" maxlength="256" value="" id="q" required>
            <input type="submit" id="q-submit" value="Search" title="Search">
          </fieldset>
        </form>
        <p id="login">
          <a href="../../../../../https/dev.opera.com/login/index.html" accesskey="L" title="Log in">Log in</a>
        </p>
        <nav id="nav">
          <ul role="menu">

            <li role="menuitem" >
              <a href="../../../web.html">Web</a>
            </li>
            <li role="menuitem" >
              <a href="../../../addons.1.html">Add-ons</a>
            </li>
            <li role="menuitem"  class="selected">
              <a href="../../../mobile.html">Mobile</a>
            </li>
            <li role="menuitem" >
              <a href="../../../tv.html">TV</a>
            </li>
            <li role="menuitem" >
              <a href="../../../labs.html">Labs</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
<section id="content" role="main" class="asideleft">
  <section class="main">
    <article lang="en">
      <h1>Barcodes: connecting the real-world to the virtual</h1>
      <p class="print author">By Brian Suda</p>

      <h2>Introduction</h2>
<p>The world of barcodes is becoming vastly more interesting in recent times, with 2D barcodes allowing us to represent anything from URLs to invoices, which in turn allows us to connect physical images to applications in all kinds of interesting ways. In this article I will look at the history of barcodes, detail what’s available today for creating and reading barcodes, and look at some real-world use cases.</p>
<h2>Barcodes: a brief history</h2>
<p>Life is truly black and white when you are dealing with barcodes. Those little lines that grace the backs of our books, boxes and just about everything else have become ubiquitous in our society - so much so that they have become symbols of capitalism, namelessness and government control. Some readers have never known a world without barcodes, and for others it may just seem like that, but the barcode is barely in its middle-age crisis. Officially, the first patent for a barcode was awarded in October 1952 for tracking train cars. It was another 14 years before the barcode caught the eyes of manufactures and put into commercial use. Another 15+ years forward to the 1980s, and barcodes were being slapped on just about everything we buy.</p>

<p>A barcode is a combination of thick and thin lines used to represent a series of numbers. For books, these numbers encode an ISBN, which has become so popular it had to be extended from a 10 to a 13 digit number! But a barcode can encode any value, not just ISBNs. The series of lines represents digits, and the thickness and combination of those lines describe which digit is being encoded.</p>

<p>The traditional barcodes you see everyday are sometimes called one-dimensional barcodes. This is because they are scanned, or &quot;read&quot;, in only one direction - horizontally. The vertical height of the barcode makes for easy scanning, but in itself does not add any additional information. The next generation of barcodes is generally referred to as 2D, two-dimensional, barcodes. These new style barcodes get their name from the ability to be read both horizontally and vertically, therefore increasing the density of information that can be encoded in the same amount of space.</p>
<h2>2D Barcodes</h2>
<p>There have been several types of 2D barcode put out onto the market, but only a few have been implemented and show any real promise in the industry. This article will be demonstrating a 2D barcode called <abbr title="Quick response">QR code</abbr>. Much of what is demonstrated here can also be done with other 2D barcodes, including the also-popular Data Matrix barcode. I will be using QR codes, because in my opinion, they are the best solution at the moment. They are more robust and have more promise and adoption than the other variants. The other major barcode type to keep an eye on is <a href=" http://en.wikipedia.org/wiki/PDF417">PDF417</a>. This standard is being adopted by the airlines industry to encode self-printable boarding passes. A 2D barcode style ticket will be required across the entire airline industry by 2010, so you can be sure that this technology will only expand into other aspects of our daily life as well.</p>
<h3>QR Codes</h3> 
<p>QR codes are the most robust of the current 2D barcode formats. They have wide adoption in Asia and Oceania and are making headway in Europe and the Americas. What makes QR codes so special is that they are capable of encoding non-ASCII characters, along with URLs, telephone numbers, SMS messages and even binary data. With these options and more, it is a natural fit when extending 1D barcodes from a number, to a string of characters.</p>

<p>Since you can encode just about any data, you can begin to use it for applications such as inventory control or unique ids for database look-ups, and beyond. Figure 1 is an example of what a QR code looks like.</p>
<img alt="example QR code" src="../../../../devfiles.myopera.com/articles/577/qr-code_example.png" />

<p class="comment">Figure 1: Example QR Code.</p>

<p>You can recognize a QR code by the 3 large squares in the corners. These are registration marks -  they tell the QR Code reader which side is the top. A good scanner can read a 2D barcode from any direction and rotate it in memory so those registration marks and the rest of the barcode are in the right orientation. The black and white squares in the area between the registration marks are the encoded data (well, it is slightly more complex than that, because there is some error checking and correction added into those squares). This makes the format even more robust and resistant to damage from the elements. With the highest level of encoding and error checking it is possible to damage up to 30% of the barcode and have it still be decoded into its original data.</p>

<p>QR codes can also encode more data than other barcode formats, over 4000 ASCII chars. The more data that gets encoded, the larger the barcode grows. Figure 2 is a barcode representing 500 characters.</p>

<img alt="example QR Code with 500 chars encoded" src="../../../../devfiles.myopera.com/articles/577/qr-code_big.png" />

<p class="comment">Figure 2: Example QR Code with 500 chars encoded.</p>

<p>You can see that the dimensions have grown and there are additional, smaller, registration marks to incorporate the additional information.</p>
<h2>Creating QR Codes</h2> 
<p>The Google charts API allows you to easily create QR codes without having to understand the underlying algorithms. Let’s have a look at how to use it, step by step.</p>

<p>The base URL for creating dynamic charts is <code>http://chart.apis.google.com/chart</code>.</p>

<p>But that&#39;s not enough; this current URL will give you an error. We need to pass some additional information to let Google know the kind of chart we want to create, the dimensions of the image and the data to encode. To do this, we add a ? at the end of the URL followed by name value pairs containing the extra data.
Since we are creating QR codes, we first need to pass that value in the URL, like so:</p>
 
<pre>http://chart.apis.google.com/chart?cht=qr</pre>

<p>The parameter <code>cht</code> stands for chart type. The value is <code>qr</code> for QR Code, because that is the type of chart we want. Google offers a full range of chart types, all of which are described at <a href="http://code.google.com/apis/chart/">The Google Chart API Developer’s Guide</a>.</p>
<p>Next, we want to define the size of the QR Code. To do this we need to pass the <code>chs</code> chart size parameter with the height and width dimensions. The new URL looks like this:</p>

<pre>http://chart.apis.google.com/chart?cht=qr&amp;chs=200x200</pre>

<p>This URL generates a QR Code, but we still haven&#39;t passed it any data to encode. To do this we pass the last required parameter <code>chl</code>, which stands for chart label. This is a string of the information to be encoded. We are going to use the string &quot;My First QR Code&quot;, which when URL encoded becomes &quot;My%20First%20QR%20Code&quot; (all the spaces have been converted to %20). This gives us a final URL of:</p>

<pre>http://chart.apis.google.com/chart?cht=qr&amp;chs=200x200&amp;chl=My%20First%20QR%20Code</pre>
<p>The resulting QR code looks like Figure 3.</p>
<img alt="my first QR code" src="../../../../devfiles.myopera.com/articles/577/qr-code_small.png" />

<p class="comment">Figure 3: My First QR Code.</p>
<h2>Reading 2D barcodes</h2>
<p>Creating a 2D barcode is only half the story - the next step is figuring out how to read them. We have recently passed the technical tipping point for the 2D barcode readers. The software needed to decode the barcode algorithm will run on even the slowest of processors with moderately good imagery. What is being described is the everyday camera phone.</p>

<p>There are various free applications for reading the different types of 2D barcodes, and these are just a few:</p>

<ul>
<li><a href="http://reader.kaywa.com/">Kaywa creates a free QR code reader</a> that works on a variety of devices.</li>
<li><a href="http://mobilecodes.nokia.com/">Nokia software for reading several 2D barcode formats</a> comes pre-installed on newer high-end phones.</li>
<li>There are also software projects for 2D barcode readers on the iPhone and Android platforms.</li>
</ul>

<p>Using the Barcode reading software is easy. You simply launch the application, point it at the barcode (see Figure 4) and the information is decoded.</p> 

<img alt="QR Code on the back of my notebook" src="../../../../devfiles.myopera.com/articles/577/qr-code_notebook.jpg" />

<p class="comment">Figure 4: QR Code on the back of my notebook.</p> 
 
<h2>What are 2D barcodes used for?</h2>
<p>Previously, traditional barcodes all had to go through some sort of central authority for ISBN registration. You were also required to purchase specialized hardware laser readers to scan these barcodes, making it impractical for everyday personal use. With 2D barcodes any type of data can be encoded independent of a central registry. As the mobile device is becoming more and more ubiquitous and more and more powerful every day, we can use its capabilities in new ways, for new applications. This opens the door to reading 2D barcodes and converting them to a wide assortment of information that the phone can act on.</p>

<p>After plain text, the next example to encode is a URL.</p>


<img alt="An encoded URL in a QR code" src="../../../../devfiles.myopera.com/articles/577/qr-code_url.png" />

<p class="comment">Figure 5: URL to Hello World Article on Wikipedia.</p>

<p>If you decode this barcode you will get the URL <a href="http://en.wikipedia.org/wiki/Hello_world">http://en.wikipedia.org/wiki/Hello_world</a> in return. Your phone will recognize this as a URL and ask you if you want to launch the web browser and visit the site. For short URLs, you&#39;d wonder why this is useful. For longer URLs it is obviously a time saver, because it is a pain to type a long URL in with T9 on a numeric keypad. Having a barcode makes it much easier to enter and access the data. Another side effect of not having to type URLs, is that you can take a photo of a barcode while wearing mittens. All new Nokia phones ship with a barcode reader and in the sub-zero temperatures of a Helsinki winter, you can bet it is much easier to launch a web browser and check URLs via a 2D barcode than take off your gloves and try to spend 30 seconds typing them in!</p>

<p>Your phone is much more versatile than just accessing URLs. Your desktop web browser knows several different protocols – <code>http</code>, <code>https</code> and <code>mailto</code> to name a few. Your phone, on the other hand, knows about these and some others, namely the <code>tel</code> and <code>sms</code> protocols. In much the same way that you link to an email address with <code>mailto:userexample.com</code>, you can link to a telephone number with <code>tel:123.456.7890</code>. The former will launch your email client so you can send a message, and the latter will launch the dialer on the phone so you can make a call. The protocol <code>sms:123.456.7890</code> works in a pretty similar fashion. Now you can begin to encode barcodes that act as links to dial out.</p> 
 

<img alt=" A QR code to dial a number" src="../../../../devfiles.myopera.com/articles/577/qr-code_phone-number.png" />

<p class="comment">Figure 6: A QR code to dial a number.</p> 

<p>This is just the beginning - it is possible to encode more than just URLs and links. You can encode data files as well, such as vCards. This allows people to simply take a photo of your 2D barcode to import all your contact information into their address book (as seen in Figure 7). No more mis-typing or mis-spellings!</p> 


<img alt=" A QR code for a vCard on the back of business cards" src="../../../../devfiles.myopera.com/articles/577/qr-code_business-cards.jpg" />

<p class="comment">Figure 7: A QR code for a vCard on the back of business cards</p>
 

<p>It is also possible to encode binary data as well. Imagine the concert poster of the near future (or see Figure 8 to preview it):  A large retro 2-color poster with the band name &amp; photo. At the bottom there is a series of 2D barcodes. The first is a link to a calendar file. You follow the link and it adds the concert dates into your phone&#39;s calendar so you don&#39;t forget about it and double book that evening. Another 2D barcode is a 30 second mp3 clip of the band that you can check out to get a preview of the band. The 3rd 2D barcode links you to a site selling tickets to the event. You take a picture of the barcode and it decodes to some long cryptic URL specific to the ticket vendor&#39;s outdated eCommerce system. You launch the browser with the URL and order some tickets for this Friday night. Instead of typing in your credit card number, you simply get the price of the tickets added to next month&#39;s phone bill.</p> 


<img alt="The gig poster of the near future" src="../../../../devfiles.myopera.com/articles/577/qr-code_poster.jpg" />

<p class="comment">Figure 8: The gig poster of the near future.</p> 
 

<h2>Summary</h2>
<p>Exciting stuff huh? These small black and white squares become links from the physical world into the digital world. We can now begin to annotate objects that you can see and touch and continue the conversations online in a world were anyone can contribute to the conversation without also having to be physically next to you.</p>

 
<p>The biggest hurdles to adoption of 2D barcodes are not technical issues; these are solved. The next phase of their evolution is user interaction. On the web people have learnt that underlined blue text is a link. We need similar conventions for barcodes - where does this barcode lead, is it a URL or an email, or a phone number? There are no de facto standards for interactions - we are learning as we go, testing what works and what doesn&#39;t and mapping that to user expectations. There is much more to be explored beyond the technical achievements of 2D barcodes and that is where the real interesting parts begin.</p> 
<h3>Additional Resources</h3>
<ul>
<li><a href="http://en.wikipedia.org/wiki/Barcode">Detailed Wikipedia article on barcodes</a></li>
 
<li><a href="http://www.p8tch.com/">QR code resources, plus you can buy your own custom QR code fabric patches</a></li>
<li><a href="http://www.readwriteweb.com/archives/the_scannable_world_barcodes_scanning_in_the_real_world.php">ReadWriteWeb article on real world uses of QR codes</a></li>
</ul>

      <section id="author-info">
        <h1><a href="../../../author/briansuda.html" rel="author">Brian Suda</a></h1>
        <a href="../../../author/briansuda.html" rel="author"><img src="../../../../../https/static.myopera.com/avatars/pool1/4b/f53/7a93f1a034f27b5efd765cd74c8dec02822.png" alt=""/></a>
        <p>Brian Suda works at TM Software <a href="http://tm-software.com/" target="_blank">http://tm-software.com/</a> where he tinkers on enterprise websites working in new technologies and streamlining the customer experience.</p>
        <br class="clear" />
      </section>
      <p id="license" class="info">This article is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/" rel="license">Creative Commons Attribution, Non Commercial - Share Alike 2.5</a> license.</p>

    </article>
<section id="comments">
  <h2>Comments</h2>
      <p class="info">The forum archive of this article is still available on <a href="http://my.opera.com/community/forums/topic.dml?id=257444">My Opera</a>.</p>
  <ul>
    <li id="comment-101717912">
      <a href="../../../author/renehermi.html"><img src="../../../../../https/static.myopera.com/avatars/pool1/7c/6d5/1cc197a21266bd681082f276bf1ac0a868b.png" alt="photo" class="avatar"/></a>
      <p class="commenter"><a href="../../../author/renehermi.html">Rene</a></p>
      <p class="commentdate">Friday, December 28, 2012</p>
      <section class="commentcontent"><span class="bubble-arrow"></span>Interesting to see that qrcode´s seem to be more popular than ever before. The last two years i thought they would die out, but in the end of the year 2012 a new kind of qrcodes is ready to conquer the world. These codes are visual design codes in different colors and forms. It´s also possible to create codes with any background image. Look at that qrcode, really impressive nowadays as it was created completely by a software: <a href="http://www.free-qr-code.net/design-qr-code.html" target="_blank">http://www.free-qr-code.net/design-qr-code.html</a><br/><br/>Regards, René<br/></section>
    </li>
  </ul>
No new comments accepted.
</section>

  </section>

  <aside>
    <section class="info">
      <p class="author"><strong>Author</strong> <a href="../../../author/briansuda.html" rel="author">Brian Suda</a></p>
      <p>
        <strong>Date</strong>
        Friday, November 21, 2008
      </p>

      <p class="tags"><strong>Tags</strong></p>
      <ul class="tags">
        <li><a href="../../tags/barcode.html" rel="tag">barcode</a></li>
        <li><a href="../../tags/chart.html" rel="tag">chart</a></li>
        <li><a href="../../tags/code.html" rel="tag">code</a></li>
        <li><a href="../../tags/google.html" rel="tag">google</a></li>
        <li><a href="../../tags/QR.html" rel="tag">QR</a></li>
        <li><a href="../../tags/scan.html" rel="tag">scan</a></li>
      </ul>
    </section>
  </aside>




</section>
<script type="text/javascript" src="../../../../static.myopera.com/dev/js/highlight.pack.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

    <footer>
      <section role="contentinfo">
        <ul>
          <li><a href="../../../help.html">Help/<abbr>FAQ</abbr></a>
          <li><a href="http://my.opera.com/community/terms-of-service/?utm_source=devopera&amp;utm_medium=footer&amp;utm_campaign=devlinks">Terms of service</a>
          <li><a href="../../../privacy.html">Privacy</a>
        </ul>
      </section>
    </footer>
  </body>
</html>
