<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Themes in Opera 18+ - Dev.Opera</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="L7q_7GF5c9d7ZAUYdfaTiRaB6sTAGv_cRz3nq5DsabM">
    <meta name="description" content="Dev.Opera is the ultimate source of distilled knowledge for web developers, covering the latest open web technologies and techniques including HTML5, CSS3, JavaScript, SVG, optimizing content for mobiles, tablets and TVs, and creating add-ons such as extensions and themes for the Opera browser.">
    <meta name="keywords" content="Opera, web, HTML5, HTML, CSS3, CSS, JavaScript, SVG, Geolocation, Widgets, Extensions, Unite, Mini, Mobile, web development, design, web design, tutorials, articles, examples, demos, web standards, open standards, open web, video, audio, getusermedia, accessibility, wai-aria, transitions, translations, microformats, microdata, dataset, media queries, viewport, @viewport, transparency, opacity, gradients, box-shadow, text-shadow, web fonts, appcache, websql, local storage, ajax, json, games, userjs, webgl, tv, tablet, emulator, skinning, themes, skins, drasgonfly, mathml, web sockets, operawatir">
    <link rel="icon" href="../../../../static.myopera.com/dev/img/speed_dial-icon.png" type="image/png">
    <link rel="apple-touch-icon" href="../../../../static.myopera.com/dev/img/touch-icon.png" type="image/png">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/devopera.css" type="text/css">
    <!--[if IE 6]><link rel="stylesheet" href="/css/browsers/ie6.css" type="text/css"><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/css/browsers/ie7.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="/css/browsers/ie8.css" type="text/css"><![endif]-->
    <!--[if lte IE 8]><script type="text/javascript" src="/js/ie.js"></script><![endif]-->
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/articles.css">
    <link rel="stylesheet" media="print" href="../../../../static.myopera.com/dev/css/print.css">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/github.css">
    <link rel="alternate" type="application/rss+xml" title="Recent articles - RSS 2.0 Feed" href="../../../feeds/rss/articles">
    <link rel="alternate" type="application/atom+xml" title="Recent articles - Atom 1.0 Feed" href="../../../feeds/atom/articles">
    <link rel="alternate" type="application/rss+xml" title="Recent articles in Add-ons - RSS 2.0 Feed" href="../../../feeds/rss/articles/addons">
    <link rel="alternate" type="application/atom+xml" title="Recent articles in Add-ons - Atom 1.0 Feed" href="../../../feeds/atom/articles/addons">
    <link rel="alternate" type="application/rss+xml" title="Recent articles in Themes - RSS 2.0 Feed" href="../../../feeds/rss/articles/addons/themes">
    <link rel="alternate" type="application/atom+xml" title="Recent articles in Themes - Atom 1.0 Feed" href="../../../feeds/atom/articles/addons/themes">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../../../static.myopera.com/dev/js/menu.js"></script>
    <noscript>
      <style type="text/css">
.collection ul li ul {
    display: inherit !important;
}
      </style>
    </noscript>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-4118503-4']);
_gaq.push(['_gat._anonymizeIp']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
    </script>

  </head>
  <body class="themes">
    <header role="banner"  class="article-view" >
      <div>
        <a href="../../../index.html" id="logo">Dev.Opera</a>
        <form action="http://dev.opera.com/search" role="search">
          <fieldset>
            <label class="hidden" for="q">Search</label>
            <input type="text" name="q" maxlength="256" value="" id="q" required>
            <input type="submit" id="q-submit" value="Search" title="Search">
          </fieldset>
        </form>
        <p id="login">
          <a href="../../../../../https/dev.opera.com/login/index.html" accesskey="L" title="Log in">Log in</a>
        </p>
        <nav id="nav">
          <ul role="menu">

            <li role="menuitem" >
              <a href="../../../web.html">Web</a>
            </li>
            <li role="menuitem"  class="selected">
              <a href="../../../addons.1.html">Add-ons</a>
            </li>
            <li role="menuitem" >
              <a href="../../../mobile.html">Mobile</a>
            </li>
            <li role="menuitem" >
              <a href="../../../tv.html">TV</a>
            </li>
            <li role="menuitem" >
              <a href="../../../labs.html">Labs</a>
            </li>
          </ul>
        </nav>
      </div>
      <nav id="subnav">
        <ul role="menu">
            <li role="menuitem" >
              <a href="../../../addons/extensions/index.html">Opera 11-12 extensions</a>
            </li>
            <li role="menuitem" >
              <a href="../../../extension-docs/index.html">Opera 15+ extensions</a>
            </li>
            <li role="menuitem"  class="selected">
              <a href="../../../addons/themes.html">Themes</a>
            </li>
        </ul>
      </nav>
    </header>
<section id="content" role="main" class="asideleft">
  <section class="main">
    <article lang="en">
      <h1>Themes in Opera 18+</h1>
      <p class="print author">By Andreas Bovens</p>

      <p>Due to the major architecture changes we&#39;ve been going through recently, the first versions of our Chromium/Blink based Opera browser (versions 15, 16 and 17) do not support themes. However, from Opera 18 onward, themes are supported again! This article explains you how to create themes for Opera 18+.</p>

<h2>How to</h2>

<p>In short, the steps to create a theme are as follows:</p>
<ol>
	<li>Find two images you want to use and place them in a folder — I found two nice ones on <a href="http://unsplash.com">Unsplash</a></li>
	<li>Create a persona.ini file with your text editor, and add the necessary meta data</li>
	<li>Compress/archive the content of the folder as a zip file</li>
	<li>Test if the theme works by dragging it to opera:themes</li>
	<li>Upload the theme to <a href="https://addons.opera.com/en/themes/">our addons catalog</a></li>
</ol>

<p>I&#39;ve created a <a href="../../../../devfiles.myopera.com/articles/12262/yellow_sf.zip">test theme</a> for you to play with. Just download and unzip it to inspect what&#39;s inside. You find extensive details in the following sections.</p>

<img src="../../../../devfiles.myopera.com/articles/12262/yellow_sf.jpg" alt="screenshot of Opera 18 with Yellow SF theme" title="Yellow SF theme applied on Opera 18" style="margin-top: 10px;" />

<h2>Images</h2> 
<p>You&#39;ll need to pick two images: one will function as the background for Speed Dial, the other one as background for pages like opera:extensions, opera:settings, opera:about, etc.</p>
<p>Make sure the images you use are of sufficient size and quality as they&#39;ll need to be rescaled to fit on different screen resolutions. In order to reduce file size as much as possible without sacrificing quality, run your images through a tool like <a href="http://imageoptim.com">ImageOptim</a>, which shaves off unnecessary bytes from PNG and JPG files.</p>

<h2>Persona.ini details</h2>

<p>The content of the persona.ini file is as follows:</p>

<pre class="no-highlight"><code>
[Info]
Name               = Yellow SF
Author             = Andreas Bovens
Author URL         = http://bovens.net/
Version            = 2

[Start Page]
Background         = 01.jpg
Position           = center bottom
Title Text Color   = #ffffff
Title Text Shadow  = #261712

[Web UI Pages] 
Background         = 02.jpg
Position           = center top

; images by Charlie Foster, found on http://unsplash.com
</code></pre>

<p>This should be quite self explanatory, but just in case, here are the details line per line:
<ul>
	<li><strong>[Info]</strong>: info section
		<ul>
			<li><strong>Name</strong>: Title of the theme</li>
			<li><strong>Author</strong>: Author name</li>
			<li><strong>Author URL</strong>: A URI that points to the author&#39;s home page or e-mail. Valid schemes are http, https, and mailto</li>
			<li><strong>Version</strong>: Version 2 indicates Opera 18+ themes</li>
		</ul>
	</li>
	<li><strong>[Start Page]</strong>: section with settings for Speed Dial
		<ul>
			<li><strong>Background</strong>: File name of the image that goes behind Speed Dial. </li>
			<li><strong>Position</strong>: Position of the start page image — optional, any CSS keyword for position: left, top, right, bottom, center.</li>
			<li><strong>Title Text Color</strong>: Color of the text — optional, HEX notation, without alpha</li>
			<li><strong>Title Text Shadow</strong>: Color of the text shadow — optional. If set. will be applied as text-shadow: 1px 1px 1px &#39;Title Text Shadow value&#39;</li>
		</ul>
	</li>
	<li><strong>[Web UI Pages]</strong>: section with settings for opera:settings, opera:about, etc.
		<ul>
			<li><strong>Background</strong>: File name of the image that goes behind other pages</li>
			<li><strong>Position</strong>: See above for positioning details</li>
		</ul>
	</li>
</ul>
<p>In the end I&#39;ve added a comment. You can put comments anywhere you like in the file, as long as they are on a separate line and start with a semicolon (;). You can do this for instance to give attribution to the photographer or designer who made the background images.</p>

<h2>Compression, testing and upload</h2>

<p>Make sure there are no unnecessary files inside the zip file, like source files for graphics, .git folders or .DS_Store files, for instance.</p>

<p>To test the theme, load opera:themes in the browser, and drag and drop the ZIP file onto the opera:themes page. If everything is right, the theme will be installed in the Themes Manager&#39;s My Themes section.</p>

<p>To upload the theme, log into the <a href="https://addons.opera.com/">Opera Add-ons catalog</a>, go to <a href="https://addons.opera.com/en/developer/">My uploads</a>, and submit your theme.</p>

<h2>Previous theme format and legacy features</h2>

<p>Themes made for Opera 12 and 12.1 also work in Opera 18+, but not all features have a visual effect. The theme will not expand under the tabs for instance, and settings like &quot;Tint Color&quot; are no longer supported.</p>

<h2>Summary</h2>
<p>As you can see, making themes for Opera is very easy. Try it out for yourself!</p></p>

      <section id="author-info">
        <h1><a href="../../../author/andreasbovens.html" rel="author">Andreas Bovens</a></h1>
        <a href="../../../author/andreasbovens.html" rel="author"><img src="../../../../../https/static.myopera.com/avatars/pool1/c0/c93/83b9a906e6ee77ac0410e7056fbe0013388.jpg" alt=""/></a>
        <p>Andreas is based in Oslo, where he works for Opera Software as Extensions Product Manager + Developer Relations.</p>
        <br class="clear" />
      </section>
      <p id="license" class="info">This article is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/" rel="license">Creative Commons Attribution 3.0 Unported</a> license.</p>

    </article>
<section id="comments">
  <h2>Comments</h2>
  <ul>
    <li id="comment-113229122">
      <a href="../../../author/jrista.html"><img src="../../../../../https/static.myopera.com/avatars/pool1/35/395/739dc1787fb1383e20643eba21e5d1f0f27." alt="photo" class="avatar"/></a>
      <p class="commenter"><a href="../../../author/jrista.html">jrista</a></p>
      <p class="commentdate">Saturday, November 2, 2013</p>
      <section class="commentcontent"><span class="bubble-arrow"></span>Just out of curiosity, when are we going to get regular old favorites back? Stash is an intriguing idea, however in practice it is a nightmare for large collections of favorite sites. Speed dial is only useful to store up to a certain number of favorite sites before it too becomes unmanageable (or simply insufficient). We really, REALLY NEED a standard hierarchical favorites feature. Please, before working on more glitter and gloss, it would be very helpful to have the old classic Opera 12 favorites feature back. </section>
    </li>
    <li id="comment-113449932">
      <a href="../../../author/destinthegreat.html"><img src="../../../../../https/static.myopera.com/avatars/pool1/b4/ce7/3cb3a7dcfe17df53d8ecf897a3f057bb157." alt="photo" class="avatar"/></a>
      <p class="commenter"><a href="../../../author/destinthegreat.html">destinthegreat</a></p>
      <p class="commentdate">Sunday, November 10, 2013</p>
      <section class="commentcontent"><span class="bubble-arrow"></span>Seems to me Opera is trying to make a come back, but will you plz bring back other Opera 12 features like BOOKMARKS and also things like notes and the panel.</section>
    </li>
    <li id="comment-113626272">
      <a href="../../../author/XAntares.html"><img src="../../../../../https/static.myopera.com/avatars/pool1/bc/5be/bbfb1581db17592221bf2edc1c5bf6d7b46.jpg" alt="photo" class="avatar"/></a>
      <p class="commenter"><a href="../../../author/XAntares.html">XenoAntares</a></p>
      <p class="commentdate">Tuesday, November 19, 2013</p>
      <section class="commentcontent"><span class="bubble-arrow"></span>Would you consider adding a ”Repeat = …“ directive resembling the CSS ”background-repeat“ property? That should neither add severely to Persona-v2&#39;s complexity™, not to the implementation (as that is WebUI, anyway). But such a featurette would be very useful to provide pattern backgrounds (think of the vast spectrum of screen sizes Opera Desktop runs on), saving memory and rendering time not having to scale. Plus, it wouldn&#39;t let v1-themes using tiling silently fail on new Opera.</section>
    </li>
    <li id="comment-113628332">
      <a href="../../../author/QuHno.html"><img src="../../../../../https/static.myopera.com/avatars/pool1/0f/b9a/c0202066baeadb4b90136e1e8faaaa5b057.png" alt="photo" class="avatar"/></a>
      <p class="commenter"><a href="../../../author/QuHno.html">QuHno</a></p>
      <p class="commentdate">Tuesday, November 19, 2013</p>
      <section class="commentcontent"><span class="bubble-arrow"></span>Can we use WebP Images?<br/><br/>Some images compress better with that than with PNG or JPG, meaning less artifacts, smaller size, better scalability.<br/><br/>I wanted to ask for SVG support too but I think it will take much time to bring Chromium up to the specs before it becomes usable.</section>
    </li>
    <li id="comment-113628722">
      <a href="../../../author/andreasbovens.html"><img src="../../../../../https/static.myopera.com/avatars/pool1/c0/c93/83b9a906e6ee77ac0410e7056fbe0013388.jpg" alt="photo" class="avatar"/></a>
      <p class="commenter"><a href="../../../author/andreasbovens.html">Andreas Bovens</a></p>
      <p class="commentdate">Tuesday, November 19, 2013</p>
      <section class="commentcontent"><span class="bubble-arrow"></span>XenoAntares: I&#39;ll inquire.<br/><br/>QuHno: Yes, you can use WebP as well... However, I&#39;m not 100% sure if this has landed in O18 or if it&#39;s coming in O19. I&#39;ll check up on SVG.</section>
    </li>
    <li id="comment-113633892">
      <a href="../../../author/shaneh.html"><img src="../../../../../https/static.myopera.com/avatars/pool1/69/096/4938b8124aa9e5798f2328af1e137d60e0e." alt="photo" class="avatar"/></a>
      <p class="commenter"><a href="../../../author/shaneh.html">shaneh</a></p>
      <p class="commentdate">Tuesday, November 19, 2013</p>
      <section class="commentcontent"><span class="bubble-arrow"></span>So a &#39;theme&#39; is nothing more than a picture?<br/><br/>Why bother having an entire theme catalogue and separated theme support when you can just as easily use Google image search and &#39;use image as theme&#39;.</section>
    </li>
    <li id="comment-113708472">
      <a href="../../../author/davidpalhano.html"><img src="../../../../../https/static.myopera.com/avatars/pool1/8d/c5f/f40b6524f9cf1c15dda21b88ed228026100." alt="photo" class="avatar"/></a>
      <p class="commenter"><a href="../../../author/davidpalhano.html">David Reis Palhano</a></p>
      <p class="commentdate">Sunday, November 24, 2013</p>
      <section class="commentcontent"><span class="bubble-arrow"></span>Andreas, I did the walkthrough however the message &quot;An invalid version number found on your persona.ini file. Please use version &#39;1 &#39;for this kind of theme.&quot; I can not understand what&#39;s going on, could help?</section>
    </li>
    <li id="comment-113783692">
      <a href="../../../author/Frenzie.html"><img src="../../../../../https/static.myopera.com/avatars/pool1/60/977/a138dd78268b10df5ff1065ab228bcb3747.png" alt="photo" class="avatar"/></a>
      <p class="commenter"><a href="../../../author/Frenzie.html">Frans</a></p>
      <p class="commentdate">Thursday, November 28, 2013</p>
      <section class="commentcontent"><span class="bubble-arrow"></span>@QuHno: Note that <a href="http://pngquant.org/" target="_blank">lossy PNG</a> can sometimes give surprising results as well.</section>
    </li>
    <li id="comment-113900182">
      <a href="../../../author/Demonstro.html"><img src="../../../../../https/static.myopera.com/avatars/pool1/13/722/749209a36aeb11cebb2576c9d2bb487c46b.jpg" alt="photo" class="avatar"/></a>
      <p class="commenter"><a href="../../../author/Demonstro.html">Christian Magnus Sinding-Larsen</a></p>
      <p class="commentdate">Friday, December 6, 2013</p>
      <section class="commentcontent"><span class="bubble-arrow"></span>&gt; Make sure there are no unnecessary files inside the zip file, like source files for graphics, .git folders or .DS_Store files, for instance.<br/><br/>Your example has a __MACOSX folder, Andreas. I take it is to show what not to do?</section>
    </li>
    <li id="comment-113908952">
      <a href="../../../author/vux777.html"><img src="../../../../../https/static.myopera.com/avatars/pool1/93/027/2ed687b4584c5d66f4f7dbeccf102c6d560.png" alt="photo" class="avatar"/></a>
      <p class="commenter"><a href="../../../author/vux777.html">vux777</a></p>
      <p class="commentdate">Friday, December 6, 2013</p>
      <section class="commentcontent"><span class="bubble-arrow"></span>there is some sort of bug in persona.ini<br/>version must be set to 2, otherwise theme wont work</section>
    </li>
    <li id="comment-113941252">
      <a href="../../../author/andreasbovens.html"><img src="../../../../../https/static.myopera.com/avatars/pool1/c0/c93/83b9a906e6ee77ac0410e7056fbe0013388.jpg" alt="photo" class="avatar"/></a>
      <p class="commenter"><a href="../../../author/andreasbovens.html">Andreas Bovens</a></p>
      <p class="commentdate">Monday, December 9, 2013</p>
      <section class="commentcontent"><span class="bubble-arrow"></span>Christian, thanks for the catch! Fixed with YemuZip <a href="http://www.yellowmug.com/yemuzip/" target="_blank">http://www.yellowmug.com/yemuzip/</a></section>
    </li>
  </ul>
No new comments accepted.
</section>

  </section>

  <aside>
    <section class="info">
      <p class="author"><strong>Author</strong> <a href="../../../author/andreasbovens.html" rel="author">Andreas Bovens</a></p>
      <p>
        <strong>Date</strong>
        Thursday, October 17, 2013
      </p>

      <p class="tags"><strong>Tags</strong></p>
      <ul class="tags">
        <li><a href="../../tags/opera.html" rel="tag">opera</a></li>
        <li><a href="../../tags/themes.html" rel="tag">themes</a></li>
      </ul>
      <p><strong>Languages</strong>
        <a href="../opera-18-temalari/index.html">Turkish</a>
      </p>
    </section>
  </aside>




</section>
<script type="text/javascript" src="../../../../static.myopera.com/dev/js/highlight.pack.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

    <footer>
      <section role="contentinfo">
        <ul>
          <li><a href="../../../help.html">Help/<abbr>FAQ</abbr></a>
          <li><a href="http://my.opera.com/community/terms-of-service/?utm_source=devopera&amp;utm_medium=footer&amp;utm_campaign=devlinks">Terms of service</a>
          <li><a href="../../../privacy.html">Privacy</a>
        </ul>
      </section>
    </footer>
  </body>
</html>
