<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Optimizing widget graphics for mobile and devices - Dev.Opera</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="L7q_7GF5c9d7ZAUYdfaTiRaB6sTAGv_cRz3nq5DsabM">
    <meta name="description" content="Dev.Opera is the ultimate source of distilled knowledge for web developers, covering the latest open web technologies and techniques including HTML5, CSS3, JavaScript, SVG, optimizing content for mobiles, tablets and TVs, and creating add-ons such as extensions and themes for the Opera browser.">
    <meta name="keywords" content="Opera, web, HTML5, HTML, CSS3, CSS, JavaScript, SVG, Geolocation, Widgets, Extensions, Unite, Mini, Mobile, web development, design, web design, tutorials, articles, examples, demos, web standards, open standards, open web, video, audio, getusermedia, accessibility, wai-aria, transitions, translations, microformats, microdata, dataset, media queries, viewport, @viewport, transparency, opacity, gradients, box-shadow, text-shadow, web fonts, appcache, websql, local storage, ajax, json, games, userjs, webgl, tv, tablet, emulator, skinning, themes, skins, drasgonfly, mathml, web sockets, operawatir">
    <link rel="icon" href="../../../../static.myopera.com/dev/img/speed_dial-icon.png" type="image/png">
    <link rel="apple-touch-icon" href="../../../../static.myopera.com/dev/img/touch-icon.png" type="image/png">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/devopera.css" type="text/css">
    <!--[if IE 6]><link rel="stylesheet" href="/css/browsers/ie6.css" type="text/css"><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/css/browsers/ie7.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="/css/browsers/ie8.css" type="text/css"><![endif]-->
    <!--[if lte IE 8]><script type="text/javascript" src="/js/ie.js"></script><![endif]-->
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/articles.css">
    <link rel="stylesheet" media="print" href="../../../../static.myopera.com/dev/css/print.css">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/github.css">
    <link rel="alternate" type="application/rss+xml" title="Recent articles - RSS 2.0 Feed" href="../../../feeds/rss/articles">
    <link rel="alternate" type="application/atom+xml" title="Recent articles - Atom 1.0 Feed" href="../../../feeds/atom/articles">
    <link rel="alternate" type="application/rss+xml" title="Recent articles in Add-ons - RSS 2.0 Feed" href="../../../feeds/rss/articles/addons">
    <link rel="alternate" type="application/atom+xml" title="Recent articles in Add-ons - Atom 1.0 Feed" href="../../../feeds/atom/articles/addons">
    <link rel="alternate" type="application/rss+xml" title="Recent articles in Widgets - RSS 2.0 Feed" href="../../../feeds/rss/articles/addons/widgets">
    <link rel="alternate" type="application/atom+xml" title="Recent articles in Widgets - Atom 1.0 Feed" href="../../../feeds/atom/articles/addons/widgets">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../../../static.myopera.com/dev/js/menu.js"></script>
    <noscript>
      <style type="text/css">
.collection ul li ul {
    display: inherit !important;
}
      </style>
    </noscript>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-4118503-4']);
_gaq.push(['_gat._anonymizeIp']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
    </script>

  </head>
  <body class="widgets">
    <header role="banner"  class="article-view" >
      <div>
        <a href="../../../index.html" id="logo">Dev.Opera</a>
        <form action="http://dev.opera.com/search" role="search">
          <fieldset>
            <label class="hidden" for="q">Search</label>
            <input type="text" name="q" maxlength="256" value="" id="q" required>
            <input type="submit" id="q-submit" value="Search" title="Search">
          </fieldset>
        </form>
        <p id="login">
          <a href="../../../../../https/dev.opera.com/login/index.html" accesskey="L" title="Log in">Log in</a>
        </p>
        <nav id="nav">
          <ul role="menu">

            <li role="menuitem" >
              <a href="../../../web.html">Web</a>
            </li>
            <li role="menuitem"  class="selected">
              <a href="../../../addons.1.html">Add-ons</a>
            </li>
            <li role="menuitem" >
              <a href="../../../mobile.html">Mobile</a>
            </li>
            <li role="menuitem" >
              <a href="../../../tv.html">TV</a>
            </li>
            <li role="menuitem" >
              <a href="../../../labs.html">Labs</a>
            </li>
          </ul>
        </nav>
      </div>
      <nav id="subnav">
        <ul role="menu">
            <li role="menuitem" >
              <a href="../../../addons/extensions/index.html">Opera 11-12 extensions</a>
            </li>
            <li role="menuitem" >
              <a href="http://dev.opera.com/extension-docs/">Opera 15+ extensions</a>
            </li>
            <li role="menuitem" >
              <a href="../../../addons/themes.html">Themes</a>
            </li>
        </ul>
      </nav>
    </header>
<section id="content" role="main" class="asideleft">
  <section class="main">
    <article lang="en">
      <h1>Optimizing widget graphics for mobile and devices</h1>
      <p class="print author">By Andreas Bovens</p>

      <div class="note">
<h2 style="color:red;font-weight:bold;padding-top:0;margin-top:0;">24th April 2012: Please note</h2>

<p>Starting with Opera 12, Opera Widgets will <a href="http://my.opera.com/ODIN/blog/2012/04/24/end-unite-apps-and-widgets">be turned off for new users and completely removed in a later release</a>. If you&#39;re interested in building addons for Opera, we recommend going with our extensions platform — check out <a href="../../../addons/extensions/index.html">our extensions documentation</a> to get started.</p>
</div>

<p>Table of contents:</p>

<ol>
<li><a href="index.html#intro">Introduction</a></li>
<li><a href="index.html#limit">Limit the amount of graphics</a></li>
<li><a href="index.html#sprites">Use CSS sprites</a></li>
<li><a href="index.html#format">Choose the right image format</a></li>
<li><a href="index.html#colordepth">Optimize color depth</a></li>
<li><a href="index.html#crushing">PNG crushing</a>
<ol>
<li><a href="index.html#pngcrush">Pngcrush</a></li>
<li><a href="index.html#pngout">PNGOut</a></li>
</ol>
</li>
<li><a href="index.html#repeating">A note about repeating backgrounds</a></li>
</ol>

<h2 id="intro">Introduction</h2>

<p>This article will explore a few simple techniques that help you optimize the graphics inside your Opera widget for mobile phones and devices with limited resources. Of course, these tips are likely to also improve the widget’s performance on desktop, albeit to a lesser extent.</p>

<h2 id="limit">Limit the amount of graphics</h2>

<p>In general, it is a good idea to keep the number of decorative or informative images low and to use text and CSS styling where possible. Using PNG alpha-transparency for drop shadows and see-through effects may have a slight impact on performance and ultimately on the device’s battery life, especially when used in combination with animated elements, so proceed with caution.</p>

<h2 id="sprites">Use CSS sprites</h2>

<p>When navigating inside an Opera widget, graphics are sometimes loaded with a delay of a few tenths of a second. Although such a short delay may not seem like a lot, it still has a considerable impact on the user experience and makes the widget feel sluggish. Luckily enough, this delay can be largely avoided by using CSS sprites. With the CSS sprites technique, all images used in the Opera widget are combined into one “master image”—by using a smart combination of CSS positioning and width/height settings, the individual image parts can be selectively shown inside the Opera Widget, without any delay. The reason for this performance optimization has to do with the fact that the different parts in the master image are all loaded at once and they reside in memory: moving the master image to the appropriate position is less resource intensive then loading the individual images one by one.</p>

<p>Below you can find a CSS sprites example, showing an Opera widget with a red “front side” and a gray “back side.” Both the <code>front div</code> and the <code>back div</code> use the same <code>background-image</code>, but in the latter case, the image is shifted up with 300 pixels, so as to push the red rectangle out of view and show the gray one instead. The color change will be visible instantly upon clicking the “Go to backside” link. In case two separate images would have been used, the user may notice a small image loading delay when navigating to the “back side” of the Opera Widget, depending on the device’s capabilities.</p>

<pre>
<code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;title&gt;Background showcase&lt;/title&gt;
&lt;script type=&#39;text/javascript&#39;&gt;
function showback() {
  if (document.getElementById) {
    document.getElementById(&#39;back&#39;).style.display = &#39;block&#39;;
    document.getElementById(&#39;front&#39;).style.display = &#39;none&#39;;
  }
}
function hideback() {
  if (document.getElementById) {
    document.getElementById(&#39;front&#39;).style.display = &#39;block&#39;;
    document.getElementById(&#39;back&#39;).style.display = &#39;none&#39;;
  }
}
&lt;/script&gt;
&lt;style type=&quot;text/css&quot;&gt;
h1 {font-size: 1.3em;}
#front h1 {color: #fff;}
#front a {color: #ccc;}
#back a {color: #333;}
#front {
    background: transparent url(200_600_combo.png) 0 0 no-repeat;
    height:260px;
    width:200px;
    padding: 20px;
}
#back {
    background: transparent url(200_600_combo.png) 0 -300px no-repeat;
    height:260px;
    width:200px;
    padding: 20px;
}
&lt;/style&gt;
&lt;/head&gt;

&lt;body&gt;
&lt;div id=&quot;front&quot;&gt;
  &lt;h1&gt;Frontside&lt;/h1&gt;
  &lt;a href=&quot;javascript:showback()&quot;&gt;Go to backside&lt;/a&gt;
&lt;/div&gt;
&lt;div id=&quot;back&quot; style=&quot;display: none;&quot;&gt;
  &lt;h1&gt;Backside&lt;/h1&gt;
  &lt;a href=&quot;javascript:hideback()&quot;&gt;Go to frontside&lt;/a&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code>
</pre>

<p><a href="../../../../devfiles.myopera.com/articles/545/doublebg.png">This</a> is the image that is used—note that the two backgrounds form one single graphic.</p>

<h2 id="format">Choose the right image format</h2>

<p>When using graphics in Opera widgets, choosing the right image format is likely to speed up the widget’s performance. It is recommended to try out which image format produces the smallest file size for a given graphic, as smaller file sizes usually perform better than big ones.</p>

<h2 id="colordepth">Optimize color depth </h2>

<p>Applying posterization, dithering and color indexing algorithms on your images generally reduces file size, which often results in better performance. Although it is hard to give a winning combination of settings that invariably result in small file sizes while maintaining high visual quality, the screenshots below give an idea of a typical color indexing conversion workflow. The graphics tool being used here for screenshots is The Gimp, but Photoshop and other graphic editors allow for similar procedures.</p>

<p>We start off with a <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Japan_large.png/526px-Japan_large.png">PNG image of about 180 KB</a> found at the <a href="http://commons.wikimedia.org/">Wikimedia Commons</a></p>

<p><img src="../../../../devfiles.myopera.com/articles/545/526px-Japan_large.png" title="Map of about 180KB" alt="Map of about 180KB" /></p>

<p>Open the image in The Gimp and select Image:Mode:Indexed. In case Indexed is already selected, select RGB, and then try again…</p>

<p><img src="../../../../devfiles.myopera.com/articles/545/gimp1.png" title="Gimp screenshot" alt="Gimp screenshot" /></p>

<p>Choose “Generate optimum palette” and select the maximum number of colors – in this case 10 is enough. Press Convert and save the result.</p>

<p><img src="../../../../devfiles.myopera.com/articles/545/gimp2.png" title="Gimp screenshot" alt="Gimp screenshot" /></p>

<p>This is the image output by The Gimp: an indexed PNG (10 colors) of about 10 KB:</p>

<p><img src="../../../../devfiles.myopera.com/articles/545/map-output.png" title="Map of about 10KB" alt="Map of about 10KB" /></p>

<h2 id="crushing">PNG crushing</h2>

<p>Image editors often choose poor compression algorithms for PNGs and may include unneeded metadata. This results in larger files, which, as we said, often means longer loading times. Pngcrush and PNGOut, two PNG file optimizers, do a great job in solving this compression problem.</p>

<h3 id="pngcrush">Pngcrush</h3>

<ol>
<li>Pngcrush can be found at <a href="http://pmt.sourceforge.net/pngcrush/">http://pmt.sourceforge.net/pngcrush/</a> : on the download page, search for the package ending in -win32.zip.</li>
<li>Once downloaded, unpack it and move the PNG files you want to convert to the same folder. </li>
<li>Open the command line, and navigate to the folder with pngcrush.exe and the PNG files in question. </li>
<li>Execute <code>pngcrush img.png img2.png</code> where img.png and img2.png are the names of the input and output image, respectively. </li>
<li>Additional arguments (type <code>pngcrush -help</code> for an overview) can be used for further optimization. </li>
</ol>

<h3 id="pngout">PNGOut</h3>

<ol>
<li>PNGOut can be found at <a href="http://www.advsys.net/ken/utils.htm">http://www.advsys.net/ken/utils.htm</a> : search for a link called PNGOUT.EXE. </li>
<li>Once downloaded to a folder, move the PNG files you want to convert to the same folder. <br />
Open the command line, and navigate to the folder with pngout.exe and the PNG files in question. <br />
Execute <code>pngout img.png img2.png</code> where img.png and img2.png are the names of the input and output image, respectively. </li>
<li>Additional arguments (type <code>pngout -help</code> for an overview) can be used for further optimization.</li>
</ol>

<h2 id="repeating">A note about repeating backgrounds</h2>

<p>We have said before that images with smaller file sizes perform better than bigger ones. However, it is recommended to proceed with caution when repeating background images along the x or y axis. In certain cases, repeating a small background image multiple times instead of using a single bigger one may negatively affect performance on the device. Therefore, it is to be expected that</p>

<pre>
<code>
#surface {background: url(5x5px.png) 0 0 repeat-all;}    /* 5x5px.png is a 5 by 5 pixels PNG image */@
</code>
</pre>

<p>is slightly slower to load than</p>

<pre>
<code>
#surface {background: url(200x200px.png) 0 0 no-repeat;} /* 200x200px.png is a 200 by 200 pixels PNG image  */
</code>
</pre>

<p>However, as the browser engine’s rendering behavior is dependent on a number of factors, it is recommended to test these two methods before deciding which one is ideal for the Opera Widget in question.</p>

<p>We hope these tips get you started. Happy optimizing!</p>

<ul class="seriesNav">
<li><a href="../opera-widgets-sdk/index.html" rel="index">Opera Widgets SDK table of contents</a></li>
</ul>

      <section id="author-info">
        <h1><a href="../../../author/andreasbovens.html" rel="author">Andreas Bovens</a></h1>
        <a href="../../../author/andreasbovens.html" rel="author"><img src="../../../../../https/static.myopera.com/avatars/pool1/c0/c93/83b9a906e6ee77ac0410e7056fbe0013388.jpg" alt=""/></a>
        <p>Andreas is based in Oslo, where he works for Opera Software as Extensions Product Manager + Developer Relations.</p>
        <br class="clear" />
      </section>
      <p id="license" class="info">This article is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/" rel="license">Creative Commons Attribution, Non Commercial - Share Alike 2.5</a> license.</p>

    </article>
<section id="comments">
  <h2>Comments</h2>
      <p class="info">The forum archive of this article is still available on <a href="http://my.opera.com/community/forums/topic.dml?id=253950">My Opera</a>.</p>
  <ul>
  </ul>
No new comments accepted.
</section>

  </section>

  <aside>
    <section class="info">
      <p class="author"><strong>Author</strong> <a href="../../../author/andreasbovens.html" rel="author">Andreas Bovens</a></p>
      <p>
        <strong>Date</strong>
        Tuesday, February 9, 2010
      </p>

      <p class="tags"><strong>Tags</strong></p>
      <ul class="tags">
        <li><a href="../../tags/crushing.html" rel="tag">crushing</a></li>
        <li><a href="../../tags/css.html" rel="tag">css</a></li>
        <li><a href="../../tags/depth.html" rel="tag">depth</a></li>
        <li><a href="../../tags/png.html" rel="tag">png</a></li>
        <li><a href="../../tags/sprite.html" rel="tag">sprite</a></li>
      </ul>
    </section>
  </aside>




<aside>
  <section class="collection">
<h2><a href="http://dev.opera.com/articles/view">Opera Widgets SDK</a></h2>

<ul >
  <li class="sub-collection parent-collection">
<span ></span>Getting started<ul >
  <li class="sub-collection leaf">
<a href="../creating-your-first-opera-widget/index.html" >Creating your first Opera widget</a>

</li>
  <li class="sub-collection leaf">
<a href="../packing-and-deploying-your-opera-widget/index.html" >Packing and deploying your Opera Widget</a>

</li>
  <li class="sub-collection leaf">
<a href="../opera-widgets-preference-store/index.html" >Opera Widgets Preference Store</a>

</li>
  <li class="sub-collection leaf">
<a href="../opera-widgets-and-ajax-connecting-to-mu/index.html" >Opera Widgets and Ajax: connecting to multiple servers</a>

</li>
</ul>
</li>
  <li class="sub-collection parent-collection">
<span ></span>Widgets on Mobile<ul >
  <li class="sub-collection leaf">
<a href="../mobile-widget-development-process-advice/index.html" >Mobile widget development process advice</a>

</li>
  <li class="sub-collection leaf">
<a href="../the-opera-widgets-mobile-emulator/index.html" >The Opera Widgets Mobile Emulator</a>

</li>
  <li class="sub-collection leaf">
<a href="../characteristics-of-widgets-on-mobile-pho/index.html" >Characteristics of widgets on mobile phones</a>

</li>
  <li class="sub-collection leaf">
<a href="../adding-a-docked-mode-to-your-widgets/index.html" >Adding a docked mode to your widgets</a>

</li>
  <li class="sub-collection leaf">
<a href="../remote-debugging-of-widgets-on-mobile-devices/index.html" >Remote debugging of widgets on mobile devices</a>

</li>
</ul>
</li>
  <li class="sub-collection parent-collection">
<span ></span>Widgets on Desktop<ul >
  <li class="sub-collection leaf">
<a href="../the-opera-widgets-runtime-for-desktop/index.html" >The Opera Widgets runtime for Desktop</a>

</li>
</ul>
</li>
  <li class="sub-collection parent-collection">
<span ></span>Appendix 1: Other Resources<ul >
  <li class="sub-collection leaf">
<a href="../opera-widgets-style-guide/index.html" >Opera Widgets Style Guide</a>

</li>
  <li class="sub-collection leaf">
<a href="../opera-widget-support-notes/index.html" >Opera Widget support notes</a>

</li>
  <li class="sub-collection leaf">
<a href="../cross-device-development-techniques-for/index.html" >Cross-device development techniques for widgets</a>

</li>
  <li class="sub-collection leaf">
<a href="../widget-modes-docked-widget-and-more/index.html" >Widget modes: docked, widget, and more</a>

</li>
  <li class="sub-collection leaf">
<a href="index.html"  class="current">Optimizing widget graphics for mobile and devices</a>

</li>
  <li class="sub-collection leaf">
<a href="../custom-opera-widget-icons/index.html" >Widget icon tutorial</a>

</li>
  <li class="sub-collection leaf">
<a href="../icon-creator-tutorial/index.html" >Icon Creator tutorial</a>

</li>
  <li class="sub-collection leaf">
<a href="../html5-audio-radio-player/index.html" >An HTML5 &lt;audio&gt; radio player</a>

</li>
  <li class="sub-collection leaf">
<a href="../introduction-to-opera-dragonfly/index.html" >Introduction to Opera Dragonfly</a>

</li>
</ul>
</li>
  <li class="sub-collection parent-collection">
<span ></span>Appendix 2: APIs and Specifications<ul >
  <li class="sub-collection leaf">
<a href="../opera-widgets-core-dom-reference/index.html" >Opera Widgets - core DOM reference</a>

</li>
  <li class="sub-collection leaf">
<a href="../opera-widgets-security-model/index.html" >Opera Widgets security model</a>

</li>
  <li class="sub-collection leaf">
<a href="../file-i-o-api-for-widgets/index.html" >File I/O API</a>

</li>
  <li class="sub-collection leaf">
<a href="../hello-animation/index.html" >Hello Animation!</a>

</li>
  <li class="sub-collection leaf">
<a href="../wcl-developer-guide/index.html" >WCL developer guide</a>

</li>
</ul>
</li>
</ul>
  </section>

<script type="text/javascript">
$(document).ready(function() {
    // Add .current to all .sub-collections above the current .current
    $('.sub-collection:has(.current)').addClass('current');

    // Iterate over all .sub-collections
    $('.sub-collection').each(function() {
        var subCollectionUl = $(this).children('ul')
          , subCollectionExpander = $(this).children('span');

        if (subCollectionUl) {
            // Add special CSS rules for parent nodes that should be expandable
            if (!subCollectionUl.hasClass('root') ||
                subCollectionUl.css('display') === 'none') {

                // If the node has the .current class, it is per definition shown
                if ($(this).hasClass('current')) {
                    $(this).addClass('collection-shown');
                }
                // Otherwise, show the node as expandable
                else {
                    subCollectionExpander.toggleClass('expandable');
                    subCollectionUl.css('display', 'none');
                }
            }

            // Add a onclick hook to the expander
            subCollectionExpander.click(function() {
                var currentDisplay = subCollectionUl.css('display');

                // Toggle appropriate classes
                $(this).toggleClass('descendant');
                $(this).toggleClass('expandable');

                // Toggle visibility and appropriate class to parent node
                subCollectionUl.css('display', currentDisplay === 'none' ? 'inherit' : 'none');
                $(this).parent().toggleClass('collection-shown', currentDisplay === 'none');
            });
        }
    });
});
</script>
</aside>
</section>
<script type="text/javascript" src="../../../../static.myopera.com/dev/js/highlight.pack.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

    <footer>
      <section role="contentinfo">
        <ul>
          <li><a href="../../../help.html">Help/<abbr>FAQ</abbr></a>
          <li><a href="http://my.opera.com/community/terms-of-service/?utm_source=devopera&amp;utm_medium=footer&amp;utm_campaign=devlinks">Terms of service</a>
          <li><a href="../../../privacy.html">Privacy</a>
        </ul>
      </section>
    </footer>
  </body>
</html>
