<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Opera Mobile 11 MeeGo ARM developer preview - Dev.Opera</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="L7q_7GF5c9d7ZAUYdfaTiRaB6sTAGv_cRz3nq5DsabM">
    <meta name="description" content="Dev.Opera is the ultimate source of distilled knowledge for web developers, covering the latest open web technologies and techniques including HTML5, CSS3, JavaScript, SVG, optimizing content for mobiles, tablets and TVs, and creating add-ons such as extensions and themes for the Opera browser.">
    <meta name="keywords" content="Opera, web, HTML5, HTML, CSS3, CSS, JavaScript, SVG, Geolocation, Widgets, Extensions, Unite, Mini, Mobile, web development, design, web design, tutorials, articles, examples, demos, web standards, open standards, open web, video, audio, getusermedia, accessibility, wai-aria, transitions, translations, microformats, microdata, dataset, media queries, viewport, @viewport, transparency, opacity, gradients, box-shadow, text-shadow, web fonts, appcache, websql, local storage, ajax, json, games, userjs, webgl, tv, tablet, emulator, skinning, themes, skins, drasgonfly, mathml, web sockets, operawatir">
    <link rel="icon" href="../../../../static.myopera.com/dev/img/speed_dial-icon.png" type="image/png">
    <link rel="apple-touch-icon" href="../../../../static.myopera.com/dev/img/touch-icon.png" type="image/png">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/devopera.css" type="text/css">
    <!--[if IE 6]><link rel="stylesheet" href="/css/browsers/ie6.css" type="text/css"><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/css/browsers/ie7.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="/css/browsers/ie8.css" type="text/css"><![endif]-->
    <!--[if lte IE 8]><script type="text/javascript" src="/js/ie.js"></script><![endif]-->
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/articles.css">
    <link rel="stylesheet" media="print" href="../../../../static.myopera.com/dev/css/print.css">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/github.css">
    <link rel="alternate" type="application/rss+xml" title="Recent articles - RSS 2.0 Feed" href="../../../feeds/rss/articles">
    <link rel="alternate" type="application/atom+xml" title="Recent articles - Atom 1.0 Feed" href="../../../feeds/atom/articles">
    <link rel="alternate" type="application/rss+xml" title="Recent articles in Labs - RSS 2.0 Feed" href="../../../feeds/rss/articles/labs">
    <link rel="alternate" type="application/atom+xml" title="Recent articles in Labs - Atom 1.0 Feed" href="../../../feeds/atom/articles/labs">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../../../static.myopera.com/dev/js/menu.js"></script>
    <noscript>
      <style type="text/css">
.collection ul li ul {
    display: inherit !important;
}
      </style>
    </noscript>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-4118503-4']);
_gaq.push(['_gat._anonymizeIp']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
    </script>

  </head>
  <body class="labs">
    <header role="banner"  class="article-view" >
      <div>
        <a href="../../../index.html" id="logo">Dev.Opera</a>
        <form action="http://dev.opera.com/search" role="search">
          <fieldset>
            <label class="hidden" for="q">Search</label>
            <input type="text" name="q" maxlength="256" value="" id="q" required>
            <input type="submit" id="q-submit" value="Search" title="Search">
          </fieldset>
        </form>
        <p id="login">
          <a href="../../../../../https/dev.opera.com/login/index.html" accesskey="L" title="Log in">Log in</a>
        </p>
        <nav id="nav">
          <ul role="menu">

            <li role="menuitem" >
              <a href="../../../web.html">Web</a>
            </li>
            <li role="menuitem" >
              <a href="../../../addons.1.html">Add-ons</a>
            </li>
            <li role="menuitem" >
              <a href="../../../mobile.html">Mobile</a>
            </li>
            <li role="menuitem" >
              <a href="../../../tv.html">TV</a>
            </li>
            <li role="menuitem"  class="selected">
              <a href="../../../labs.html">Labs</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
<section id="content" role="main" class="asideleft">
  <section class="main">
    <article lang="en">
      <h1>Opera Mobile 11 MeeGo ARM developer preview</h1>
      <p class="print author">By Phillip</p>

      <div id="content">
<p>
 Opera Software continues our support of the MeeGo open source initiative (
 <a href="http://labs.opera.com/news/2011/03/22/">
  http://labs.opera.com/news/2011/03/22/
 </a>
 ) with the release of a developer preview of Opera Mobile 11 for ARM-based devices.
</p>
<p>
 The ARM developer preview release arrives just in time for the
 <a href="http://sf2011.meego.com/">
  MeeGo conference 2011
 </a>
 in San Francisco, currently in full swing.
</p>
<p>
 To catch the Opera Mobile 11 MeeGo ARM edition running at the MeeGo conference, be sure to check out the
 <a href="http://sf2011.meego.com/program/sessions/meego-12-developer-edition-nokia-n900">
  MeeGo 1.2 Developer Edition for Nokia N900 session
 </a>
 on Day 3, 9:50am, in Ballroom A.
</p>
<p>
 <a href="http://www.opera.com/download/get.pl?sub=++++&amp;amp;id=33726&amp;amp;location=320&amp;amp;nothanks=yes">
  <strong>
   Download Opera Mobile 11 MeeGo ARM edition
  </strong>
 </a>
</p>
<p>
 Opera Mobile 11 MeeGo ARM is a generic MeeGo 1.2 build supporting ARM-based devices. Developers of MeeGo ARM devices are encouraged to download and try Opera Mobile today.
</p>
<p>
 The preview build has been developed and tested using MeeGo 1.2 DE for Nokia N900, and a Nokia N900 device. The Opera Mobile ARM developer preview is also confirmed to be working on MeeGo 1.2 for N900 &quot;vanilla&quot; edition.
</p>
<p>
 It is recommended to install the downloaded RPM package by running &quot;rpm -i &quot; as root in a terminal window.
</p>
</div>



    </article>
<section id="comments">
  <h2>Comments</h2>
  <ul>
    <li id="comment-83025942">
      <a href="../../../author/dmarkgilljay.html"><img src="../../../../../https/static.myopera.com/avatars/pool1/1e/55d/ac4ffe013edccd7181bbabc558403045eee." alt="photo" class="avatar"/></a>
      <p class="commenter"><a href="../../../author/dmarkgilljay.html">Mark Gill</a></p>
      <p class="commentdate">Wednesday, February 22, 2012</p>
      <section class="commentcontent"><span class="bubble-arrow"></span>We, WINDOWS MOBILE users are waiting for the update of Opera Mini Version 6.5 &amp; Opera Mini version 11. cab version..<br/><br/>hope it may be GRANTED... thanks a lot Opera Mini..</section>
    </li>
    <li id="comment-83053432">
      <a href="../../../author/chrismills.html"><img src="../../../../../https/static.myopera.com/avatars/pool1/49/546/4272683e28ab456dc962e131580e44990be.jpg" alt="photo" class="avatar"/></a>
      <p class="commenter"><a href="../../../author/chrismills.html">Chris Mills</a></p>
      <p class="commentdate">Wednesday, February 22, 2012</p>
      <section class="commentcontent"><span class="bubble-arrow"></span>I believe the team is working on it; I will check with them.</section>
    </li>
    <li id="comment-86789842">
      <a href="../../../author/doctorcolossus.html"><img src="../../../../../https/static.myopera.com/avatars/pool1/02/af8/c23ffc33626bee00f1cc057f23ebf0805b5." alt="photo" class="avatar"/></a>
      <p class="commenter"><a href="../../../author/doctorcolossus.html">Casey Jones</a></p>
      <p class="commentdate">Saturday, April 7, 2012</p>
      <section class="commentcontent"><span class="bubble-arrow"></span>Hi, thanks for this.<br/><br/>Will Opera 12 also be released for MeeGo/Maemo?  I&#39;d love to be able to use extensions.</section>
    </li>
  </ul>
No new comments accepted.
</section>

  </section>

  <aside>
    <section class="info">
      <p class="author"><strong>Author</strong> <a href="../../../author/kbeeme.html" rel="author">Phillip</a></p>
      <p>
        <strong>Date</strong>
        Tuesday, May 24, 2011
      </p>

    </section>
  </aside>




</section>
<script type="text/javascript" src="../../../../static.myopera.com/dev/js/highlight.pack.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

    <footer>
      <section role="contentinfo">
        <ul>
          <li><a href="../../../help.html">Help/<abbr>FAQ</abbr></a>
          <li><a href="http://my.opera.com/community/terms-of-service/?utm_source=devopera&amp;utm_medium=footer&amp;utm_campaign=devlinks">Terms of service</a>
          <li><a href="../../../privacy.html">Privacy</a>
        </ul>
      </section>
    </footer>
  </body>
</html>
