<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Opera エクステンションを始めよう - Dev.Opera</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="L7q_7GF5c9d7ZAUYdfaTiRaB6sTAGv_cRz3nq5DsabM">
    <meta name="description" content="Dev.Opera is the ultimate source of distilled knowledge for web developers, covering the latest open web technologies and techniques including HTML5, CSS3, JavaScript, SVG, optimizing content for mobiles, tablets and TVs, and creating add-ons such as extensions and themes for the Opera browser.">
    <meta name="keywords" content="Opera, web, HTML5, HTML, CSS3, CSS, JavaScript, SVG, Geolocation, Widgets, Extensions, Unite, Mini, Mobile, web development, design, web design, tutorials, articles, examples, demos, web standards, open standards, open web, video, audio, getusermedia, accessibility, wai-aria, transitions, translations, microformats, microdata, dataset, media queries, viewport, @viewport, transparency, opacity, gradients, box-shadow, text-shadow, web fonts, appcache, websql, local storage, ajax, json, games, userjs, webgl, tv, tablet, emulator, skinning, themes, skins, drasgonfly, mathml, web sockets, operawatir">
    <link rel="icon" href="../../../../static.myopera.com/dev/img/speed_dial-icon.png" type="image/png">
    <link rel="apple-touch-icon" href="../../../../static.myopera.com/dev/img/touch-icon.png" type="image/png">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/devopera.css" type="text/css">
    <!--[if IE 6]><link rel="stylesheet" href="/css/browsers/ie6.css" type="text/css"><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/css/browsers/ie7.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="/css/browsers/ie8.css" type="text/css"><![endif]-->
    <!--[if lte IE 8]><script type="text/javascript" src="/js/ie.js"></script><![endif]-->
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/articles.css">
    <link rel="stylesheet" media="print" href="../../../../static.myopera.com/dev/css/print.css">
    <link rel="stylesheet" href="../../../../static.myopera.com/dev/css/github.css">
    <link rel="alternate" type="application/rss+xml" title="Recent articles - RSS 2.0 Feed" href="../../../feeds/rss/articles">
    <link rel="alternate" type="application/atom+xml" title="Recent articles - Atom 1.0 Feed" href="../../../feeds/atom/articles">
    <link rel="alternate" type="application/rss+xml" title="Recent articles in Add-ons - RSS 2.0 Feed" href="../../../feeds/rss/articles/addons">
    <link rel="alternate" type="application/atom+xml" title="Recent articles in Add-ons - Atom 1.0 Feed" href="../../../feeds/atom/articles/addons">
    <link rel="alternate" type="application/rss+xml" title="Recent articles in Opera 11-12 extensions - RSS 2.0 Feed" href="../../../feeds/rss/articles/addons/extensions">
    <link rel="alternate" type="application/atom+xml" title="Recent articles in Opera 11-12 extensions - Atom 1.0 Feed" href="../../../feeds/atom/articles/addons/extensions">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../../../static.myopera.com/dev/js/menu.js"></script>
    <noscript>
      <style type="text/css">
.collection ul li ul {
    display: inherit !important;
}
      </style>
    </noscript>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-4118503-4']);
_gaq.push(['_gat._anonymizeIp']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
    </script>

  </head>
  <body class="extensions">
    <header role="banner"  class="article-view" >
      <div>
        <a href="../../../index.html" id="logo">Dev.Opera</a>
        <form action="http://dev.opera.com/search" role="search">
          <fieldset>
            <label class="hidden" for="q">Search</label>
            <input type="text" name="q" maxlength="256" value="" id="q" required>
            <input type="submit" id="q-submit" value="Search" title="Search">
          </fieldset>
        </form>
        <p id="login">
          <a href="../../../../../https/dev.opera.com/login/index.html" accesskey="L" title="Log in">Log in</a>
        </p>
        <nav id="nav">
          <ul role="menu">

            <li role="menuitem" >
              <a href="../../../web.html">Web</a>
            </li>
            <li role="menuitem"  class="selected">
              <a href="../../../addons.1.html">Add-ons</a>
            </li>
            <li role="menuitem" >
              <a href="../../../mobile.html">Mobile</a>
            </li>
            <li role="menuitem" >
              <a href="../../../tv.html">TV</a>
            </li>
            <li role="menuitem" >
              <a href="../../../labs.html">Labs</a>
            </li>
          </ul>
        </nav>
      </div>
      <nav id="subnav">
        <ul role="menu">
            <li role="menuitem"  class="selected">
              <a href="../../../addons/extensions/index.html">Opera 11-12 extensions</a>
            </li>
            <li role="menuitem" >
              <a href="../../../extension-docs/index.html">Opera 15+ extensions</a>
            </li>
            <li role="menuitem" >
              <a href="../../../addons/themes.html">Themes</a>
            </li>
        </ul>
      </nav>
    </header>
<section id="content" role="main" class="asideleft">
  <section class="main">
    <article lang="ja">
      <h1>Opera エクステンションを始めよう</h1>
      <p class="print author">By Makoto Mizukami</p>

      <p class="note">DEPRECATED: This article is deprecated. We recommend using our <a href="../opera-extensions-quick-documentation-overview/index.html">quick documentation overview</a> instead.</p>

<h2>はじめに</h2>

<p><a href="http://labs.opera.com/news/2010/10/21/">Opera 11 Labs release</a> には、新たにブラウザに機能を追加するエクステンションを実行する、ウェブ標準に基づいたフレームワークが含まれています。このエクステンションフレームワークは、 W3C Widgets や JavaScript を始めとする従来の標準を元に成り立っています。つまり、ウェブアプリケーションやウィジェットの作成スキルをそのままエクステンションの作成に転用できるということです。また、このフレームワークには <a href="http://dev.w3.org/html5/postmsg/">cross-document messaging</a> のような HTML5 の技術も使われています。</p>

<p>このリリースに先立ち、私達は沢山のリファレンス文書やチュートリアルを作成しましたし、また作成途中にあるものもたくさんあります。但し一つ警告があります: エクステンションの実装はまだ初期の開発段階にあり、安定していません。つまり、数週間内しは数ヶ月の間に、機能の追加や既存の API との調整といった、大きな変更がある場合があります。もちろん私達はできる限り文書が最新の状態にあり続けるよう努力します。ご質問等は、この度新たに設置された <a href="../../../../my.opera.com/community/forums/forum.dml%3Fid=42202.html">Opera extensions development forum</a> までお寄せください。</p>

<h2>中味を垣間見る</h2>

<p><a href="http://my.opera.com/chooseopera/blog/">Choose Opera</a> 内の記事 <a href="http://my.opera.com/chooseopera/blog/come-and-play-with-opera-extensions">Come and play with Opera extensions</a> に Opera エクステンションについての丁寧な紹介と分かりやすいビデオがあります。 Opera エクステンションの内部に興味をお持ちで、コードを触ってみたい場合は、紹介記事 <a href="../whats-in-an-opera-extension-ja/index.html">Opera エクステンションってどんなもの?</a> をご覧になった上で、簡単なエクステンションの作り方について <a href="../opera-extensions-hello-world-ja/index.html">Opera エクステンションで Hello World!</a> をお読み頂くことをお勧めします。</p>

<h2>API に関する文書</h2>

<p>Opera エクステンションには、基本であるウェブ標準技術以外にも、いくつかの独特な API があります。これらの API を通して、プログラマはタブやウィンドウといったブラウザの機能を自在にコントロールできるようになります。私達は可能な限りエクステンションの API を分かりやすいものにしたので、開発者の方々もこの API についてすぐに理解していただけると思います。</p>
 
<p>Opera エクステンションの API は名前空間 <code>opera.extensions</code> にあります。 <code>opera.extensions</code> は、殆どの API が利用しているグローバルオブジェクトです。例えば、 <code>tabs</code> オブジェクトを初期化する場合、 <code>opera.extensions.tabs</code> と書きます。</p>

<p>まず始めに <a href="../opera-extensions-quick-documentation-overview/index.html#apireference">API Documentation overview page</a> をご覧になることをお勧めします。また Opera エクステンションの API に関するチュートリアルもご用意しました。これらではユーザーインターフェース、タブ、ウィンドウ、そしてメッセージングについての説明がなされています。</p>
 
<ul>
<li><a href="../opera-extensions-buttons-badges-and-popups/index.html">Opera extensions: buttons, badges and popups</a>： この記事では <code>ToolbarContext</code>, <code>ToolbarUIItem</code>, <code>ToolbarUIItemProperties</code>, <code>Popup</code>, <code>Badge</code> の各オブジェクトをご紹介します。ツールチップやアイコンを始めとする、ツールバーの UI の作成について詳しくご説明します。</li>
<li><a href="../opera-extensions-tabs-ja/index.html">Opera エクステンション：タブ</a>： この記事では <code>tabs</code> オブジェクトをご紹介し、タブの操作についてご説明します。</li>
<li><a href="../opera-extensions-windows-ja/index.html">Opera エクステンション：ウィンドウ</a>： この記事では <code>windows</code> オブジェクトをご紹介し、ウィンドウの操作についてご説明します。</li>
<li><a href="../opera-extensions-messaging/index.html">Opera extensions: Messaging</a>： この記事では <code>opera.extensions</code> の <code>postMessage</code> メソッドと onconnect, onmessage の各ハンドラをご紹介します。スクリプト・ポップアップ間のメッセージのやり取りの方法についてご説明します。</li>
</ul>

<h2>チュートリアル</h2>

<p>基本的な構造や様々な API に慣れてきたら、実践的なチュートリアルをお試しください。このチュートリアルは順次追加される予定です。</p>
<ul>
	<li><a href="../hands-on-building-an-opera-extension/index.html">Hands-on tutorial: building an Opera extension</a>： どのように JavaScript を使ってページに追加機能を与えるかをご説明します。</li>
	<li><a href="../converting-userjs-to-extensions-ja/index.html">UserJS を Opera エクテンションに</a>： Opera UserJS を Opera エクステンションに変換する方法をお教えします。</li>
</ul>

<h2>既知の問題</h2>
<ul>
	<li>&lt;script&gt; タグがなかったり https が使われていたりするページではエクステンションは動作しません(但し opera:config で明示的に設定することで動作させることができます)。</li>
	<li>バックグランドプロセスのデバッグには <code>opera.postError()</code> をお使いください。これは 表示 &gt; 開発者用ツール &gt; エラーコンソール に出力されます(Opera Dragonfly ではありません)。</li>
</ul>

      <p id="license" class="info">This article is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" rel="license">Creative Commons Attribution-Noncommercial-Share Alike 3.0 Unported</a> license.</p>

    </article>
<section id="comments">
  <h2>Comments</h2>
      <p class="info">The forum archive of this article is still available on <a href="http://my.opera.com/community/forums/topic.dml?id=787722">My Opera</a>.</p>
  <ul>
  </ul>
No new comments accepted.
</section>

  </section>

  <aside>
    <section class="info">
      <p class="author"><strong>Author</strong> <a href="../../../author/andreasbovens.html" rel="author">Andreas Bovens</a></p>
      <p class="author"><strong>Translator</strong> <a href="../../../author/m25686.html" rel="author">Makoto Mizukami</a></p>
      <p>
        <strong>Date</strong>
        Friday, October 29, 2010
      </p>

      <p class="tags"><strong>Tags</strong></p>
      <ul class="tags">
        <li><a href="../../tags/API.html" rel="tag">API</a></li>
        <li><a href="../../tags/articles.html" rel="tag">articles</a></li>
        <li><a href="../../tags/builds.html" rel="tag">builds</a></li>
        <li><a href="../../tags/documentation.html" rel="tag">documentation</a></li>
        <li><a href="../../tags/download.html" rel="tag">download</a></li>
        <li><a href="../../tags/extensions.html" rel="tag">extensions</a></li>
        <li><a href="../../tags/japanese.html" rel="tag">japanese</a></li>
        <li><a href="../../tags/opera&#32;extensions.html" rel="tag">opera extensions</a></li>
      </ul>
      <p><strong>Languages</strong>
        <a href="../getting-started-with-opera-extensions/index.html">English</a>
      </p>
    </section>
  </aside>




</section>
<script type="text/javascript" src="../../../../static.myopera.com/dev/js/highlight.pack.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

    <footer>
      <section role="contentinfo">
        <ul>
          <li><a href="../../../help.html">Help/<abbr>FAQ</abbr></a>
          <li><a href="http://my.opera.com/community/terms-of-service/?utm_source=devopera&amp;utm_medium=footer&amp;utm_campaign=devlinks">Terms of service</a>
          <li><a href="../../../privacy.html">Privacy</a>
        </ul>
      </section>
    </footer>
  </body>
</html>
